{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}





{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Providers register
    </h1>
    <div class="moj-search">

      <form action="search-provider-results" method="post">

        <div class="govuk-form-group">


          <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">

        </div>

        <button class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>

      </form>
    </div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-8">
    <p class="govuk-body"><a href="https://cordellhealth.co.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">Acorn Occupational Health Ltd (opens in new tab)</a></p>


    <p>Acorn Occupational Health Ltd provides workplace health assessments for mental and physical health. </p>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <ul class="govuk-list">
          <li>
          <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
              <span> 382 Rayners Lane, Middlesex, HA5 5DY</span>
              </li>

                <li>
      <span class="govuk-body govuk-!-font-weight-bold">Price range after 80% discount:
    </span>
      <span> £20 - £80 </span></li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Assessment methods:  </span>
      <span>Phone, video call, at a clinic </span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
      <span>+44 117 207 6190 </span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
      <span>enquires@cordellhealth.co.uk </span>
      </li>

      </ul>
    </div>
    </div>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <p class="govuk-body"><a href="https://healthworkltd.com" class="govuk-link" rel="noreferrer noopener" target="_blank">Ad Hoc Occupational Health Limited (opens in new tab)</a></p>


    <p>Ad Hoc Occupational Health Limited provides workplace health assessments for mental and physical health. </p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <ul class="govuk-list">
          <li>
            <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
              <span>493 Yeading Lane, London, UB5 6LN </span>
              </li>

                <li>
      <span class="govuk-body govuk-!-font-weight-bold">Price range after 80% discount:
    </span>
      <span> £20 - £80  </span></li>

      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Assessment methods: </span>
      <span>Phone, video call, home visit, at a clinic, at a workplace</span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
      <span>+44 161 831 9701 </span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
      <span>admin@healthworkltd.com</span>
      </li>

      </ul>
    </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <p class="govuk-body"><a href="https://innovatehealthcare.co.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Bespoke Wellbeing (opens in new tab) </a></p>


    <p>Bespoke Wellbeing provides workplace health assessments for mental and physical health. </p>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <ul class="govuk-list">
          <li>
            <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
              <span> 1000 Greenford Road, Greenford, Greater London, UB6 0UW</span>
              </li>

                <li>
      <span class="govuk-body govuk-!-font-weight-bold">Price range after 80% discount:
      </span>
      <span> £20 - £80  </span></li>

      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Assessment methods:  </span>
      <span>Video call, at a clinic, at a workplace </span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
      <span>+44 161 527 7405</span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
      <span>corpcma@innovatehmg.co.uk </span>
      </li>

      </ul>
    </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <p class="govuk-body"><a href="https://www.kaysmedical.com/" class="govuk-link" rel="noreferrer noopener" target="_blank">Best Practice Occupational Health (opens in new tab)</a></p>


    <p>Best Practice Occupational Health provides workplace health assessments for mental and physical health. </p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <ul class="govuk-list">
          <li>
            <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
              <span>46 Egerton Road, London, UB3 7GS</span>
              </li>

                <li>
      <span class="govuk-body govuk-!-font-weight-bold">Price range after 80% discount:
      </span>
      <span> £20 - £80  </span></li>

      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Assessment methods: </span>
      <span>Phone, home visit, at a clinic, at a workplace </span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
      <span>+44 779 521 4663 </span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
      <span>admin@keymedical.co.uk</span>
      </li>

      </ul>
    </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <p class="govuk-body"><a href="https://www.bespokewellbeing.co.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">BHSF Occupational Health Limited (opens in new tab)</a></p>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p>BHSF Occupational Health Limited provides physical health workplace health assessments.</p>
        <ul class="govuk-list">
          <li>
            <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
              <span>6 Pendennis Rd, London, SW16 2SW</span>
              </li>

                <li>
      <span class="govuk-body govuk-!-font-weight-bold">Price range after 80% discount:
      </span>
      <span> £20 - £60  </span></li>

      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Assessment methods:  </span>
      <span>Phone, video call, at a clinic, at a workplace </span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
      <span>+44 330 088 1538 </span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
      <span>info@bespokewellbeing.co.uk </span>
      </li>

      </ul>
    </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <p class="govuk-body"><a href="https://www.medigold-health.com" class="govuk-link" rel="noreferrer noopener" target="_blank">Caer Health Services Ltd (opens in new tab)</a></p>


    <p>Caer Health Services Ltd provides workplace health assessments for mental and physical health.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <ul class="govuk-list">
          <li>
            <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
              <span> 11 Leadenhall St, London, EC3V 1LP </span>
              </li>

                <li>
      <span class="govuk-body govuk-!-font-weight-bold">Price range after 80% discount:
    </span>
      <span> £20 - £80  </span></li>

      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Assessment methods:  </span>
      <span>Phone, video call, home visit, at a clinic, at a workplace </span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
      <span>+44 330 390 3370</span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
      <span>enquiries@medigold-health.com </span>
      </li>

      </ul>
    </div>
    </div>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <p class="govuk-body"><a href="https://www.psychologyexperts.org/our-services/occupational-psychology/" class="govuk-link" rel="noreferrer noopener" target="_blank">Cordell Health Ltd (opens in new tab)</a></p>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p>Cordell Health Ltd provides mental health workplace health assessments.</p>
        <ul class="govuk-list">
          <li>
            <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
              <span> 5 Westbourne Grove, Hove, BN3 5PJ </span>
              </li>

                <li>
      <span class="govuk-body govuk-!-font-weight-bold">Price range after 80% discount:
    </span>
      <span> £40 - £80 </span></li>

      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Assessment methods: </span>
      <span>Video call, home visit, at a workplace </span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
      <span>+44 127 338 1468</span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
      <span>admin@psychologyexperts.org </span>
      </li>

      </ul>
    </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <p class="govuk-body"><a href="https://www.psychologyexperts.org/our-services/occupational-psychology/" class="govuk-link" rel="noreferrer noopener" target="_blank">Crossland Occupational Health Ltd (opens in new tab)</a></p>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p>Crossland Occupational Health Ltd provides mental health workplace health assessments.</p>
        <ul class="govuk-list">
          <li>
            <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
              <span> 5 Westbourne Grove, Hove, BN3 5PJ </span>
              </li>

                <li>
      <span class="govuk-body govuk-!-font-weight-bold">Price range after 80% discount:
    </span>
      <span> £40 - £80 </span></li>

      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Assessment methods: </span>
      <span>Video call, home visit, at a workplace </span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
      <span>+44 127 338 1468</span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
      <span>admin@psychologyexperts.org </span>
      </li>

      </ul>
    </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <p class="govuk-body"><a href="https://www.psychologyexperts.org/our-services/occupational-psychology/" class="govuk-link" rel="noreferrer noopener" target="_blank">Dr.Arshad Health Associates (opens in new tab)</a></p>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p>Dr.Arshad Health Associates provides mental health workplace health assessments.</p>
        <ul class="govuk-list">
          <li>
            <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
              <span> 5 Westbourne Grove, Hove, BN3 5PJ </span>
              </li>

                <li>
      <span class="govuk-body govuk-!-font-weight-bold">Price range after 80% discount:
    </span>
      <span> £40 - £80 </span></li>

      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Assessment methods: </span>
      <span>Video call, home visit, at a workplace </span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
      <span>+44 127 338 1468</span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
      <span>admin@psychologyexperts.org </span>
      </li>

      </ul>
    </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <p class="govuk-body"><a href="https://www.psychologyexperts.org/our-services/occupational-psychology/" class="govuk-link" rel="noreferrer noopener" target="_blank">Elite Executives Limited (opens in new tab)</a></p>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p>Elite Executives Limited provides mental health workplace health assessments.</p>
        <ul class="govuk-list">
          <li>
            <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
              <span> 5 Westbourne Grove, Hove, BN3 5PJ </span>
              </li>

                <li>
      <span class="govuk-body govuk-!-font-weight-bold">Price range after 80% discount:
    </span>
      <span> £40 - £80 </span></li>

      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Assessment methods: </span>
      <span>Video call, home visit, at a workplace </span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
      <span>+44 127 338 1468</span>
      </li>
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
      <span>admin@psychologyexperts.org </span>
      </li>

      </ul>
    </div>
    </div>


    <nav class="moj-pagination" aria-label="Pagination navigation">

      <ul class="moj-pagination__list">
        <li class="moj-pagination__item  moj-pagination__item--prev">
          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
        </li>

        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1" aria-label="Page 1 of 30">1</a></li>

        <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 2 of 30" aria-current="page">2</li>

        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">3</a></li>

        <li class="moj-pagination__item moj-pagination__item--dots">…</li>

        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5" aria-label="Page 5 of 30">5</a></li>

        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
        </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>10</b> to <b>20</b> of <b>30</b> pages</p>
    </nav>







    </div>
  </div>

{% endblock %}
