{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
      Clinic not published on register
      </h1>

    </div>



  <p class="govuk-body"> <a href="search-provider" class="govuk-link">Remove another provider</a></p>

    </div>
  </div>


</form>
    </div>
  </div>

{% endblock %}
