{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">This is the  discount code to use with the assessment provider</h1>


<div class="govuk-inset-text">
This code has also been sent to your email and it is valid until 21 September 2022.
</div>

      <h2 class="govuk-heading-l govuk-!-margin-top-8"> W 7 4   H L 1   P Z 9</h2>











<a href=""
      <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
    Continue
  </button></a>
<p><a href="">Print this page</a></p>

    </div>
  </div>
  </main>
  </div>
{% endblock %}
