{% extends "layouts/main.html" %}

{% block pageTitle %}
Email not found
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Email not found
      </h1>

      <p>
        You must enter the email address that you used to join the trial.
      </p>

      <p>
        If you don't know which email was used to join the trial you will have to <a href="https://forms.office.com/pages/responsepage.aspx?id=6fbxllcQF0GsKIDN_ob4w1ejj5MSgNxHiCj5RHPmAu5UNUg4N1lBUjNPNVJEODE4QTlRR0xaREQxUy4u">re-register</a>.
      </p>

      <p>
        Find out more about <a href="">What is a workplace health assessment</a> and <a href="how-scheme">How the discount scheme works</a>.
      </p>

      <p>
        You can also try and <a href="email-address-gate">enter your email address</a> again.
      </p>

      {# {{ govukButton({
        text: "Try again"
      }) }}

      {{ govukButton({
        text: "Leave the service",
        classes: "govuk-button--secondary"
      }) }} #}

    </div>
  </div>

{% endblock %}
