{% extends "layout-employer.html" %}

{% block pageTitle %}
  Get an 80% discount on expert workplace health advice and recommendations for an employee
{% endblock %}






{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

     
</div>

<div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">
    Get a discount on workplace health assessments for employees  </h1>
</div>

<div class="govuk-grid-column-two-thirds">

  <ul class="govuk-list app-govuk-nav">
    <p>Contents</p>
  <li><a href="start-page-redesign">Overview</a> </li>
  <li><a href="eligibility">Eligibility</a> </a></li>
  <li>What is a workplace health assessment</li>
  <li><a href="support-an-employee">Using workplace health assessment to support an employee</a></li>
  <li><a href="how-scheme-works">How the discount scheme works</a>
  <li><a href="apply">Apply</a></li>

  </ul>

  <h2 class="govuk-heading-m"><a id="what-is-a-workplace-health-assessment"></a> What is a workplace health assessment</h2>

  <p>If an employee is finding it difficult to work because of their health, they can get a workplace health assessment. </p>
  <p>Workplace health assessments are sometimes called occupational health or vocational rehabilitation assessments.</p>
  <p>A workplace health assessment is different from a doctor's report. </p>
  <p>It focuses on an employee’s work environment and how their job might affect their health. </p>

  <div class="govuk-inset-text">
    A workplace health professional will not diagnose health conditions or disabilities. They will give advice and recommend onward support for an employee's health at work. 
  </div>

  <p>The employee may have: </p>

          <ul class="govuk-list govuk-list--bullet">
  <li>a mental health condition, for example anxiety or depression</li>
<li>a physical health condition like diabetes or arthritis </li>
<li>an injury, such as a broken leg </li>
<li>an impairment or physical disability, such as blindness </li>
<li>a learning disability, for example Down's syndrome</li>
<li>a learning difficultly like dyslexia</li>
<li>a neurodivergence like autism or ADHD</li>
<li>another condition, disability or illness that might affect their ability to do their job</li>
      </ul>




  <h3 class="govuk-heading-s">What happens during a workplace health assessment</h3>
<p>An assessment can be remote or in person. </p>
<p>During the assessment, a workplace health professional will ask an employee about: </p>

          <ul class="govuk-list govuk-list--bullet">
  <li>their health and any treatment they're having</li>
<li>their usual and expected work activities  </li>
<li>their general lifestyle and activities outside work  </li>
<li>who is already involved in supporting their health </li>

      </ul>

<p>The conversation is impartial and confidential. </p>
<p>The employee's medical details will not be shared without their consent. </p>

<h3 class="govuk-heading-s">What happens after a workplace health assessment</h3>
<p>The workplace health professional will write a report. </p>
<p>The report will contain advice and recommendations, which could include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>adjustments to an employee's workspace, such as a bigger screen or adjustable chair</li>
<li>a phased return to work or different working hours </li>
<li>a referral to other services, like physiotherapy or mental health support  </li>
<li>guidance on free and paid-for services employers could use to support an employee </li>
<li>help for employers about keeping to health and safety regulations </li>
<li>links to other organisations who may be able to help </li>

      </ul>
<p>After the report has been sent, the employer and employee should discuss if any adjustments are needed.  </p>

<h3 class="govuk-heading-s">The law on reasonable adjustments </h3>

<p>By law, you must make changes if you know, or could be expected to know, that your employee is disabled. These are called reasonable adjustments. </p>
<p><a href="tps://www.acas.org.uk/reasonable-adjustments  ">Find out when you must make reasonable adjustments on the Acas (Advisory, Conciliation and Arbitration Service) website (opens in a new tab).  </a></p>


<h3 class="govuk-heading-s">Help with costs from Access to Work</h3>

<p>If adjustments are more expensive than is reasonable for you, your employee can <a href="https://www.gov.uk/access-to-work">apply to Access to Work (opens in new tab)</a> to help with the costs. </p>



    </div>

    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular ">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Related content</span>
          
          <a href="gov-content" class="govuk-body-s">
            When should you get a workplace health assessment for an employee </a>

         <br><br>
<a href="https://www.support-with-employee-health-and-disability.dwp.gov.uk/support-with-employee-health-and-disability" class="govuk-body-s">  Supporting and managing disabled employees and employees with health conditions </a>

<br><br>

<a href="https://www.gov.uk/access-to-work" class="govuk-body-s">
     Advice for employees if their health is affecting them at work </a>
  
        </h2>
      </div>




            </div>


      </div>

      <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="eligibility" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Eligibility</span></a>
        </div>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="support-an-employee" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Using workplace health assessments to support an employee</span></a>
        </div>
      </nav>



  </div>
{% endblock %}
