{% extends "layout.html" %}

{% block pageTitle %}
  Workplace Health Assessment Discount Scheme 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <section class="dwp-key-details-bar" aria-label="Key details">
    <div class="dwp-key-details-bar__key-details">
    <dl class="dwp-key-details-bar__top-block">
      <dt class="govuk-visually-hidden">Guidance</dt>
      <dd class="dwp-key-details-bar__secondary">
        Guidance
      <br><br>
    Workplace health
    <br><br>
    10 January 2023
  </dd>

    </dl>

    </div>
    </section>
</div>

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Workplace Health Assessment Discount Scheme 
    </h1>
</div>
<div class="govuk-grid-column-full">

<p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>

<ul class="govuk-list govuk-list_list-item--dashed">
  <li>
  —  <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="1scheme-overview ">Scheme overview </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="2cost">Costs and pricing </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="3how-it-works">How the scheme works </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="4how-to-become">How to become a listed health provider in the scheme</a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="5eligibility">Eligibility </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="6what-and-where">What you need to send and where to send it  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="7accepted">If you are accepted to join the scheme   </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="8payment">Payment process  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="9help">Contact Workplace Health scheme  </a>
  </li>
</ul>


</div>
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  <h2 class="govuk-heading-m">Scheme overview   </h2>
<p>The Workplace Health Assessment Discount Scheme is new initiative by the government. It’s designed to help small and medium-sized employers assist their employees by finding and engaging with workplace-focused health providers.   </p>

<div class="govuk-inset-text">
  This guide is also available in <a href="#">Welsh (Cymraeg)</a>.
</div>


<p>Employers can use this service to:  </p>

          <ul class="govuk-list govuk-list--bullet">
  <li>get an 80% discount code to help pay for a workplace health assessment for an employee   </li>
<li>search for a private sector workplace health provider to do the assessment  </li>

      </ul>
<p>
Eligible occupational health and vocational rehabilitation providers with workplace-based experience can apply to join the scheme. If accepted, they’ll be listed in register in the service and will then be searchable by employers.   </p>


<p>The scheme is open to any organisation registered in England or Wales with one of the following:  </p>


<ul class="govuk-list govuk-list--bullet">
  <li>1 to 50 employees, and a yearly turnover of less than £10.2 million or a yearly balance sheet of less than £5.1 million </li>

  <li>51 to 250 employees, and a yearly turnover of less than £22.8 million or a yearly balance sheet of less than £11.4 million  </li>
</ul>


<p>A pilot scheme is expected to be running from Spring 2023, but this could be subject to change. You’ll be notified well before the scheme is about to open to employers.  </p>


<p class="govuk-body govuk-!-font-weight-bold govuk-brand-colour govuk-!-margin-top-8">Next</p>

<p ><a href="2cost">Costs and pricing</a></p>












    </div>




      </div>




  </div>
{% endblock %}
