{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block pageTitle %}
You cannot request another one-time passcode
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          You cannot request another one-time passcode
        </h1>
        </legend>
        </div>
        
        <p class="govuk-body">There is a limit to the number of times you can request a new one-time passcode.</p>

        <p class="govuk-body">You can <a href="request-code-1">request a new passcode</a> in 5 minutes.</p>
        
        </div>
        </div>

{% endblock %}
