{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block pageTitle %}
Your email has not been found
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your email has not been found
      </h1>

      <p>
        You need to enter the email address that you used when you first applied for a discount code.
      </p>

      <div class="govuk-inset-text">
        Check that you’ve used the correct spelling of your email.
      </div>

      <p>
        If you don’t know the email address you will have to <a href="are-you-eligible">apply again</a> or you can <a href="email-address-gate-returning">go back and try again</a>.
      </p>

      <p>
        If you’re new to the service you need to <a href="are-you-eligible">apply</a> to see if you are eligible for the discount.
      </p>

      {# {{ govukButton({
        text: "Try again"
      }) }}

      {{ govukButton({
        text: "Leave the service",
        classes: "govuk-button--secondary"
      }) }} #}

    </div>
  </div>

{% endblock %}
