{% extends "layout.html" %}

{% block pageTitle %}
Which sector does your organisation belong to?
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<!--<span class="govuk-caption-l">Find out if you're eligible</span>-->
              <h1 class="govuk-fieldset__heading">
                Which sector does your organisation belong to?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="register" name="register" type="radio" value="#">
                <label class="govuk-label govuk-radios__label" for="register">
                  Agriculture, forestry, fishing or mining
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="register-2" name="register" type="radio" value="#">
                <label class="govuk-label govuk-radios__label" for="register-2">
                  Manufacturing, construction or transport
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="register-3" name="register" type="radio" value="#">
                <label class="govuk-label govuk-radios__label" for="register-3">
                  Utilities provision (electricity, gas, water, waste disposal etc.)
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="register-4" name="register" type="radio" value="#">
                <label class="govuk-label govuk-radios__label" for="register-4">
                  Wholesale or retail
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="register-4" name="register" type="radio" value="#">
                <label class="govuk-label govuk-radios__label" for="register-4">
                  Hospitality, food service, arts, entertainment or recreation
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="register-4" name="register" type="radio" value="#">
                <label class="govuk-label govuk-radios__label" for="register-4">
                  Finance or business services
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="register-4" name="register" type="radio" value="#">
                <label class="govuk-label govuk-radios__label" for="register-4">
                  Education, health or government
                </label>
              </div>
              <!--  <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="register-4" name="register" type="radio" value="#">
                <label class="govuk-label govuk-radios__label" for="register-4">
                  Other
                </label>
              </div>-->
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
                <label class="govuk-label govuk-radios__label" for="contact-3">
                  Other
                </label>
              </div> 
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="register-4">
                    Sector
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
                </div>
              


            </div>

          </fieldset>
        </div>



        <a href="email-address-gate">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </a>

</form>


    </div>
  </div>

{% endblock %}
