//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

@import "node_modules/govuk-frontend/dist/govuk/all";
@import "components/hidden.scss";
@import "components/action-bar.scss";
@import "components/filter-layout.scss";
@import "components/filter-panel.scss";

.dwp-header {
background-color: #0b0c0c;
border-bottom: 0;
width: 100%;
}

.dwp-header__container {
margin-bottom: 0;
border-bottom: 0;
}

.dwp-header__container--service-name {
width: 66.66%;
float: left;
}

.dwp-header__container--sign-in {
width: 33.33%;
float: right;
}

.sign-in {
float: right;
font-weight: 700;
margin-top: 2px;
}

.govuk-header__logo {
    width: 25%;
    padding-right: 15px;
    float: left;
    vertical-align: top;
}

@media (min-width: 40.0625em) {
.sign-in {
margin-top: 15px;
}
}

.moj-filter__tag:after {
    background-image: url("/plugin-assets/%40ministryofjustice%2Ffrontend/moj/assets/images/icon-tag-remove-cross.svg");
}


//key Details

.dwp-key-details-bar {
background-color: #1d70b8;
color: #fff;
font-family: Arial, sans-serif;
}

.dwp-key-details-bar dt,
.dwp-key-details-bar dd {
border: none;
margin: 0;
padding: 0;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details {
margin: 0 auto;
max-width: 960px;
padding: 20px 30px;
position: relative;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__top-block::after,
.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block::after {
clear: both;
content: ' ';
display: block;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block {
border-top: 1px solid rgba(255, 255, 255, .3);
content: ' ';
padding-top: 10px;
margin-top: 6px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details dd,
.dwp-key-details-bar .dwp-key-details-bar__key-details dt {
float: left;
font-size: 19px;
margin-right: 5px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details dd {
margin-right: 20px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__name {
font-size: 36px;
font-weight: 700;
line-height: 1.11111;
margin-right: 10px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__nino {
font-size: 24px;
line-height: 1;
margin-top: 12px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status {
font-size: 16px;
font-weight: 700;
line-height: 1.25;
padding: 5px 8px 0;
color: #005ea5;
background-color: #fff;
letter-spacing: 1px;
text-decoration: none;
text-transform: uppercase;
float: right;
margin: 5px 0 0;
}

@media (max-width: 40.0525em) {
.dwp-key-details-bar .dwp-key-details-bar__key-details {
padding: 20px 15px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block {
border: 0;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details dd,
.dwp-key-details-bar .dwp-key-details-bar__key-details dt {
float: none;
font-size: 16px;
margin: 0;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details dd {
margin-bottom: 20px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details dd:last-of-type {
margin-bottom: 20px;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__name {
font-size: 24px;
line-height: 1.04167;
float: left;
margin: 0 5px 0 0;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__nino {
font-size: 18px;
float: left;
margin: 5px 0 0 0;
}

.dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status {
font-size: 14px;
float: left;
clear: both;
margin-top: 5px;
}
} 





.govuk-button--alt {
    background-color: #1d70b8;
}

.govuk-button--alt:hover {
    background-color: #003078;
}


.autocomplete__option {
    font-family: "GDS Transport", arial, sans-serif;
}