{% extends "layout2.html" %}

{% block pageTitle %}
  What is the company's name?
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
{% block content %}



  <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <form class="form" method="post">
  <div class="govuk-form-group">


    <h1 class="govuk-heading-l">Provider details</h1>
    

    <div class="govuk-form-group">
      <label class="govuk-label" for="customer-surname">
       Company name
      </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text">
    
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="customer-surname">
            Email address
        </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text">
      
        </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="customer-surname">
       Website 
       
        </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text">
      
        </div>

        
        
        
        <!--COLUMN 4-->
        <div class="govuk-form-group">
        <label class="govuk-label" for="customer-surname">
          Phone number
        </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text">
        
        </div>
      
  </div>

  <h2 class="govuk-heading-m govuk-!-margin-top-8">
    Assessment details</h2>

    <p>Assessment price range</p>
<div id="waste-hint" class="govuk-hint">If a provider has a fixed price for assessments, enter the value in the lowest price box and leave the highest price box blank.</div>



     <!--COLUMN 13-->

     <div class="govuk-form-group">

       <div class="govuk-form-group">
         <p>
       Lowest price
    </p>

         <div class="govuk-input__wrapper">
           <div class="govuk-input__prefix" aria-hidden="true">£</div>
           <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
         </div>
</div>

<p>to</p>
                     <div class="govuk-form-group ">
                       <p>
                     Highest price (optional)
                  </p>

                       <div class="govuk-input__wrapper">
                         <div class="govuk-input__prefix" aria-hidden="true">£</div>
                         <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
                       </div>
                     </div>

         </div>








     <!--
     <div class="govuk-form-group">
       <label class="govuk-label" for="assessmentType">
           Assessment types
       </label>
       <div id="waste-hint" class="govuk-hint">
    Select all that apply.
  </div>
       <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
     <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="workplacehealth-1" name="assessmentType" type="checkbox" value="mental">
       <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-1">
       Workplace mental health assessment
       </label>
     </div>
     <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="workplacehealth-2" name="assessmentType" type="checkbox" value="physical">
       <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-2">
         Workplace physical health assessment
       </label>
     </div>
   
       </div>
       </div> -->

       <div class="govuk-form-group">
         <label class="govuk-label" for="assessmentType">
             Assessment methods
         </label>
         <div id="waste-hint" class="govuk-hint">
      Select all that apply.
    </div>
         <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="workplacehealth-3" name="assessmentType" type="checkbox" value="phone-method">
         <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-3">
         Phone
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="workplacehealth-4" name="assessmentType" type="checkbox" value="video-method">
         <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-4">
         Video call
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="workplacehealth-5" name="assessmentType" type="checkbox" value="homevisit">
         <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-5">
         Home visit
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="workplacehealth-6" name="assessmentType" type="checkbox" value="clinicvisit">
         <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-6">
         At a clinic
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="workplacehealth-7" name="assessmentType" type="checkbox" value="workplacevisit">
         <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-7">
         At a workplace
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="workplacehealth-8" name="assessmentType" type="checkbox" value="workplacevisit">
         <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-8">
         At an agreed location
         </label>
       </div>
         </div>
         </div>

  


        <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Continue</button>


      </form>


      </div>


  </div>

{% endblock %}
