{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="search-provider">Back</a>
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Cordell Health Ltd
    </h1>

  </div>

  <div class="govuk-grid-column-one-third">



      <nav class="moj-side-navigation govuk-!-margin-top-5" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">

          <li class="moj-side-navigation__item">
            <a href="provider-details-5">Clinic details</a>
          </li>



          <li class="moj-side-navigation__item">
            <a href="provider-details-2">Provider details</a>
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="provider-details-6" aria-current="location">Changes history</a>
          </li>
        </ul>
      </nav>

    </div>


  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-7">
    Changes history
    </h2>

    <div class="moj-timeline">
      <div class="moj-timeline__item">

        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Clinic CF14 7FA phone number changed</h2>


        </div>

        <p class="moj-timeline__date">
          <time datetime="2019-06-14T14:01:00.000Z">14 June 2022, 2:01pm</time>
        </p>
        <div class="moj-timeline__description">
              <p>From: 0123456910</p>
              <p>To: 09876543211</p>
                  </div>


      </div>

      <div class="moj-timeline__item">

        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Acorn Occupational Health Ltd unpublished from register</h2>



        </div>

        <p class="moj-timeline__date">
          <time datetime="2019-06-07T12:32:00.000Z">7 June 2022, 12:32pm</time>
        </p>


      </div>

      <div class="moj-timeline__item">

        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Acorn Occupational Health Ltd published on register</h2>


        </div>

        <p class="moj-timeline__date">
          <time datetime="2019-06-06T09:12:00.000Z">6 June 2022, 9:12am</time>
        </p>


      </div>

      <div class="moj-timeline__item">

        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Clinic address changed</h2>



        </div>

        <p class="moj-timeline__date">
          <time datetime="2019-05-28T10:45:00.000Z">28 May 2022, 10:45am</time>
        </p>
        <div class="moj-timeline__description">
              <p>From: St Andrews House, Andrew's Road, Cardiff, CF14 7FA</p>
              <p>To: 130 Station Road, Cardiff, CB21 9FG</p>
                  </div>


    </div>




      </div>

  </div>

{% endblock %}
