{% extends "layout2.html" %}

{% block pageTitle %}
  Cordell Health Ltd Clinics
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="search-provider">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Cordell Health Ltd</span>
    <h1 class="govuk-heading-l">
    Check provider details
    </h1>

  </div>

  <div class="govuk-grid-column-one-third">

    <nav class="moj-side-navigation govuk-!-margin-top-5" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="provider-details-2" aria-current="location">Provider details</a>
        </li>
        <li class="moj-side-navigation__item ">
          <a href="provider-details-clinics">Clinic locations</a>
        </li>





        <li class="moj-side-navigation__item">
          <a href="provider-details-6">Changes history</a>
        </li>
      </ul>
    </nav>



    </div>


  <div class="govuk-grid-column-two-thirds">

    

    <dl class="govuk-summary-list govuk-!-margin-top-5">

      <h2 class="govuk-heading-m">Provider details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            Cordell Health Ltd
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-new-1-change.html#provider-details">
              Change<span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Email address
          </dt>
          <dd class="govuk-summary-list__value">
          cordell@example.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-email">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Website
          </dt>
          <dd class="govuk-summary-list__value">
          https://www.cordell.co.uk/
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-website-clinic">
              Change<span class="govuk-visually-hidden"> website address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">07700 900457</dd>
  
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-phone">
              Change<span class="govuk-visually-hidden"> phone number</span>
            </a>
          </dd>
        </div>
</dl>

<h2 class="govuk-heading-m">Assessment details</h2>
   

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Assessment price 
</dt>
<dd class="govuk-summary-list__value">
£200 to £400
</dd>
<dd class="govuk-summary-list__actions">
<a class="govuk-link" href="change-price-range">
  Change<span class="govuk-visually-hidden"> price range</span>
</a>
</dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Assessment methods
  </dt>
  <dd class="govuk-summary-list__value">

    <p class="govuk-body">
Phone<br> Video call<br> 
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="change-types-clinic">
      Change<span class="govuk-visually-hidden"> contact details</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Can the provider's health professional's travel to any location in England and Wales to deliver assessments?
  </dt>
  <dd class="govuk-summary-list__value">
  No
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="change-nationwide">
    Change<span class="govuk-visually-hidden"> travel distance</span>
  </a>
  </dd>
  </div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Distance health professionals can travel
  </dt>
  <dd class="govuk-summary-list__value">
  50 miles
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="change-travel-distance1">
    Change<span class="govuk-visually-hidden"> travel distance</span>
  </a>
  </dd>
  </div>



     




      
</dl>

<p class="govuk-body"> <a href="delete-provider" class="govuk-link">Remove provider from database </a></p>
      </div>

  </div>

{% endblock %}
