{% extends "layout2.html" %}

{% block pageTitle %}
  Cordell Health Ltd Clinics
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="search-provider">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Cordell Health Ltd</span>
    <h1 class="govuk-heading-l">
    Check provider details
    </h1>

  </div>

  <div class="govuk-grid-column-one-third">

    <nav class="moj-side-navigation govuk-!-margin-top-5" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item ">
          <a href="provider-details-2" aria-current="location">Provider details</a>
        </li>
        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="provider-details-5">Clinic locations</a>
        </li>





        <li class="moj-side-navigation__item">
          <a href="provider-details-6">Changes history</a>
        </li>
      </ul>
    </nav>



    </div>


  <div class="govuk-grid-column-two-thirds">

    
    <h2 class="govuk-heading-m govuk-!-margin-top-7">
      Search for a clinic
    </h2>

    <div class="moj-search">

      <form action="#" method="post">

        <div class="govuk-form-group">


          <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">

        </div>

        <button class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>

      </form>
    </div>




      
</dl>

   

   

        <dl class="govuk-summary-list govuk-!-margin-top-5">
          <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">

            
          
            </dd>
          </dd>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row ">
        <dd class="govuk-summary-list__value">
          St Andrews House<br> St Andrew's Rd<br> Bristol <br>BS11 9DQ
        </dd>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green">
      
            Published
            </strong>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="clinic-details-cordell">
            View or update<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
        </div>
      <!--  <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            72 Guild Street<br> London <br>SE23 6FH
          </dd>
        <dd class="govuk-summary-list__value">
         
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            View or update<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>-->


    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">
        16 St John Street<br> Manchester<br> M3 4EA
      </dd>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--red">
      
        Unpublished
        </strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="clinic-details-cordell2">
        View or update<span class="govuk-visually-hidden"> address</span>
      </a>
    </dd>
  </div>

      </dl>
      <div><a href="add-new-clinic">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add a new clinic
        </button></div></a>

  


      </div>

  </div>

{% endblock %}
