{% extends "layout-employer.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




              <h1 class="govuk-heading-l">Check your answers </h1>

              <h2 class="govuk-heading-m">Eligibility details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Company registration
                  </dt>
                  <dd class="govuk-summary-list__value">
                    England and Wales
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="location">
                      Change<span class="govuk-visually-hidden"> Change company registration</span>
                    </a>
                  </dd>
                </div>


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Number of employees
                  </dt>
                  <dd class="govuk-summary-list__value">

                    <p class="govuk-body">1 to 9 employees</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="business-size">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                What was your turnover for the last financial year?
                </dt>
                <dd class="govuk-summary-list__value">

                  <p class="govuk-body">More than £10.2 million</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="turnover">
                    Change<span class="govuk-visually-hidden"> turnover for the last financial year</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What was your balance sheet total for the last financial year?

                </dt>
                <dd class="govuk-summary-list__value">

                  <p class="govuk-body">Less than £5.1 million</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="balance-sheet">
                    Change<span class="govuk-visually-hidden"> balance sheet total for last financial year</span>
                  </a>
                </dd>
              </div>
            </dl>

              <h2 class="govuk-heading-m">Contact details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Company name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Philips
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="business-name-change">
                      Change<span class="govuk-visually-hidden"> company name</span>
                    </a>
                  </dd>
                </div>



                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    How can we send you the discount code?
                  </dt>
                  <dd class="govuk-summary-list__value">

                    <p class="govuk-body">Email</p>
                  </dd>
                  
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="contact-method">
                        Change<span class="govuk-visually-hidden"> email address</span>
                      </a>
                    </dd>
                
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Email address
                  </dt>
                  <dd class="govuk-summary-list__value">

                    <p class="govuk-body">phillips@example.com</p>
                  </dd>
                  
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="email">
                        Change<span class="govuk-visually-hidden"> email address</span>
                      </a>
                    </dd>
                
                </div>
              </dl>




<h2 class="govuk-heading-m">Declaration</h2>

<h3 class="govuk-heading-s">Data management policies</h3>
<p>You understand that you have:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a privacy policy that complies with data protection law</li>
  <li>registration with the Information Commissioner’s Office (ICO), for example a certificate</li>
  <li>a GDPR record management policy that complies with data protection law, including safe transportation, access, storage, retention and disposal of records</li>
  <li>understood that you must keep all documents about assessments, including invoices and the assessors’ contact and professional details, for six years</li>
  <li>understood DWP may request copies of assessment documents at any time within six years</li>
  <li>understood that your data, for example your contact details or business information will be shared with DWP and relevant independent research agencies - to evaluate the service on behalf of DWP</li>
</ul>

{# <p>By sending the application you confirm that the information you have given to the Department of Work and Pensions (DWP) is complete and correct.</p>

<h3 class="govuk-heading-s">Using the service</h3>
<p>You agree and understand that:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>you will need to pay 20% of the cost of any workplace health assessments you arrange</li>
  <li>you can only use discount codes with health care providers on the DWP register</li>
  <li>if you need to make a complaint about a health care provider, you must contact them directly</li>
</ul>

<h3 class="govuk-heading-s">Changes to the service</h3>
<p>You agree and understand that DWP may:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>change the eligibility requirements</li>
  <li>change the discount amount</li>
  <li>pause or stop the service at any time</li>
</ul>

<h3 class="govuk-heading-s">Liability</h3>
<p>You agree and understand that DWP is not liable for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the quality of health care provider’s assessments</li>
  <li>any losses or additional costs you may receive because of a health care provider</li>
</ul>

<h3 class="govuk-heading-s">Your data</h3>
<p>You agree and understand that DWP:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>will process your information as explained in the DWP <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter"  class="govuk-link" rel="noreferrer noopener" target="_blank">Personal Information Charter (opens in a new tab)</a></li>
  <li>will share your personal data with IFF Research Ltd and London Economics to independently evaluate the service</li>
  <li>IFF Research and London Economics may contact you to take part in voluntary research about the service you and your employee received</li>
  <li>may do further checks on your organisation's eligibility</li>
</ul>

<p>If you deliberately give wrong information or collude with a provider, you may:</p>
<ul class="govuk-list govuk-list--bullet"> 
  <li>be prosecuted</li>
  <li>have to pay a financial penalty</li>
  <li>have to pay back the full cost of any discounted assessments</li>
</ul>

<p>DWP may update these declarations at any time.</p> #}


<a href="voucher"
        <button class="govuk-button" data-module="govuk-button">Continue</button>
</a>


            </div>
          </div>
        </main>
      </div>


  </div>
  </div>
</main>
    </div>

{% endblock %}
