{% extends "layouts/main.html" %}

{% block pageTitle %}
Join the occupational health assessment provider register, so that an employer can use their discount code
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
  Join the occupational health assessment provider register, so that an employer can use their discount code
</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="how-it-works">
              How it works
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="eligibility">
              Eligibility
            </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="what-health-assessments-mean">
                What health assessments mean as part of this scheme
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="assessment-costs">
                Assessment costs
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              Payment process
            </li>            
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="join-the-provider-register">
                Join the provider register
              </a>
            </li>                        
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h2 class="govuk-heading-l">
        Payment process
      </h2>
      
      <p class="govuk-body">Once you've carried out an assessment, you will need to invoice the employer and DWP.</p>

      <p class="govuk-body">Invoice the employer for 20% of the cost of the assessment. Invoice DWP for the remaining balance. You need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          email the invoice to Shared Services Connected Ltd (SSCL) at APinvoices-DWP-U@gov.sscl.com
        </li>
        <li>
          copy the email to DWP at: workplacehealth.provider@dwp.gov.uk
        </li>
      </ul>

      <p class="govuk-body">We aim to pay you 30 days after we receive your invoice.</p>

      <div class="govuk-inset-text">
        DWP payments team will send you a purchase order number which you must use on every invoice you send to us.
      </div>           

      <p class="govuk-body">You can invoice each assessment individually or put multiple assessments for different employers into one invoice.</p> 




      <h3 class="govuk-heading-m">
        What you must include in your invoice
      </h3>

      <p class="govuk-body">Make sure it clearly displays the word ‘invoice’ and is addressed to:</p>

      <p class="govuk-body">DWP/SSCL invoices
        <br>PO Box 406
        <br>Newport
        <br>NP10 8FZ
      </p>

      <p class="govuk-body">If should also include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          the discount code
        </li>
        <li>
          invoice number or unique identification number
        </li>
        <li>
          the purchase order number we send you
        </li>
        <li>
          your company name, address, and contact details
        </li>
        <li>
          clear description of what you're charging for
        </li>
        <li>
          the name of the employee's workplace
        </li>
        <li>
          date the service was provided (supply date)
        </li>
        <li>
          date the invoice was created
        </li>
        <li>
          amount being charged (this could be one or more)
        </li>
        <li>
          VAT amount (if applicable)
        </li>
        <li>
          total amount owed
        </li>
      </ul>


      <p class="govuk-body">You also need to make sure your invoice:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>has only the items that are on your purchase order</li>
        <li>gives descriptions that match those on your purchase order</li>
        <li>gives the supplier details that match those on your purchase order</li>
      </ul>

      <p class="govuk-body">If any of this information is missing, the invoice will be sent back to you.</p>

      <div class="govuk-inset-text">
        Invoices need to be PDF files.  Do no encrypt or password-protect them.
      </div> 

      <h3 class="govuk-heading-m">
        Sending your invoice to DWP
      </h3>

      <p class="govuk-body">Send your invoice using email with your invoice attached as a PDF.</p>

      <p class="govuk-body">Your email should:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>be no more than 4mb in size</li>
        <li>give SSCL any supporting information in the invoices PDF file, for example, backing data</li>
      </ul>

      <p class="govuk-body">Make sure the subject line of your email says ‘Invoice’.</p>

      <p class="govuk-body">If the email and invoice does not meet these requirements, it will not be processed and will be sent back to you.</p>

      <h3 class="govuk-heading-m">
        Support with invoices
      </h3>

      <p class="govuk-body">If you need help with an invoice, you can call SSCL on 0845 241 5352.
        The phone line is open Monday to Friday, 9am to 4pm.</p>

      <p class="govuk-body">Or contact DWP at workplacehealth.provider@dwp.gov.uk if you haven't got the purchase order number.</p>

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "What health assessments mean as part of this scheme",
          href: "what-health-assessments-mean"
        },
        next: {
          labelText: "Join the provider register",
          href: "join-the-provider-register"
        }
      }) }}


    </div>


  </main>
</div>





    </div>
  </div>

{% endblock %}
