{% set serviceName %}
  Join the occupational health assessment provider register, so that an employer can use their discount code
{% endset%}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Join the occupational health assessment provider register, so that an employer can use their discount code
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Provider terms and conditions</h1>

    <p class="govuk-body">This page explains the terms and conditions for a provider to join the workplace health assessment register.  You must agree to these before you can join the register.</p>

    <h2 class="govuk-heading-m">Ways of working</h2>


    <p class="govuk-body"><strong>General obligations</strong></p>
    <p class="govuk-body">You agree that you will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>work within these terms and conditions</li>
      <li>follow the law and act honestly and fairly</li>
      <li>tell DWP of any changes to your information within 7 days of them happening</li>
      <li>tell SMEs that any other discounts you offer in your service have not been funded by DWP</li>
      <li>maintain the reputation of the scheme and DWP by giving SMEs correct information</li>
      <li>not say that you are endorsed by DWP, but if accepted and want to tell people, that you are registered on the scheme</li>
      <li>not say that you have a relationship of employment, agency, partnership, or joint venture with DWP</li>
      <li>not say that DWP guarantees the quality of your health assessments</li>
      <li>not accept any discount codes if DWP pauses or stops the scheme because you will not be paid</li>
      <li>not charge more than £400 for an assessment through this service</li>
    </ul>


    <p class="govuk-body"><strong>Clinical governance</strong></p>
    <p class="govuk-body">You agree that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>before assessments, you get a referral from the employer to understand their employee’s needs</li>
      <li>at assessments, the employee will be told about what will be included in the report</li>
      <li>the employee will be given the option to see the report before it is sent to their employer</li>
      <li>if the assessment is completed by a trainee, they will be supported by a fully certified healthcare professional</li>
      <li>all clinical staff are professionally indemnified with a reputable insurance company</li>
      <li>you have the correct quality assurance, quality risk, management and incident procedures in place which are in line with your professional legal requirements</li>
      <li>audits of clinical practice are systematic, and you can provide evidence of any actions that have resulted from this</li>
      <li>If your GMC, HCPC or NMC licence expires, you will be suspended from the provider register until an eligibility reassessment has been carried out by DWP</li>
    </ul>   
    
    
    <p class="govuk-body"><strong>Complaints procedures and feedback mechanisms</strong></p>
    <p class="govuk-body">You agree that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you have a complaints procedure</li>
      <li>you can request feedback from the employer or employees who are part of the scheme</li>
      <li>you have a fair process that allows either the employer or employees to raise concerns about how services are delivered</li>
      <li>you understand that DWP is not responsible for any complaints procedures or feedback mechanisms</li>
    </ul>    
    
    
    <p class="govuk-body"><strong>Complaints procedures and feedback mechanisms</strong></p>
    <p class="govuk-body">You agree that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you have a complaints procedure</li>
      <li>you can request feedback from the employer or employees who are part of the scheme</li>
      <li>you have a fair process that allows either the employer or employees to raise concerns about how services are delivered</li>
      <li>you understand that DWP is not responsible for any complaints procedures or feedback mechanisms</li>
    </ul>     
    
    
    <p class="govuk-body"><strong>Data management policies</strong></p>
    <p class="govuk-body">You agree that you have:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a privacy policy that complies with data protection law</li>
      <li>registration with the Information Commissioner’s Office (ICO), for example a certificate</li>
      <li>a GDPR record management policy that complies with data protection law, including safe transportation, access, storage, retention and disposal of records</li>
      <li>understood that you must keep all documents about assessments, including invoices and the assessors’ contact and professional details, for six years</li>
      <li>understood DWP may request copies of assessment documents at any time within six years</li>
      <li>understood that your data, for example your contact details or business information will be shared with DWP and relevant independent research agencies - to evaluate the service on behalf of DWP</li>
    </ul>      
    
    
    <p class="govuk-body"><strong>Referral pathways</strong></p>
    <p class="govuk-body">You agree that you have:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>documented incoming and on-going referral procedures and case management</li>
      <li>access to a doctor on the GMC specialist register for the escalation of cases</li>
    </ul>      
    
    
    <p class="govuk-body"><strong>Comprehensive assessment reports</strong></p>
    <p class="govuk-body">You agree that your reports will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>use a biopsychosocial approach</li>
      <li>contain objective and impartial advice</li>
      <li>address any employer or management concerns</li>
      <li>cover the employee’s capacity for employment</li>
      <li>advise on the current functional ability of the employee</li>
      <li>include onward referrals, if required</li>
    </ul>        


    <p class="govuk-body"><strong>Limitation of liability</strong></p>
    <p class="govuk-body">You agree that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you must accept full responsibility and liability if there is any fraud by you or your employees</li>
      <li>you accept full responsibility and liability for the quality and performance of all the workplace health assessments</li>
      <li>DWP cannot guarantee you will get any additional business from being part of the scheme</li>
      <li>DWP is not responsible for any losses or additional costs caused by a delay outside of DWP’s control</li>
      <li>DWP is only liable for paying any valid invoices you send us</li>
      <li>DWP is not liable for any outcomes from your assessments or from the scheme being withdrawn, withheld or suspended</li>
      <li>nothing in these terms and conditions limits or excludes our liability for death or personal injury caused by negligence, fraud or fraudulent misrepresentation</li>
      <li>only you and DWP can take legal action to make sure the terms and conditions are followed. Nobody else has any rights under these terms and conditions</li>
      <li>you cannot transfer your rights and responsibilities of the scheme to another provider</li>
    </ul>         


    <p class="govuk-body"><strong>After assessments</strong></p>
    <p class="govuk-body">You understand that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the employer and employee can ask follow-up questions about the report</li>
      <li>follow-up questions can be billed as part of the original assessment or as a new assessment</li>
      <li>if a new assessment is needed, you will need to get another discount code from the employer</li>
      <li>you can only invoice DWP and the employer after you complete the assessment</li>
    </ul>   


    <h2 class="govuk-heading-m">Removal from the scheme</h2>
    <p class="govuk-body">You agree and understand that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>if you do not work within the terms and conditions DWP will remove you from the scheme and may refuse or delay payment</li>
      <li>DWP may change the scheme, the eligibility requirements and terms and conditions at any time</li>
      <li>if you are no longer eligible for the scheme DWP can remove you from the scheme and may refuse or delay payment. This includes if DWP changes its eligibility requirements</li>
      <li>DWP can close or suspend the scheme at any time and may refuse payments following its closure or suspension</li>
      <li>you cannot appeal a decision by DWP if we decide you are not eligible to join the scheme or if we remove you from the provider register</li>
      <li>if you, your employees, or subcontractors provide inaccurate information or collude with SMEs using the scheme, DWP may recover any money incorrectly paid to you and may remove you from the register</li>
      <li>you will repay any incorrect payments from DWP within 14 days of DWP’s request - if you do not, you will pay an 8% annual interest on that amount</li>
      <li>DWP may temporarily suspend your registration and investigate before we decide to remove you from the register, and you can make representations to us before this happens</li>
      <li>if DWP decides to remove you from the register, we will contact you to let you know</li>
      <li>your registration is suspended or cancelled, or if you withdraw your registration, you will not provide any assessments as part of the scheme</li>
    </ul>   


    <h2 class="govuk-heading-m">Consent and cancellations</h2>

    <p class="govuk-body"><strong>If an employee withdraws consent after an assessment</strong></p>
    <p class="govuk-body">Follow your own policy for when an employee withdraws consent after an assessment. You can still invoice DWP for 80% of the cost and the employer for 20%.</p>
     
    <p class="govuk-body"><strong>If an employee cancels or does not attend an assessment</strong></p>
    <p class="govuk-body">You cannot charge DWP if an employee cancels or does not attend an assessment. Use your cancellation and non-attendance policy for any charges to the employer.</p>

    <p class="govuk-body"><strong>If an employer does not pay for an assessment</strong></p>
    <p class="govuk-body">DWP will still pay 80% of the cost of any completed assessment. We will not pay for any financial losses if the employer does not pay.</p>


    <h2 class="govuk-heading-m">Questions and complaints</h2>

    <p class="govuk-body"><strong>Sign-up process and purchase order numbers</strong></p>
    <p class="govuk-body">Contact the provider support team at: workplacehealth.provider@dwp.gov.uk</p>

    <p class="govuk-body"><strong>Invoices</strong></p>
    <p class="govuk-body">You can call SSCL on 0845 241 5352. The phone line is open Monday to Friday, 9am to 4pm.</p>
    
    <p class="govuk-body"><strong>Complaints</strong></p>
    <p class="govuk-body">If you have a complaint, you can email: workplacehealth.complaints@dwp.gov.uk We will reply within 28 days.</p>
    
    <p class="govuk-body"><strong>Why DWP needs personal information and how we treat it</strong></p>
    <p class="govuk-body">The data controller for your personal data is DWP. This means DWP controls how and why your data is collected and processed.</p>
    <p class="govuk-body">DWP treats personal information carefully and will only use the data collected for the delivery and evaluation of this service.</p>
    <p class="govuk-body">To learn more about information rights and how DWP uses information, visit the DWP Personal Information Charter at: www.gov.uk/dwp/personal-information-charter</p>
    
    <p class="govuk-body"><strong>You can contact the Data Protection Officer by post:</strong></p>
    <p class="govuk-body">DWP Data Protection Team<br>
      Benton Park View 6<br>
      Room BP6001<br>
      Mail Handling Site A<br>
      Wolverhampton<br>
      WV98 1ZX</p>    
      <p class="govuk-body">Or by email: data.protectionofficer@dwp.gov.uk</p>


      <h2 class="govuk-heading-m">Changes to these terms and conditions</h2>
      
      <p class="govuk-body">Please check these terms and conditions regularly. We can update them at any time without notice.</p>
      <p class="govuk-body">You'll agree to any changes if you continue to provide your services as part of this scheme and after terms and conditions have been updated.</p>
      <p class="govuk-body">Last updated 20 June 2024</p>

  </div>
</div>




{% endblock %}
