{% extends "layouts/main.html" %}

{% block pageTitle %}
Join the occupational health assessment provider register, so that an employer can use their discount code
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
  Join the occupational health assessment provider register, so that an employer can use their discount code
</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="how-it-works">
              How it works
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="eligibility">
              Eligibility
            </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                What health assessments mean as part of this scheme
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="assessment-costs">
                Assessment costs
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="payment-process">
              Payment process
              </a>
            </li>   
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="join-the-provider-register">
                Join the provider register
              </a>
            </li>                        
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h2 class="govuk-heading-l">
        What health assessments mean as part of this scheme
      </h2>
      
      <p class="govuk-body">Workplace health assessments, also known as occupational health assessments, can include fitness for work, return to work assessments or management referrals.</p>

      <p class="govuk-body">An assessment focuses on an employee’s work environment. It looks at how their job might affect their health or how their health may impact their work.</p>

      <p class="govuk-body">An assessment could include a discussion about an employee’s:</p>     

      <ul class="govuk-list govuk-list--bullet">
        <li>
          health and work activities
        </li>
        <li>
          return to work plans
        </li>
        <li>
          workplace adjustments
        </li>
        <li>
          onward support
        </li>  
      </ul>

      <h3 class="govuk-heading-m">
        Services that are not included in this scheme
      </h3>

      <p class="govuk-body">Occupational health (OH) providers cannot carry out the following services as part of this scheme:</p>     

      <ul class="govuk-list govuk-list--bullet">
        <li>
          health surveillance
        </li>
        <li>
          health promotion
        </li>
        <li>
          health risk assessments
        </li> 
        <li>
          advice on organisational policy to help with legal compliance
        </li>
        <li>
          pre-employment or post-offer health assessments
        </li>
        <li>
          clinical interventions to manage health risk, for example vaccinations
        </li> 
        <li>
          knowledge management support, such as sickness absence record keeping and data analysis
        </li>
        <li>
          clinical rehabilitation or treatment services
        </li>
        <li>
          training, instruction or capacity building for managers or leaders
        </li> 
        <li>
          case management
        </li>
        <li>
          providing medical records for civil prosecutions
        </li>
      </ul>

    
      <h3 class="govuk-heading-m">
        Benefits of joining the scheme
      </h3>

      <p class="govuk-body">OH providers can:</p>     

      <ul class="govuk-list govuk-list--bullet">
        <li>
          improve SME access to specialist workplace health assessments
        </li>
        <li>
          establish relationships with new clients
        </li>
        <li>
          get potential repeat business
        </li> 
      </ul>


      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "Eligibility",
          href: "eligibility"
        },
        next: {
          labelText: "Assessment costs",
          href: "assessment-costs"
        }
      }) }}


    </div>


  </main>
</div>





    </div>
  </div>

{% endblock %}
