{% extends "layout.html" %}

{% block pageTitle %}
  Application complete
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application complete",
        html: ""
      }) }}

      <p>
        You can now find a provider and get a discount code.
      </p>

      <br>

      {{ govukButton({
        text: "Go to homepage",
        href: "account-homepage"
      }) }}


    </div>
  </div>

{% endblock %}
