{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      {% if data['receiveHow'] === 'Text message' %}
      {% set html %}
      {% endset %}

      <h2 class="govuk-heading-m">Eligibility details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Organisation registration"
            },
            value: {
              text: data.postcode or "AA3 1AB"
            },
            actions: {
              items: [
                {
                  href: "location",
                  text: "Change",
                  visuallyHiddenText: "organisation registration"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of employees"
            },
            value: {
              text: "1 to 4 employees"
            },
            actions: {
              items: [
                {
                  href: "business-size",
                  text: "Change",
                  visuallyHiddenText: "number of employees"
                }
              ]
            }
          },
          {
            key: {
              text: "Yearly turnover"
            },
            value: {
              text: "More than £10.2 million"
            },
            actions: {
              items: [
                {
                  href: "turnover",
                  text: "Change",
                  visuallyHiddenText: "turnover for the last financial year"
                }
              ]
            }
          },
          {
            key: {
              text: "Yearly balance"
            },
            value: {
              html: "£1 million to £5.1 million"
            },
            actions: {
              items: [
                {
                  href: "balance-sheet",
                  text: "Change",
                  visuallyHiddenText: "balance sheet total for last financial year"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Organisation details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data.organisationName or "ABC Limited"
            },
            actions: {
              items: [
                {
                  href: "business-name",
                  text: "Change",
                  visuallyHiddenText: "organisation name"
                }
              ]
            }
          },
          {
            key: {
              text: "Sector"
            },
            value: {
              text: "Education, health or government"
            },
            actions: {
              items: [
                {
                  href: "sector",
                  text: "Change",
                  visuallyHiddenText: "sector of organisation"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data.emailAddress or "joebloggs@organisation.com"
            },
            actions: {
              items: [
                {
                  href: "email-address-gate",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Discount details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
        {
          key: {
            text: "How would you like to receive your discount code?"
          },
          value: {
            text: data.receiveHow
          },
          actions: {
            items: [
              {
                href: "contact-method",
                text: "Change",
                visuallyHiddenText: "Contact method"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Tell us the mobile number you would like your discount code sent to"
          },
          value: {
            text: "07123456789"
          },
          actions: {
            items: [
              {
                href: "phone-number",
                text: "Change",
                visuallyHiddenText: "Mobile number"
              }
            ]
          }
        }
      ]
      }) }}

      <h2 class="govuk-heading-m">Declaration</h2>

      <p>By sending the application you confirm that the information you have given to the Department of Work and Pensions (DWP) is complete and correct.</p>

      <h3 class="govuk-heading-s">Using the service</h3>
      <p>You understand that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you will need to pay 20% of the cost of any workplace health assessments you arrange</li>
        <li>if the cost of the assessment is more than the DWP cap of £400 per assessment, for example, due to travel costs - you will need to agree in advance that you will pay the difference to the provider in full</li>
        <li>you can only use discount codes with health care providers on the DWP register</li>
        <li>If you need to make a complaint about a health care provider, you must contact them directly</li>
      </ul>

      <h3 class="govuk-heading-s">Changes to the service</h3>
      <p>You understand that DWP may:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change the eligibility requirements</li>
        <li>change the discount amount</li>
        <li>pause or stop the service at any time</li>
      </ul>

      <h3 class="govuk-heading-s">Liability</h3>
      <p>You understand that DWP is not liable for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the quality of health care provider’s assessments</li>
        <li>any losses or additional costs you may receive because of a health care provider</li>
      </ul>

      <h3 class="govuk-heading-s">Your data</h3>
      <p>You understand that DWP:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>will process your information as explained in the DWP <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" class="govuk-link" rel="noreferrer noopener" target="_blank">Personal Information Charter (opens in a new tab)</a></li>
        <li>will share your personal data with a research supplier contracted by DWP to independently evaluate the service</li>
        <li>this research supplier may contact you to take part in voluntary research about the service you and your employee received</li>
        <li>may do further checks on your organisation's eligibility</li>
      </ul>

      <p>If you deliberately give wrong information or collude with a provider to exploit the service, you may:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be prosecuted</li>
        <li>have to pay a financial penalty</li>
        <li>have to pay back the full cost of any discounted assessments</li>
      </ul>

      <p>DWP may update these declarations at any time.</p>

      {% else %}

      {% endif %}

      {% if data['receiveHow'] === 'Email' and data['rightEmail'] === 'No' %}
      {% set html %}
      {% endset %}

      <h2 class="govuk-heading-m">Eligibility details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Organisation registration"
            },
            value: {
              text: data.postcode or "AA3 1AB"
            },
            actions: {
              items: [
                {
                  href: "location",
                  text: "Change",
                  visuallyHiddenText: "organisation registration"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of employees"
            },
            value: {
              text: "1 to 4 employees"
            },
            actions: {
              items: [
                {
                  href: "business-size",
                  text: "Change",
                  visuallyHiddenText: "number of employees"
                }
              ]
            }
          },
          {
            key: {
              text: "Yearly turnover"
            },
            value: {
              text: "More than £10.2 million"
            },
            actions: {
              items: [
                {
                  href: "turnover",
                  text: "Change",
                  visuallyHiddenText: "turnover for the last financial year"
                }
              ]
            }
          },
          {
            key: {
              text: "Yearly balance"
            },
            value: {
              html: "£1 million to £5.1 million"
            },
            actions: {
              items: [
                {
                  href: "balance-sheet",
                  text: "Change",
                  visuallyHiddenText: "balance sheet total for last financial year"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Organisation details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data.organisationName or "ABC Limited"
            },
            actions: {
              items: [
                {
                  href: "business-name",
                  text: "Change",
                  visuallyHiddenText: "organisation name"
                }
              ]
            }
          },
          {
            key: {
              text: "Sector"
            },
            value: {
              text: "Education, health or government"
            },
            actions: {
              items: [
                {
                  href: "sector",
                  text: "Change",
                  visuallyHiddenText: "sector of organisation"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data.emailAddress or "joebloggs@organisation.com"
            },
            actions: {
              items: [
                {
                  href: "email-address-gate",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Discount details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
        {
          key: {
            text: "How would you like to receive your discount code?"
          },
          value: {
            text: data.receiveHow
          },
          actions: {
            items: [
              {
                href: "contact-method",
                text: "Change",
                visuallyHiddenText: "Contact method"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Do you want your discount code sent to " + (data.emailAddress or "joebloggs@organisation.com") + "?"
          },
          value: {
            text: data.rightEmail
          },
          actions: {
            items: [
              {
                href: "email-address",
                text: "Change",
                visuallyHiddenText: "Email address"
              }
            ]
          }
        }
        ,
        {
            key: {
              text: "Tell us the email you would like your discount code sent to"
            },
            value: {
              text: data.emailAddressChanged or "janedoe@organisation.com"
            },
            actions: {
              items: [
                {
                  href: "email",
                  text: "Change",
                  visuallyHiddenText: "Email address"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Declaration</h2>

      <p>By sending the application you confirm that the information you have given to the Department of Work and Pensions (DWP) is complete and correct.</p>

      <h3 class="govuk-heading-s">Using the service</h3>
      <p>You understand that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you will need to pay 20% of the cost of any workplace health assessments you arrange</li>
        <li>if the cost of the assessment is more than the DWP cap of £400 per assessment, for example, due to travel costs - you will need to agree in advance that you will pay the difference to the provider in full</li>
        <li>you can only use discount codes with health care providers on the DWP register</li>
        <li>If you need to make a complaint about a health care provider, you must contact them directly</li>
      </ul>

      <h3 class="govuk-heading-s">Changes to the service</h3>
      <p>You understand that DWP may:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change the eligibility requirements</li>
        <li>change the discount amount</li>
        <li>pause or stop the service at any time</li>
      </ul>

      <h3 class="govuk-heading-s">Liability</h3>
      <p>You understand that DWP is not liable for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the quality of health care provider’s assessments</li>
        <li>any losses or additional costs you may receive because of a health care provider</li>
      </ul>

      <h3 class="govuk-heading-s">Your data</h3>
      <p>You understand that DWP:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>will process your information as explained in the DWP <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" class="govuk-link" rel="noreferrer noopener" target="_blank">Personal Information Charter (opens in a new tab)</a></li>
        <li>will share your personal data with a research supplier contracted by DWP to independently evaluate the service</li>
        <li>this research supplier may contact you to take part in voluntary research about the service you and your employee received</li>
        <li>may do further checks on your organisation's eligibility</li>
      </ul>

      <p>If you deliberately give wrong information or collude with a provider to exploit the service, you may:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be prosecuted</li>
        <li>have to pay a financial penalty</li>
        <li>have to pay back the full cost of any discounted assessments</li>
      </ul>

      <p>DWP may update these declarations at any time.</p>

      {% else %}

      {% endif %}

      {% if data['receiveHow'] === 'Email' and data['rightEmail'] === 'Yes' %}
      {% set html %}
      {% endset %}

      <h2 class="govuk-heading-m">Eligibility details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Organisation registration"
            },
            value: {
              text: data.postcode or "AA3 1AB"
            },
            actions: {
              items: [
                {
                  href: "location",
                  text: "Change",
                  visuallyHiddenText: "organisation registration"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of employees"
            },
            value: {
              text: "1 to 4 employees"
            },
            actions: {
              items: [
                {
                  href: "business-size",
                  text: "Change",
                  visuallyHiddenText: "number of employees"
                }
              ]
            }
          },
          {
            key: {
              text: "Yearly turnover"
            },
            value: {
              text: "More than £10.2 million"
            },
            actions: {
              items: [
                {
                  href: "turnover",
                  text: "Change",
                  visuallyHiddenText: "turnover for the last financial year"
                }
              ]
            }
          },
          {
            key: {
              text: "Yearly balance"
            },
            value: {
              html: "£1 million to £5.1 million"
            },
            actions: {
              items: [
                {
                  href: "balance-sheet",
                  text: "Change",
                  visuallyHiddenText: "balance sheet total for last financial year"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Organisation details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data.organisationName or "ABC Limited"
            },
            actions: {
              items: [
                {
                  href: "business-name",
                  text: "Change",
                  visuallyHiddenText: "organisation name"
                }
              ]
            }
          },
          {
            key: {
              text: "Sector"
            },
            value: {
              text: "Education, health or government"
            },
            actions: {
              items: [
                {
                  href: "sector",
                  text: "Change",
                  visuallyHiddenText: "sector of organisation"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data.emailAddress or "joebloggs@organisation.com"
            },
            actions: {
              items: [
                {
                  href: "email-address-gate",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          }
        ]
      }) }}
      
      <h2 class="govuk-heading-m">Discount details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
        {
          key: {
            text: "How would you like to receive your discount code?"
          },
          value: {
            text: data.receiveHow
          },
          actions: {
            items: [
              {
                href: "contact-method",
                text: "Change",
                visuallyHiddenText: "Contact method"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Do you want your discount code sent to " + (data.emailAddress or "joebloggs@organisation.com") + "?"
          },
          value: {
            text: data.rightEmail
          },
          actions: {
            items: [
              {
                href: "email-address",
                text: "Change",
                visuallyHiddenText: "Email address"
              }
            ]
          }
        }
        ]
      }) }}

      <h2 class="govuk-heading-m">Declaration</h2>

      <p>By sending the application you confirm that the information you have given to the Department of Work and Pensions (DWP) is complete and correct.</p>

      <h3 class="govuk-heading-s">Using the service</h3>
      <p>You understand that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you will need to pay 20% of the cost of any workplace health assessments you arrange</li>
        <li>if the cost of the assessment is more than the DWP cap of £400 per assessment, for example, due to travel costs - you will need to agree in advance that you will pay the difference to the provider in full</li>
        <li>you can only use discount codes with health care providers on the DWP register</li>
        <li>If you need to make a complaint about a health care provider, you must contact them directly</li>
      </ul>

      <h3 class="govuk-heading-s">Changes to the service</h3>
      <p>You understand that DWP may:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change the eligibility requirements</li>
        <li>change the discount amount</li>
        <li>pause or stop the service at any time</li>
      </ul>

      <h3 class="govuk-heading-s">Liability</h3>
      <p>You understand that DWP is not liable for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the quality of health care provider’s assessments</li>
        <li>any losses or additional costs you may receive because of a health care provider</li>
      </ul>

      <h3 class="govuk-heading-s">Your data</h3>
      <p>You understand that DWP:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>will process your information as explained in the DWP <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" class="govuk-link" rel="noreferrer noopener" target="_blank">Personal Information Charter (opens in a new tab)</a></li>
        <li>will share your personal data with a research supplier contracted by DWP to independently evaluate the service</li>
        <li>this research supplier may contact you to take part in voluntary research about the service you and your employee received</li>
        <li>may do further checks on your organisation's eligibility</li>
      </ul>

      <p>If you deliberately give wrong information or collude with a provider to exploit the service, you may:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be prosecuted</li>
        <li>have to pay a financial penalty</li>
        <li>have to pay back the full cost of any discounted assessments</li>
      </ul>

      <p>DWP may update these declarations at any time.</p>

      {% else %}

      {% endif %}

      {# <p>
        We will use this information to send your discount code or contact you about the service.
      </p> #}

        {{ govukButton({
          text: "Confirm",
          href: "discount-code"
        }) }}

    </div>
  </div>
{% endblock %}
