{% extends "layout.html" %}

{% block pageTitle %}
Where is your organisation registered?
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


  <form class="form" method="post">
        <div class="govuk-form-group">

          <div class="govuk-width-container">
            <h1 class="govuk-heading-l">Where is your organisation registered?</h1>
            {# <p>This is the postcode of your head office.</p> #}
            <div class="govuk-form-group">
            <label class="govuk-label" for="postcode">
              Enter your head office postcode
            </label>
            <div id="postcode-hint" class="govuk-hint">
              For example, AA3 1AB.
            </div>
            <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" aria-describedby="postcode-hint">
            </div>

        </div>
      </div>

{{ govukButton({
  text: "Continue",
  href: "business-size"
}) }}

</form>

    </div>
  </div>

{% endblock %}
