{% extends "layout.html" %}

{% block pageTitle %}
You are not eligible to use this service 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
You are not eligible to use this service </h1>



<p>You can only use this service if your organisation is registered in England or Wales.
</p>

<h2 class="govuk-heading-m">
Find other support </h2>

<p>If your organisation is registered in Scotland, your employees could be eligible for <a href="https://www.healthyworkinglives.scot/workplace-guidance/illness-absence/Pages/employees-with-health-conditions.aspx" class="govuk-link" rel="noreferrer noopener" target="_blank">support from Working Health Service Scotland (opens in a new tab)</a>.</p>











  </div>
  </div>
</main>
    </div>

{% endblock %}
