{% extends "layout.html" %}

{% block pageTitle %}
  Get an 80% discount on expert workplace health advice and recommendations for an employee
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

     
</div>

<div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">
    Get a discount on workplace health assessments for employees  </h1>
</div>

<div class="govuk-grid-column-two-thirds">


<p>Contents</p>
<ul class="govuk-list ">
<li><a href="start-page-new">Overview</a> </li>
<li>Eligibility</a></li>
<li><a href="what-is-ha">What is a workplace health assessment</a></li>
<li><a href="support-an-employee">Using workplace health assessment to support an employee</a></li>
<li><a href="how-scheme-works">How the discount scheme works</a>
<li><a href="apply">Apply</a></li>
</li>
</ul>

 <h2 class="govuk-heading-m">
  Eligibility</h2>
  <h3 class="govuk-heading-s">
    SMEs with 1 to 49 employees </h3>
    <p>You can use this service if you meet one of these conditions: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your yearly turnover is £10.2 million or less </li>
    <li>your yearly balance sheet is £5.1 million or less </li>
   
          </ul>

          <h3 class="govuk-heading-s">
            SMEs with 50 to 250 employees </h3>
            <p>You can use this service if you meet one of these conditions: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>your yearly turnover is £36 million or less  </li>
            <li>your yearly balance sheet is £18 million or less </li>
           
                  </ul>



    </div>

    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular ">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Related content</span>
         
  
<a href="https://www.support-with-employee-health-and-disability.dwp.gov.uk/support-with-employee-health-and-disability" class="govuk-body-s"> Support with employee health and disability</a>

<br><br>

<a href="https://www.gov.uk/access-to-work" class="govuk-body-s">
     Advice for employees if their health is affecting them at work </a>

   
        </h2>
      </div>




            </div>


      </div>
      <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="start-page-new2" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Overview</span></a>
        </div>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="what-is-ha" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">What is a workplace health assessment</span></a>
        </div>
      </nav>



  </div>
{% endblock %}
