{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}





{% block content %}

<div class="govuk-width-container">

      <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
     Assessment details</h1>




      <!--COLUMN 13-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="claimid">
            Assessment price range
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text">
      </div>



      <!--COLUMN 15-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="claimid">
            Distance able to travel to do an in-person assessment
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text">
      </div>

      <!--COLUMN 16-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="claimid">
            Assessment methods
        </label>
        <div id="waste-hint" class="govuk-hint">
     Select all that apply.
   </div>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
        Workplace mental health assessment
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Workplace physical health assessment
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
        Phone
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
        Video call
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
        Home visit
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
        At a clinic
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
        At a workplace
        </label>
      </div>
        </div>
        </div>




<a href="added-notification"
        <button class="govuk-button" data-module="govuk-button">Add provider</button>
</a>




      </div>
      </main>

  </div>

{% endblock %}
