{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}





{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Cordell Health Ltd
    </h1>

    <strong class="govuk-tag">
    Published on the register
    </strong>


    <nav class="moj-sub-navigation govuk-!-margin-top-6" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="provider-details-1">Details</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="provider-details-2">Address</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="provider-details-4">Eligibility</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="provider-details-3">Assessment</a>
        </li>

      </ul>

    </nav>


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Assessment price range
    </dt>
    <dd class="govuk-summary-list__value">
      £200 - £400
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> price range</span>
      </a>
    </dd>
  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Distance able to travel to do an in-person assessment
    </dt>
    <dd class="govuk-summary-list__value">
      50 miles
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> travel distance</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Assessment methods
    </dt>
    <dd class="govuk-summary-list__value">
      Workplace mental health assessment
      <br>
       Workplace physical health assessment<br>
       Video call
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>





  </dl>





</div>

  </div>

{% endblock %}
