{% extends "layout.html" %}

{% block pageTitle %}
  Workplace Health Assessment Discount Scheme 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Workplace Health Assessment Discount Scheme 
    </h1>
</div>
<div class="govuk-grid-column-full">

<p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>

<ul class="govuk-list govuk-list_list-item--dashed">
  <li>
  —  <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="1scheme-overview ">Scheme overview </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="2cost">Costs and pricing </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="3how-it-works">How the scheme works </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="4how-to-become">How to become a listed health provider in the scheme</a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="5eligibility">Eligibility </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="6what-and-where">What you need to send and where to send it  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="7accepted">If you are accepted to join the scheme   </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="8payment">Payment process  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="9help">Contact Workplace Health scheme   </a>
  </li>
</ul>


</div>
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  <h1 class="govuk-heading-m">Costs and pricing    </h1>
<p>You will need to tell us your price range of the workplace health assessments that you intend to deliver through this scheme. This will depend on the method of delivery, the complexity of the case and who carries out the assessment.
</p>
  <p>You can charge up to £400. </p>



<p>There may be travel costs when an assessment is in-person. The employer will pay for any travel costs that take the assessment over £400. Any costs over £400 are not discounted by DWP. </p>





<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8">Previous</p>

<p><a href="1scheme-overview">Scheme overview  </a></p>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body govuk-!-font-weight-bold govuk-brand-colour">Next</p>

<p><a href="3how-it-works">How the scheme works </a></p>


    </div>




      </div>




  </div>
{% endblock %}
