{% extends "layout.html" %}

{% block pageTitle %}
  Workplace Health Assessment Discount Scheme 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Workplace Health Assessment Discount Scheme 
    </h1>
</div>
<div class="govuk-grid-column-full">

<p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>

<ul class="govuk-list govuk-list_list-item--dashed">
  <li>
  —  <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="1scheme-overview ">Scheme overview </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="2cost">Costs and pricing </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="3how-it-works">How the scheme works </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="4how-to-become">How to become a listed health provider in the scheme</a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="5eligibility">Eligibility </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="6what-and-where">What you need to send and where to send it  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="7accepted">If you are accepted to join the scheme   </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="8payment">Payment process  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="9help">Contact Workplace Health scheme  </a>
  </li>
</ul>


</div>
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  <h1 class="govuk-heading-m">How the scheme works      </h1>

<h2 class="govuk-heading-s">Employer proves eligibility and gets a discount code       </h2>

<p>Employers can access the scheme through a GOV.UK service. After answering some questions to show they’re eligible for the scheme, they’ll get a unique discount code. They’ll use this to claim the 80% discount. </p>

<h2 class="govuk-heading-s">Employer searches for a provider       </h2>

<p>They can then use the next part of the service to find a workplace health provider to do the assessment. They can search by filters according to their needs to get a list of potential assessment providers.   </p>

<h2 class="govuk-heading-s">Employer contacts a provider  </h2>
<p>They can then contact whichever assessment providers they wish for an initial conversation about their employee’s health. Once satisfied with a provider they can arrange an assessment and will give the provider the discount code.   </p>

<h2 class="govuk-heading-s">Provider checks and claims code   </h2>
<p>The provider then uses an online code-checker tool to check the code is valid and matches the organisation that has requested the assessment. They then claim the code for that assessment.  </p>

<h2 class="govuk-heading-s">Provider does assessment and claims payment    </h2>
<p>The provider then carries out the assessment, invoices the client for 20% of the cost (up to the £400 assessment cost limit, and any extra travel costs over this limit) and uses the discount code to invoice DWP for the rest.    </p>

<h2 class="govuk-heading-s">Post-assessment survey     </h2>
<p>After the assessment DWP may contact the employer for feedback about the quality the service received.  </p>



<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8">Previous</p>

<p><a href="2cost">Costs and pricing  </a></p>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body govuk-!-font-weight-bold govuk-brand-colour">Next</p>

<p><a href="4how-to-become">How to become a listed health provider in the scheme </a></p>

    </div>




      </div>




  </div>
{% endblock %}
