{% extends "layout.html" %}

{% block pageTitle %}
  Workplace Health Assessment Discount Scheme 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Workplace Health Assessment Discount Scheme 
    </h1>
</div>
<div class="govuk-grid-column-full">

<p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>

<ul class="govuk-list govuk-list_list-item--dashed">
  <li>
  —  <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="1scheme-overview ">Scheme overview </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="2cost">Costs and pricing </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="3how-it-works">How the scheme works </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="4how-to-become">How to become a listed health provider in the scheme</a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="5eligibility">Eligibility </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="6what-and-where">What you need to send and where to send it  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="7accepted">If you are accepted to join the scheme   </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="8payment">Payment process  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="9help">Contact Workplace Health scheme   </a>
  </li>
</ul>


</div>
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  <h1 class="govuk-heading-m">How to become a listed health provider in the scheme  </h1>
<p>If you think you’re eligible to join the scheme, you’ll need to email DWP any required documents listed in the ‘Eligibility’ section below. You’ll also need to include the declarations, also listed in this section.</p>
<p>Once we receive the information you should be notified of the result of your application within 4 weeks.</p>
<p>We may also need to contact you to request more information or to clarify any information already provided.</p>
<p>If your application is successful, you will be asked to supply information about your organisation so you can be listed in the service and searched for by employers. We will also need payment details so that you can be set up as a supplier on our payment system.</p>



<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8">Previous</p>

<p><a href="3how-it-works">How the scheme works  </a></p>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body govuk-!-font-weight-bold govuk-brand-colour">Next</p>

<p><a href="5eligibility">Eligibility </a></p>


    </div>




      </div>




  </div>
{% endblock %}
