{% extends "layout.html" %}

{% block pageTitle %}
  Workplace Health Assessment Discount Scheme 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Workplace Health Assessment Discount Scheme 
    </h1>
</div>
<div class="govuk-grid-column-full">

<p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>

<ul class="govuk-list govuk-list_list-item--dashed">
  <li>
  —  <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="1scheme-overview ">Scheme overview </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="2cost">Costs and pricing </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="3how-it-works">How the scheme works </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="4how-to-become">How to become a listed health provider in the scheme</a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="5eligibility">Eligibility </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="6what-and-where">What you need to send and where to send it  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="7accepted">If you are accepted to join the scheme   </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="8payment">Payment process  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="9help">Contact Workplace Health scheme   </a>
  </li>
</ul>


</div>
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  <h1 class="govuk-heading-m">Eligibility    </h1>
<p>There are different eligibility requirements, depending on whether your organisation is SEQOHS (Safe, Effective Quality Occupational Health Service) accredited or not. 
</p>
<p>In general, to be accepted, we will need to be satisfied that you:  </p>
<ul class="govuk-list govuk-list--bullet">
<li>have the required professional industry qualifications and governance procedures and policies    </li>
<li>can deliver a quality, professional assessment  </li>

</ul>

<h1 class="govuk-heading-m">Evidence and declarations required      </h1>

<h2 class="govuk-heading-s">For all organisations   </h2>

<p>Any occupational health and vocational rehabilitation providers wanting to join the scheme will need to send us:
</p>
<ul class="govuk-list govuk-list--bullet">

<li>declarations about the service they provide </li>

<li>an example of a template or redacted report </li>
</ul>

<p>The declarations are that: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>
there will be a conversation or interaction with the employer before the assessment to understand the context of their business 
</li><li>
they will have a conversation with the employee during the assessment to discuss what will be included in the report and/or the employee will be given the option to see the report prior to sending it to their employer  
</li><li>
the person undertaking assessments is, or has oversight from:  
</li>
<ul class="govuk-list govuk-list--">
<li>- an occupational health physician   </li>
<li>- an occupational health nurse</li>
<li>- an occupational therapist with experience in workplace settings, vocational rehabilitation or return to work  
</li>
<li>- a physiotherapist with experience in workplace settings, vocational rehabilitation, or return to work  
</li>
<li>- a psychologist with experience in workplace settings, vocational rehabilitation, or return to work  
</li>
</ul>
<li>
the maximum cost for an assessment through this service will be £400   
</li>
</ul>
<p>The example of a template or redacted report must show:</p>
<ul class="govuk-list govuk-list--bullet">
<li>a remote or in-person assessment of an employee</li>
<li>the writing of a comprehensive report, to include:</li>
<ul class="govuk-list govuk-list--">
<li>
- the answering of any employer or management concerns   </li>
<li>
- the employee’s capacity for employment   </li>
<li>
- advice on the current functional ability of employee   </li>
<li>
- objective and impartial advice   </li>
<li>
- onward referrals (if required)   </li>
<li>
- an opportunity for follow-up discussion   </li>
<li>
- a biopsychosocial approach   </li>
</ul>
</ul>

<h2 class="govuk-heading-s">If your organisation is SEQOHS accredited   </h2>

<p>You will need to tell us your organisation name that is registered with SEQOHS.  </p>

<h2 class="govuk-heading-s">If your organisation is not SEQOHS accredited   </h2>

<p>You will need to send us evidence that you meet our standards concerning: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>
clinical governance procedures    </li>

  <li>complaints procedures and feedback mechanisms    </li>

  <li>data management policies    </li>

  <li>referral pathways    </li>
  </ul>

<h2 class="govuk-heading-s">
Clinical governance procedures  </h2>

<p>You will need to send us:  </p>
<ul class="govuk-list govuk-list--bullet">
  <li>
evidence that you are, or that you employ, at least one health professional (or oversee at least one associate), who has a qualification or equivalent experience 	in occupational health. The qualification and experience expectations, and evidence required for each professional are listed below.
</li>

<ul class="govuk-list govuk-list--bullet">
<li>Occupational health physician - We will need to see a General Medical Council number. We will also need evidence of any one of the following:</li>
<ul class="govuk-list govuk-list--">
<li>- Diploma in Occupational Medicine (DOccMed)  </li>
<li>- Associates of the Faculty of Occupational Medicine (AFOM)   </li>
<li>- Members of the Faculty of Occupational Medicine (MFOM) </li>
<li>- any other occupational medicine qualification  </li>
</ul>
<li>If you cannot provide evidence of any qualifications, you can tell us about 	any 	relevant workplace health experience you, your employee or associate may have. </li>

<li>Occupational health nurse - We will need to see a Nursing and Midwifery Council number. We will also need evidence of either of the following: </li>
<ul class="govuk-list govuk-list--">
  <li>- Certificate, diploma or degree which may be recorded on Part 3 of the NMC register Specialist Community Public Health Nursing (SCPHN)  </li>
<li>- any other occupational health qualification </li>
</ul>
<li>If you cannot provide evidence of any qualifications, you can tell us about 	any 	relevant workplace health experience you, your employee or associate may have. </li>

<li>Occupational therapist with experience in workplace settings, vocational rehabilitation, or return to work. - We will need to see a Health and Care Professions Council number. We will also need evidence of either of the following: </li>
<ul class="govuk-list govuk-list--">
  <li>- Degree (BSc or MSc) in Occupational Therapy   </li>
<li>- any other occupational health qualification </li>
</ul>
<li>If you cannot provide evidence of any qualifications, you can tell us about 	any 	relevant workplace health experience you, your employee or associate may have.</li>

<li>Physiotherapist with experience in workplace settings, vocational rehabilitation, or return to work. - We will need to see a Health and Care Professions Council number. We will also need evidence of one of the following:</li>
<ul class="govuk-list govuk-list--">
  <li>- Degree (BSc or MSc) in Physiotherapy</li>
  <li>- Qualifications in Occupational Health, for example Association of Chartered Physiotherapists in Occupational Health and Ergonomics (ACPOHE)</li>
  <li>- any other occupational health qualification</li>
</ul>
<li>If you cannot provide evidence of any qualifications, you can tell us about any relevant workplace health experience you, your employee or associate may have.</li>

<li>Psychologist with experience in workplace settings/vocational rehabilitation/return to work. - We will need to see a Health and Care Professions Council number. We will also need evidence of either of the following: </li>
<ul class="govuk-list govuk-list--">
  <li>- Degree (BSc, MSc or Doctorate) accredited by the British Psychological Society</li>
<li>- any other occupational health qualification</li>
</ul>
<li>If you cannot provide evidence of any qualifications, you can tell us about any relevant workplace health experience you, your employee or associate may have.</li>
</ul>

<li> evidence that all clinical staff are professionally indemnified</li>
<li>evidence of clinical governance and compliance with evidence-based and consensus-based guidelines, as well as with professional legal requirements, for example examples of protocols, or policies including version control mechanism   </li>
<li>evidence of undertaking systematic audit of clinical practice, for example annual audit plans, or outputs from the most recent report   </li>
</ul>

<h2 class="govuk-heading-s">
Complaints procedures and feedback mechanisms   </h2>
<p>You will need show that:  </p>
<ul class="govuk-list govuk-list--bullet">
  <li>you have a complaints procedure   </li>
<li>you proactively request feedback  </li>
<li>you have a whistle-blowing policy or equivalent process which allows employees to raise concerns about how services are delivered  </li>
</ul>

<p>You can either send copies of the relevant documents or explain how your organisation manages complaints and feedback. </p>

<h2 class="govuk-heading-s">
Data management policies    </h2>
<p>You will need to send a copy of: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>your privacy policy </li>
<li>evidence of registration with the Information Commissioner’s Office, for example a certificate from ICO </li>
<li>your record management policy, including safe transportation, access, storage, retention (GDPR) and disposal of records </li>
</ul>


<h2 class="govuk-heading-s">
Referral pathways</h2>
<p>You will need to show that you have: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>clearly documented incoming and on-going referral procedures, including processes for referrals to your service, case management and any onward referral for further investigation </li>
<li>have access to an identified occupational physician, listed on the GMC specialist register, for the escalation of cases, for example a signed agreement which includes the arrangement where a consultation would be made or evidence of having previously accessed an OH physician for nurse-led services.</li>
</ul>






<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8">Previous</p>

<p><a href="4how-to-become">How to become a listed health provider in the scheme </a></p>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body govuk-!-font-weight-bold govuk-brand-colour">Next</p>

<p><a href="6what-and-where"> What you need to send and where to send it </a></p>



    </div>




      </div>




  </div>
{% endblock %}
