{% extends "layout.html" %}

{% block pageTitle %}
  Workplace Health Assessment Discount Scheme 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Workplace Health Assessment Discount Scheme 
    </h1>
</div>
<div class="govuk-grid-column-full">

<p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>

<ul class="govuk-list govuk-list_list-item--dashed">
  <li>
  —  <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="1scheme-overview ">Scheme overview </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="2cost">Costs and pricing </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="3how-it-works">How the scheme works </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="4how-to-become">How to become a listed health provider in the scheme</a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="5eligibility">Eligibility </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="6what-and-where">What you need to send and where to send it  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="7accepted">If you are accepted to join the scheme   </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="8payment">Payment process  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="9help">Contact Workplace Health scheme  </a>
  </li>
</ul>


</div>
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  <h1 class="govuk-heading-m">What you need to send and where to send it    </h1>
<p>If you think are eligible and wish to apply to join the Workplace Health Assessment Discount Scheme as an assessment provider, you need to: 
 </p>

<ul class="govuk-list govuk-list--bullet">
<li>tell us the name of the person sending the application </li>

<li>tell us the name of the workplace health provider making the application </li>

<li>collate all the necessary evidential documents you need to send us, label them with their respective categories, for example ‘Clinical governance procedures’ and attach them to an email. 
</li>

<li>
copy this ‘Declarations’ text into the body of the email and write ‘YES’ next to 	each one. 
</li>
 
<ul class="govuk-list govuk-list--">
<p>I declare that:  </p>
<li>
- there will be a conversation or interaction with the employer before the assessment to understand the context of their business 
</li>
<li>- they will have a conversation with the employee during the assessment to discuss what will be included in the report and/or the employee will be given the option to see the report prior to sending it to their employer  
</li>
<li>- the person undertaking assessments is, or has oversight from:  
</li>
<ul class="govuk-list govuk-list--bullet">
<li>an occupational health physician   
</li>
<li>an occupational health nurse
</li>
<li>an occupational therapist with experience in workplace settings, vocational rehabilitation or return to work  
</li>
<li>a physiotherapist with experience in workplace settings, vocational rehabilitation, or return to work  
</li>
<li>a psychologist with experience in workplace settings, vocational rehabilitation, or return to work  
</li></ul>
<li>- the maximum cost for an assessment through this service will be £400   
</li>
 </ul>

<li>Send the email to whads@dwp.gov.uk  </li>
</ul>
 

 
<p>
Your eligibility documentation will be reviewed by a workplace health professional from DWP. You should be notified about the result of your application within 4 weeks. 
</p>




<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8">Previous</p>

<p><a href="5eligibility">Eligibility  </a></p>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body govuk-!-font-weight-bold govuk-brand-colour">Next</p>

<p><a href="7accepted">If you are accepted to join the scheme </a></p>


    </div>




      </div>




  </div>
{% endblock %}
