{% extends "layout.html" %}

{% block pageTitle %}
  Workplace Health Assessment Discount Scheme 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Workplace Health Assessment Discount Scheme 
    </h1>
</div>
<div class="govuk-grid-column-full">

<p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>

<ul class="govuk-list govuk-list_list-item--dashed">
  <li>
  —  <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="1scheme-overview ">Scheme overview </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="2cost">Costs and pricing </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="3how-it-works">How the scheme works </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="4how-to-become">How to become a listed health provider in the scheme</a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="5eligibility">Eligibility </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="6what-and-where">What you need to send and where to send it  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="7accepted">If you are accepted to join the scheme   </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="8payment">Payment process  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="9help">Contact Workplace Health scheme   </a>
  </li>
</ul>


</div>
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  <h1 class="govuk-heading-m">If you are accepted to join the scheme      </h1>
<p>We will notify you and ask you for information about your organisation so you can be listed in the service and set up as a supplier on our payment system. 

  </p>
<p>
This information will include details such as:  </p>
<ul class="govuk-list govuk-list--bullet">
  <li>
organisation name  </li>
<li>
contact details  </li>
<li>
web address  </li>
<li>
office and clinic locations  </li>
<li>
bank details  </li>
<li>
assessment price range  </li>
<li>
type of assessments offered  </li>
<li>
cancellation policy  </li>
</ul>


<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8">Previous</p>

<p><a href="6payment">What you need to send and where to send it    </a></p>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body govuk-!-font-weight-bold govuk-brand-colour">Next</p>

<p><a href="8payment">Payment process </a></p>



    </div>




      </div>




  </div>
{% endblock %}
