{% extends "layout.html" %}

{% block pageTitle %}
  You are eligible for this service
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">You are eligible for this service</h1>

<p>Based on your answers, you're eligible to get a discounted workplace health assessment.
</p>
<p>To provide you with your discount code, we will now ask you for:</p>

<ul class="govuk-list govuk-list--bullet">

<li>your company name</li>

<li>your email address</li>
</ul>

<p>You can then search a list of workplace health providers.</p>

<p>You will not need to provide any personal information about your employee at this stage.
</p>





<a href="business-name"
      <button class="govuk-button" data-module="govuk-button">
  Continue
  </button></a>
  </div>
  </div>
</main>
    </div>

{% endblock %}
