{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %} {% block pageTitle %} Find a workplace health
provider {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

<div style="float:right" class="govuk-!-margin-top-2">
<span class="govuk-body">
  <strong class="govuk-tag govuk-tag--purple govuk-!-font-size-14">
    Prototype only
  </strong>
  <a href="list-filters-mvp" class="govuk-link govuk-!-font-size-14">Unsorted</a> -
  <a href="list-filters-mvp-checked" class="govuk-link govuk-!-font-size-14">Cost and Assessment</a> - 
  <a href="list-filters-mvp-checked-location" class="govuk-link govuk-!-font-size-14">Location</a>
</span>
</div>

{% endblock %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
        <h1 class="govuk-heading-l">Find a workplace health provider</h1>
        <h2 class="govuk-heading-m">How to book an assessment</h2>
        <ol class="govuk-list govuk-list--number">
          <li>Search the list of providers.</li>
          <li>Contact a provider to book an assessment.</li>
          <li>Give the provider your discount code.</li>
        </ol>
        <p>
          When choosing a provider it is important you check their services will
          meet your needs. Read about
          <a href="evaluation">how providers have been evaluated</a>.
        </p>
      </div>
    </div>

    {% if data['cost'] == '1' or data['cost'] == '2' or data['cost'] == '3' 
    or data['assessmentMethod'] == 'remote' or data['assessmentMethod'] == 'in person'
    %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="moj-filter">
            <div class="moj-filter__header">
              <div class="moj-filter__header-title">
                <h2 class="govuk-heading-m">Filter</h2>
              </div>
  
              <div class="moj-filter__header-action"></div>
            </div>
  
            <div class="moj-filter__content">

              <div class="moj-filter__selected">

                <div class="moj-filter__selected-heading">
          
                  <div class="moj-filter__heading-title">
                    <h2 class="govuk-heading-m">Selected filters</h2>
                  </div>
          
                  <div class="moj-filter__heading-action">
                    <p><a class="govuk-link govuk-link--no-visited-state" id="clearFilters" href="">Clear</a></p>
                  </div>
          
                </div>
          
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Cost</h3>
          
                <ul class="moj-filter-tags">
          
                  <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> £20 to £40</a></li>
          
                  <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> £50 to £70</a></li>
          
                </ul>
          
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Assessment methods</h3>
          
                <ul class="moj-filter-tags">
          
                  <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Phone</a></li>
                  <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Video call</a></li>
                  <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> At a clinic</a></li>
          
                </ul>
          
              </div>
              
              <form action="?" method="post" novalidate>
              <div class="moj-filter__options">
                <button
                  type="submit"
                  class="govuk-button"
                  data-module="govuk-button"
                  data-test-id="submit-button"
                >
                  Apply filters
                </button>
              </form>
  
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--m" for="keywords">
                    Employee location
                  </label>
                  <div id="location-hint" class="govuk-hint">
                    Enter postcode
                  </div>
  
                  <input
                    class="govuk-input"
                    id="locationPostcode"
                    name="locationPostcode"
                    type="text"
                  />
                </div>
  
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend
                      class="govuk-fieldset__legend govuk-fieldset__legend--m"
                    >
                      Cost
                    </legend>
  
                    <div
                      class="govuk-checkboxes govuk-checkboxes--small"
                      data-module="govuk-checkboxes"
                    >
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="cost"
                          name="cost"
                          type="checkbox"
                          value="1"
                          checked
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="cost"
                        >
                          £20 to £40
                        </label>
                      </div>
  
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="cost-2"
                          name="cost"
                          type="checkbox"
                          value="2"
                          checked
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="cost-2"
                        >
                        £50 to £70
                        </label>
                      </div>
  
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="cost-3"
                          name="cost"
                          type="checkbox"
                          value="3"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="cost-3"
                        >
                        £80 and above
                        </label>
                      </div>
  
                    </div>
                  </fieldset>
                </div>
  
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend
                      class="govuk-fieldset__legend govuk-fieldset__legend--m"
                    >
                      Assessment methods
                    </legend>
  
                    <div
                      class="govuk-checkboxes govuk-checkboxes--small"
                      data-module="govuk-checkboxes"
                    >
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="assessmentPhone"
                          name="assessmentMethod"
                          type="checkbox"
                          value="remote"
                          checked
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="assessmentPhone"
                        >
                          Phone
                        </label>
                      </div>
  
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="assessmentVideo"
                          name="assessmentMethod"
                          type="checkbox"
                          value="remote"
                          checked
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="assessmentVideo"
                        >
                          Video call
                        </label>
                      </div>
  
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="assessmentHome"
                          name="assessmentMethod"
                          type="checkbox"
                          value="in person"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="assessmentHome"
                        >
                          Home visit
                        </label>
                      </div>
  
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="assessmentClinic"
                          name="assessmentMethod"
                          type="checkbox"
                          value="in person"
                          checked
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="assessmentClinic"
                        >
                          At a clinic
                        </label>
                      </div>
  
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="assessmentWorkplace"
                          name="assessmentMethod"
                          type="checkbox"
                          value="in person"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="assessmentWorkplace"
                        >
                          At a workplace
                        </label>
                      </div>
  
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="assessmentAgreedLocation"
                          name="assessmentMethod"
                          type="checkbox"
                          value="in person"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="assessmentAgreedLocation"
                        >
                          At an agreed location
                        </label>
                      </div>
  
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="govuk-grid-column-two-thirds">
  
          <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-0">
            15 results
          </p>

      <div id="unsorted" class="table-section" style="display: block;">
        <!-- Initially visible -->
        <!-- Your "Unsorted" table content goes here -->
        <table class="govuk-table govuk-table--small-text-until-tablet">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Contact details</th>
              <th scope="col" class="govuk-table__header">Assessment methods</th>
              <th scope="col" class="govuk-table__header">Cost after discount</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                <a class="govuk-body-s" href="">View this provider's other clinics</a>
              </th>
              <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
              <td class="govuk-table__cell">
                  <p class="govuk-body-s">
                    £20 to £40
                  </p>
                </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
              </th>
              <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
              <td class="govuk-table__cell">
                  <p class="govuk-body-s">
                    £20 to £40
                  </p>
                </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
              </th>
              <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
              <td class="govuk-table__cell">
                  <p class="govuk-body-s">
                    £20 to £40
                  </p>
                </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
              </th>
              <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
              <td class="govuk-table__cell">
                  <p class="govuk-body-s">
                    £20 to £40
                  </p>
                </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
              </th>
              <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
              <td class="govuk-table__cell">
                  <p class="govuk-body-s">
                    £20 to £40
                  </p>
                </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
              </th>
              <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
              <td class="govuk-table__cell">
                  <p class="govuk-body-s">
                    £20 to £40
                  </p>
                </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
              </th>
              <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
              <td class="govuk-table__cell">
                  <p class="govuk-body-s">
                    £20 to £40
                  </p>
                </td>
            </tr>
          </tbody>
        </table>
      </div>

      {% else %}
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="moj-filter">
          <div class="moj-filter__header">
            <div class="moj-filter__header-title">
              <h2 class="govuk-heading-m">Filter</h2>
            </div>

            <div class="moj-filter__header-action"></div>
          </div>

          <div class="moj-filter__content">
            
            <form action="?" method="post" novalidate>
            <div class="moj-filter__options">
              
              {# <button
                type="submit"
                class="govuk-button"
                data-module="govuk-button"
                data-test-id="submit-button"
              >
                Apply filters
              </button> #}

              {{ govukButton({
                  text: "Apply filters",
                  href: "list-filters-mvp-checked"
                }) }}
            </form>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="keywords">
                  Employee location
                </label>
                <div id="location-hint" class="govuk-hint">
                  Enter postcode
                </div>

                <input
                  class="govuk-input"
                  id="locationPostcode"
                  name="locationPostcode"
                  type="text"
                />
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend
                    class="govuk-fieldset__legend govuk-fieldset__legend--m"
                  >
                  Cost after discount
                  </legend>

                  <div
                    class="govuk-checkboxes govuk-checkboxes--small"
                    data-module="govuk-checkboxes"
                  >
                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="cost"
                        name="cost"
                        type="checkbox"
                        value="1"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="cost"
                      >
                        £20 to £40
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="cost-2"
                        name="cost"
                        type="checkbox"
                        value="2"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="cost-2"
                      >
                      £50 to £70
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="cost-3"
                        name="cost"
                        type="checkbox"
                        value="3"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="cost-3"
                      >
                      £80 and above
                      </label>
                    </div>

                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend
                    class="govuk-fieldset__legend govuk-fieldset__legend--m"
                  >
                    Assessment methods
                  </legend>

                  <div
                    class="govuk-checkboxes govuk-checkboxes--small"
                    data-module="govuk-checkboxes"
                  >
                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="assessmentPhone"
                        name="assessmentMethod"
                        type="checkbox"
                        value="complete"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="assessmentPhone"
                      >
                        Phone
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="assessmentVideo"
                        name="assessmentMethod"
                        type="checkbox"
                        value="incomplete"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="assessmentVideo"
                      >
                        Video call
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="assessmentHome"
                        name="assessmentMethod"
                        type="checkbox"
                        value="inprogress"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="assessmentHome"
                      >
                        Home visit
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="assessmentClinic"
                        name="assessmentMethod"
                        type="checkbox"
                        value="inprogress"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="assessmentClinic"
                      >
                        At a clinic
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="assessmentWorkplace"
                        name="assessmentMethod"
                        type="checkbox"
                        value="inprogress"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="assessmentWorkplace"
                      >
                        At a workplace
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="assessmentAgreedLocation"
                        name="assessmentMethod"
                        type="checkbox"
                        value="inprogress"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="assessmentAgreedLocation"
                      >
                        At an agreed location
                      </label>
                    </div>

                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="govuk-grid-column-two-thirds">

        <!-- The component to be hidden -->

        <div class="moj-banner" id="visibleComponent" style="display: block;" role="region" aria-label="information">

        <!-- Your component content goes here -->

          <div class="moj-banner__message">
            <h2 class="govuk-heading-s">This providers list is unsorted.</h2>
          </div>
        
        </div>

        <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-0">
          27 results
        </p>

        <div id="unsorted" class="table-section" style="display: block;">
          <!-- Initially visible -->
          <!-- Your "Unsorted" table content goes here -->
          <table class="govuk-table govuk-table--small-text-until-tablet">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Contact details</th>
                <th scope="col" class="govuk-table__header">Assessment</th>
                <th scope="col" class="govuk-table__header">Cost</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                  <a class="govuk-body-s" href="">View this provider's other clinics</a>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £20 to £40
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £50 to £70
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>At a workplace</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £80 and above
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Video call</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £20 to £40
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £50 to £70
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit<br>At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £80 and above
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £20 to £40
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Video call<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £50 to £70
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Video call<br>Home visit<br>At a clinic<br>At a workplace</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £80 and above
                    </p>
                  </td>
              </tr>
            </tbody>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                  <a class="govuk-body-s" href="">View this provider's other clinics</a>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £20 to £40
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit<br>At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £50 to £70
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £80 and above
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £20 to £40
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Video call<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £50 to £70
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £80 and above
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £20 to £40
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £50 to £70
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £80 and above
                    </p>
                  </td>
              </tr>
            </tbody>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                  <a class="govuk-body-s" href="">View this provider's other clinics</a>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £20 to £40
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £50 to £70
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £80 and above
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £20 to £40
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £50 to £70
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £80 and above
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £20 to £40
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £50 to £70
                    </p>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half"><a href="#" class="govuk-link">NUFFIELD HEALTH OH SERVICES</a>
                  <br><p class="govuk-body-s govuk-!-padding-top-2">Dorchester, DT1 1XJ<br>0117 207 6190<br>admin@provider.co.uk</p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit<br>At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                    <p class="govuk-body-s">
                      £80 and above
                    </p>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>

        {% endif %}

      </div>
    </div>
  </main>
  </div>


  </div>
</div>

{% endblock %}
