{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %} {% block pageTitle %} Find a workplace health
provider {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %} {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <span class="govuk-caption-xl">Provider</span>
        <h1 class="govuk-heading-l">HEALTH FIRST ASSESSMENTS</h1>

        <h2 class="govuk-heading-m">Main clinic</h2>

        <div>
          <table class="govuk-table govuk-table--small-text-until-tablet">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Contact details</th>
                <th scope="col" class="govuk-table__header">Assessment</th>
                <th scope="col" class="govuk-table__header">Cost</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">HEALTH FIRST ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Manchester, M1 2HS<br>0161 123 4567<br>contact@healthfirst.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
              </tbody>
            </thead>
            </table>

              <h2 class="govuk-heading-m">Other clinics</h2>

              <table class="govuk-table govuk-table--small-text-until-tablet">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Contact details</th>
                    <th scope="col" class="govuk-table__header">Assessment</th>
                    <th scope="col" class="govuk-table__header">Cost</th>
                  </tr>
                </thead>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">HEALTH FIRST ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Birmingham, B1 1AA<br>0121 654 3210<br>birmingham@healthfirst.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£50 to £70</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">HEALTH FIRST ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    London, EC1A 1BB<br>020 1234 5678<br>london@healthfirst.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>At a workplace</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£80 and above</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">HEALTH FIRST ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Liverpool, L1 8JQ<br>0151 234 5678<br>liverpool@healthfirst.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Video call</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">HEALTH FIRST ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Leeds, LS1 2TE<br>0113 234 5678<br>leeds@healthfirst.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit<br>At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£80 and above</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        {{ govukButton({
          text: "Back to results",
          classes: "govuk-button--secondary",
          href: "javascript:window.history.back()"
        }) }}

      </div>
    </div>


  </div>
</div>

{% endblock %}
