{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l ">Add a provider</h1>

<p>This information will not be published on the register.</p>
  <h2 class="govuk-heading-m govuk-!-margin-top-6">Application details</h2>



      <!--COLUMN 1-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="customer-surname">
            Company name
        </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text">

        </div>

  <!--COLUMN 2-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="customer-surname">
        Full name of person who sent application
    </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text">

    </div>

    <!--COLUMN 12-->
    <div class="govuk-form-group">
      <label class="govuk-label" for="customer-surname">
          Email address
      </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text">

      </div>


  <!--COLUMN 4-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="customer-surname">
      Phone number
    </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text">

    </div>






  <h2 class="govuk-heading-m govuk-!-margin-top-8">Healthcare professional's details</h2>

<p>We need this information to make sure the provider is eligible.</p>

  <!--COLUMN 2-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="customer-surname">
  Full name
    </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text">

    </div>


  <!--COLUMN 4-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="customer-surname">
      GMC, HCPC or NMC number
    </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text">

    </div>

    <!--COLUMN 3-->
    <div class="govuk-form-group">
      <label class="govuk-label" for="customer-surname">
          Job role
      </label>
      <select class="govuk-select govuk-!-width-two-thirds" id="sort" name="sort">
  <option value="published"></option>
  <option value="updated" >Doctor</option>
  <option value="views">Nurse</option>
  <option value="comments">Occupational therapist</option>
  <option value="comments">Physiotherapist</option>
  <option value="comments">Psychologist</option>
  </select>

      </div>
    

<a href="add-new-2"
        <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Save and continue</button>
</a>




      </div>


  </div>

{% endblock %}
