{% extends "layout.html" %}

{% block pageTitle %}
  You are not eligible to use this service
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
You are not eligible to use this service </h1>



<p>If you have 50 to 250 employees, you can only use this service if you meet one of these conditions:
</p>
<ul class="govuk-list govuk-list--bullet">


<li>your yearly turnover is £36 million or less</li>

<li>your yearly balance sheet is £18 million or less</li>
</ul>



<h2 class="govuk-heading-m">
  Find other support </h2>
  <p>If your employee has a health condition or disability, they may be eligible for support through <a href="https://www.gov.uk/access-to-work" class="govuk-link" rel="noreferrer noopener" target="_blank">Access to Work (opens in a new tab).</a></p>

  <p><a href="https://www.support-with-employee-health-and-disability.dwp.gov.uk/support-with-employee-health-and-disability" class="govuk-link" rel="noreferrer noopener" target="_blank">Understand your legal requirements to support your employee's health or disability. (opens in a new tab)</a>.</p>
  








  </div>
  </div>
</main>
    </div>

{% endblock %}
