{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


  <form class="form" method="post">
        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              <h1 class="govuk-fieldset__heading">
                Does your organisation employ a registered clinician?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="seqohs" name="seqohs" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="seqohs">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="seqohs-3" name="seqohs" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="seqohs-3">
                  No
                </label>
              </div>


            </div>

          </fieldset>
        </div>


<a href="medical-pract-type"
        <button class="govuk-button" data-module="govuk-button">Continue</button>
</a>

</form>
    </div>
  </div>

{% endblock %}
