{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">
        What is registration Health and Care Professions Council Number for the specialist?
      </h1>
      <div class="govuk-form-group">
  <label class="govuk-label" for="full-name">
    Health and Care Professions Council Number
  </label>

  <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name">
</div>

<a href="gdpr"
        <button class="govuk-button" data-module="govuk-button">Continue</button>
</a>


    </div>
  </div>

{% endblock %}
