{% extends "layout-employer.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}


{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <h1 class="govuk-heading-l">Check your answers </h1>

    <h2 class="govuk-heading-m">Eligibility details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation registration
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['postcode'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="location">
            Change<span class="govuk-visually-hidden"> Change company registration</span>
          </a>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of employees
        </dt>
        <dd class="govuk-summary-list__value">

          <p class="govuk-body">1 to 9 employees</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="business-size">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Yearly turnover
        </dt>
        <dd class="govuk-summary-list__value">

          <p class="govuk-body">More than £10.2 million</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="turnover">
            Change<span class="govuk-visually-hidden"> turnover for the last financial year</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Yearly balance
        </dt>
        <dd class="govuk-summary-list__value">

          <p class="govuk-body">Less than £5.1 million</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="balance-sheet">
            Change<span class="govuk-visually-hidden"> balance sheet total for last financial year</span>
          </a>
        </dd>
      </div>
    </dl>



    <h2 class="govuk-heading-m">Organisation details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Philips
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="business-name-change">
            Change<span class="govuk-visually-hidden"> company name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sector
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['register'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="sector">
            Change<span class="govuk-visually-hidden"> Change organisation sector</span>
          </a>
        </dd>
      </div>

    </dl>





    <h2 class="govuk-heading-m">Contact details</h2>


    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Robin Parker
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['email'] }} email@email.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> email address</span>
          </a>
        </dd>
      </div>

    </dl>



    <h2 class="govuk-heading-m">Declaration</h2>

    <p>By sending this form you confirm that the information you have given to the Department of Work and Pensions
      (DWP) is complete and correct.</p><p>You also confirm that you agree to the <a href="terms-and-conditions" target="_blank">terms and conditions for employers (opens in new tab)</a>.</p>


    <form action="form-completed" method="post" novalidate>


      <div class="govuk-form-group">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="terms" name="terms" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="terms">
              I have read and agree to the terms and conditions
            </label>
          </div>
        </div>
    </div>


      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and send
      </button>
    </form>


  </div>
</div>
</main>
</div>


</div>
</div>
</main>
</div>

{% endblock %}