{% extends "layout.html" %}

{% block pageTitle %}
Get an 80% discount on expert workplace health advice and recommendations for an employee
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}




{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Get a workplace health assessment to support an employee's health and disability
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
      <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide"
        role="navigation">
        <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
          Contents
        </h2>
        <ol class="govuk-prototype-kit-common-templates-contents-list__list">
          <li
            class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
            <a href="start-page">
              Overview
            </a>
          </li>
          <li
            class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
            <a href="eligibility">
              Eligibility
            </a>
          </li>
          <li
            class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
            <a href="what-is-ha.html">
              What is a workplace health assessment
            </a>
          </li>
          <li
            class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
            <a href="support-an-employee">
              Using workplace health assessment to support an employee
            </a>
          </li>
          <li aria-current="true"
            class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
            How the discount scheme works
          </li>
          <li
            class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
            <a href="apply">
              Get a discount code
            </a>
          </li>
        </ol>
      </nav>
    </aside>

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h2 class="govuk-heading-m"><a id="how-the-discount-works"></a> How the discount scheme works </h2>

    <h3 class="govuk-heading-s">How to use the discount code </h3>
    <ol class="govuk-list govuk-list--number">
      <li><a href="eligibility">Check if your business is eligible</a> and get a discount code. </li>
      <li>Search the list of providers.</li>
      <li>Contact a provider to book an assessment. </li>
      <li>Give the provider your discount code. </li>
      <li>After the assessment, you will get advice about how you can provide onward support for your employee.</li>
      <li>Pay the provider when they invoice you. </li>
      <li>DWP will pay 80% of the cost of the assessment.</li>
    </ol>

    <h3 class="govuk-heading-s">If you need another discount code </h3>

    <p>You can use this scheme for all employees, including yourself. </p>

    <p>Employees can have more assessments for ongoing or new cases. </p>
    <p>For every assessment, you will need to get a new discount code by answering the eligibility questions again. </p>
    <p>Discount codes do not expire. </p>


    <h3 class="govuk-heading-s">What an assessment will cost </h3>
    <p>An assessment will cost between £1 and £80 after the 80% discount. For this scheme, the occupational health
      assessment should cost no more than £400.</p>
    <p>DWP will pay 80% of the £400 cost, which will be capped at £320. You will pay 20% up to the value of £80. If the
      costs exceed this amount for example, because of travel costs or the cost of the assessment, you will have to pay
      anything that is above the £80, in full, to the provider.</p>
    <div class="govuk-inset-text">
      VAT is not usually applied to an occupational health assessment if it is carried out by a registered healthcare
      professional.
    </div>

    <h3 class="govuk-heading-s">Why the cost of assessments differ </h3>
    <p>The cost can be different depending on the:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>complexity of the case </li>
      <li>type of health care professional that does the assessment </li>
    </ul>

    <div class="govuk-inset-text">
      <h3 class="govuk-heading-s">Examples</h3>
      <p> Sam has a video call assessment with a nurse. It cost £150, so his employer pays £30. </p>
      <p>Emma has an in-person assessment with an occupational therapist. It cost £250, so her employer pays £50.</p>
    </div>

    <h3 class="govuk-heading-s">Cancelling an assessment</h3>

    <p>If an employee needs to cancel or reschedule an assessment it might result in a fee.</p>

    <!--h3 class="govuk-heading-s">If an employee needs to cancel or reschedule an assessment  </h3>
<p>Cancelling or rescheduling an assessment might result in a fee. </p-->

    <p>You need to check with the workplace health provider what their cancellation policy is. </p>

    <h3 class="govuk-heading-s">If an employee does not attend an assessment </h3>

    <p>You will have to pay for the full cost of an assessment if your employee does not attend. You will have to pay
      any cancellation or rescheduling fees in full.</p>
    <p>Reassuring and reminding your employee about the assessment process means they are more likely to attend.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-step-nav-related app-step-nav-related--singular ">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Related content</span>
        <a href="https://www.support-with-employee-health-and-disability.dwp.gov.uk/support-with-employee-health-and-disability"
          class="govuk-body-s"> Support with employee health and disability</a>
        <br><br>
        <a href="https://www.gov.uk/access-to-work" class="govuk-body-s">
          Access to Work: get support if you have a disability or health condition </a>
        <br><br>
      </h2>
    </div>
  </div>


</div>
<nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="support-an-employee" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13"
        width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path
          d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
        </path>
      </svg>
      <span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">Using a workplace health assessment to support an employee</span></a>
  </div>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="apply" rel="next"> <svg
        class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13"
        width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path
          d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
        </path>
      </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">Get a discount code</span></a>
  </div>
</nav>



</div>
{% endblock %}