{% extends "layout.html" %}

{% block pageTitle %}
You are not eligible to use this service
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You are not eligible to use this service</h1>

    <p>Based on your answers you are not eligible to use this service.</p>

    <p>Only organisations who are based in England or Wales are eligible to get a discount code.</p>

    <h2 class="govuk-heading-m">Find other support</h2>

    <p>If your organisation is registered in Scotland, your employees could be eligible for support from <a href=""
        class="govuk-link" rel="noreferrer noopener" target="_blank">Working Health Service Scotland (opens in a new
        tab)</a>.</p>


  </div>
</div>
</main>
</div>

{% endblock %}