{% extends "layout.html" %}

{% block pageTitle %}
  Get an 80% discount on expert workplace health advice and recommendations for an employee
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

     
</div>

<div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">
    Get a workplace health assessment to support an employee's health and disability
  </h1>
</div>

<div class="govuk-grid-column-two-thirds">

  
<p>Contents</p>
<ul class="govuk-list ">
    <li>Overview</li>
    <li><a href="eligibility">Eligibility</a></li>
    <li><a href="what-is-ha">What is a workplace health assessment</a></li>
    <li><a href="support-an-employee">Using workplace health assessment to support an employee</a></li>
    <li><a href="how-scheme-works">How the discount scheme works</a></li>
    <li><a href="apply">Apply</a></li>
</ul>


<h2 class="govuk-heading-m">Overview</h2>
<p>Small and medium-sized enterprises (SMEs) can use this service to get a code for an 80% discount of the cost of a workplace health assessment for employees.</p>

<p>An assessment will cost between £1 and £80, after the discount.</p>

{# <div class="govuk-inset-text">
    You will be able to use this service to <a href="/phoenix/employer/register/v11/list-filters-mvp-anonymised">search for a private sector workplace health provider</a> to carry out the assessment.
</div> #}

<p>The assesssment will help you understand what support your employee needs to stay in, or return to work.</p>
<p>Supporting an employee’s health and wellbeing may reduce the amount of time they need to take off work. </p>

    <h2 class="govuk-heading-m">Pilot phase</h2>
    <p>During the pilot phase SMEs in Cumbria, Lancashire and Barrow-in-Furness have been invited to take part. </p>
    <p>The pilot phase will be running from early 2024 for a number of months, after which we will open up the service to more employers.  
        If your organisation does not fit the <a href="eligibility">eligibility for the pilot</a> you can register your interest by emailing <a href="mailto:workplacehealth.employer@dwp.gov.uk">workplacehealth.employer@dwp.gov.uk</a>.</p>

        <h3 class="govuk-heading-m">If you have generated a discount code before</h3>
        <p>If you are returning to get another discount code you will need a new <a href="email-address-gate-returning?returningUser=yes">one-time passcode</a> to access your details.</p>
        <p>Once you have the one-time passcode you will be able to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>find a provider</li>
          <li>generate another discount code</li>
          <li>see existing codes you've generated</li>
        </ul>



    </div>

    <div class="govuk-grid-column-one-third">
      <div class="app-step-nav-related app-step-nav-related--singular ">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Related content</span>
            <a href="https://www.support-with-employee-health-and-disability.dwp.gov.uk/support-with-employee-health-and-disability" class="govuk-body-s"> Support with employee health and disability</a>
            <br><br>
            <a href="https://www.gov.uk/access-to-work" class="govuk-body-s">
                Access to Work: get support if you have a disability or health condition </a>
            <br><br>
        </h2>
      </div>
    </div>
  </div>

      <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
     
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="eligibility" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Eligibility</span></a>
        </div>
      </nav>


  </div>
{% endblock %}
