{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}





{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Cordell Health Ltd
    </h1>

    <strong class="govuk-tag">
    Visible on the register
    </strong>


    <nav class="moj-sub-navigation govuk-!-margin-top-6" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="provider-details-1">General</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="provider-details-2">Address(es)</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="provider-details-3">Assessment</a>
        </li>
      </ul>

    </nav>


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Price range for the health assessment
    </dt>
    <dd class="govuk-summary-list__value">
      £200 - £400
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> price range</span>
      </a>
    </dd>
  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Travel to deliver in person assessment
    </dt>
    <dd class="govuk-summary-list__value">
      50 miles
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> travel distance</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Assessment methods
    </dt>
    <dd class="govuk-summary-list__value">
      Workplace mental health assessment and Workplace physical health assessment
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
  Type of assessments offered
    </dt>
    <dd class="govuk-summary-list__value">
      In-person and Remote
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>



  </dl>

    </div>

<div class="govuk-grid-column-one-third">

  <div class="moj-timeline">
    <div class="moj-timeline__item">

      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Phone number changed</h2>



      </div>

      <p class="moj-timeline__date">
        <time datetime="2019-06-14T14:01:00.000Z">14 June 2019 at 2:01pm</time>
      </p>



    </div>

    <div class="moj-timeline__item">

      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Provider not visible on the register</h2>



      </div>

      <p class="moj-timeline__date">
        <time datetime="2019-06-07T12:32:00.000Z">7 June 2019 at 12:32pm</time>
      </p>


    </div>

    <div class="moj-timeline__item">

      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Provider visible on the register</h2>


      </div>

      <p class="moj-timeline__date">
        <time datetime="2019-06-06T09:12:00.000Z">6 June 2019 at 9:12am</time>
      </p>


    </div>

    <div class="moj-timeline__item">

      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Address 2 changed</h2>



      </div>

      <p class="moj-timeline__date">
        <time datetime="2019-05-28T10:45:00.000Z">28 May 2019 at 10:45am</time>
      </p>


    </div>

  </div>
</div>

  </div>

{% endblock %}
