{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}





{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Cordell Health Ltd
    </h1>

    <strong class="govuk-tag">
    Visible on the register
    </strong>


    <nav class="moj-sub-navigation govuk-!-margin-top-6" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="provider-details-1">General</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="provider-details-2">Address(es)</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="provider-details-3">Assessment</a>
        </li>
      </ul>

    </nav>


    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Name of workplace health organisation
        </dt>
        <dd class="govuk-summary-list__value">
        Cordell Health Ltd
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> provider name</span>
          </a>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name of person sending application
        </dt>
        <dd class="govuk-summary-list__value">
          Jane Doe
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name of the nominated healthcare professional
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Brown
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Healthcare professional qualifications
        </dt>
        <dd class="govuk-summary-list__value">
      Doctor
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> professional qualifications</span>
          </a>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Healthcare professional GMC/HCPC/NMC number
        </dt>
        <dd class="govuk-summary-list__value">
        HZ76384940
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> number</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">07700 900457</dd>

        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> phone number</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Email address
        </dt>
        <dd class="govuk-summary-list__value">
        cordell@example.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> email address</span>
          </a>
        </dd>
      </div>



    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Website address
      </dt>
      <dd class="govuk-summary-list__value">
      https://cordellhealth.co.uk
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> website address</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Provider visible on the register
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> provider visible</span>
        </a>
      </dd>
    </div>



  </dl>

    </div>
    <div class="govuk-grid-column-one-third">

      <div class="moj-timeline">
        <div class="moj-timeline__item">

          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Phone number changed</h2>



          </div>

          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">14 June 2019 at 2:01pm</time>
          </p>



        </div>

        <div class="moj-timeline__item">

          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Provider not visible on the register</h2>



          </div>

          <p class="moj-timeline__date">
            <time datetime="2019-06-07T12:32:00.000Z">7 June 2019 at 12:32pm</time>
          </p>


        </div>

        <div class="moj-timeline__item">

          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Provider visible on the register</h2>


          </div>

          <p class="moj-timeline__date">
            <time datetime="2019-06-06T09:12:00.000Z">6 June 2019 at 9:12am</time>
          </p>


        </div>

        <div class="moj-timeline__item">

          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Address 2 changed</h2>



          </div>

          <p class="moj-timeline__date">
            <time datetime="2019-05-28T10:45:00.000Z">28 May 2019 at 10:45am</time>
          </p>


        </div>

      </div>


      </div>

  </div>

{% endblock %}
