{% extends "layout.html" %}

{% block pageTitle %}
  Account homepage
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{ data['organisationName'] or "ABC Limited" }}
      </h1>

    </div>
      
      <div class="govuk-grid-column-full">
      <p>As an employer you can get a discount code for you and your employees, to help with the cost of a workplace health assessment.</p>
      <br>
      </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-card govuk-card--contained govuk-card" style="background-color:#f8f8f8;outline: 1px solid #BFC1C3;padding:20px;position:relative;min-height:280px;">
          <p class="govuk-body-l govuk-!-font-weight-bold"><a href="/phoenix/employer/register/v11/list-filters-mvp" class="govuk-link govuk-link--no-visited-state">Find a provider</a></p>
          <p class="govuk-body govuk-!-font-size-19">
            Search the register to find a provider to carry out a workplace health assessment.
            <br><br>You will be able to use your discount code to get 80% off the cost.
          </p>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-card govuk-card--contained govuk-card" style="background-color:#f8f8f8;outline: 1px solid #BFC1C3;padding:20px;position:relative;min-height:280px;">
          <p class="govuk-body-l govuk-!-font-weight-bold"><a href="discount-codes" class="govuk-link govuk-link--no-visited-state">Your discount codes</a></p>
          <p class="govuk-body govuk-!-font-size-19">
            See the discount codes you have created.
            <br><br>Find out which codes you have already used or which codes are still available.
          </p>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-card govuk-card--contained govuk-card" style="background-color:#f8f8f8;outline: 1px solid #BFC1C3;padding:20px;position:relative;min-height:280px;">
          <p class="govuk-body-l govuk-!-font-weight-bold"><a href="contact-method" class="govuk-link govuk-link--no-visited-state">Get a discount code</a></p>
          <p class="govuk-body govuk-!-font-size-19">
            For every assessment, an employer will need to get a new discount code.
            <br><br>This includes an employee who has ongoing assessments.  All employees can get an assessment.
          </p>
          </div>
        </div>
      

    <div class="govuk-grid-column-full">

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-padding-top-2">

      <h2 class="govuk-heading-m">
        Get help
      </h2>

      <p>
        Find out more about <a href="" class="govuk-link govuk-link--no-visited-state">supporting an employee's health and disability</a> and <a href="" class="govuk-link govuk-link--no-visited-state">how you get a discount code</a>.
      </p>

    </div>

    </div>
  </div>
  

{% endblock %}
