{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %} {% block pageTitle %} Find a workplace health
provider {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

<div style="float:right" class="govuk-!-margin-top-2">
<span class="govuk-body">
  <strong class="govuk-tag govuk-tag--purple govuk-!-font-size-14">
    Prototype only
  </strong>
  <a href="list-filters-mvp" class="govuk-link govuk-!-font-size-14">Unsorted</a> -
  <a href="list-filters-mvp-checked" class="govuk-link govuk-!-font-size-14">Cost and Assessment</a> - 
  <a href="list-filters-mvp-checked-location" class="govuk-link govuk-!-font-size-14">Location</a>
</span>
</div>

{% endblock %} {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
        <h1 class="govuk-heading-l">Find a workplace health provider</h1>
        <h2 class="govuk-heading-m">How to book an assessment</h2>
        <ol class="govuk-list govuk-list--number">
          <li>Search the list of providers.</li>
          <li>Contact a provider to book an assessment.</li>
          <li>Give the provider your discount code.</li>
        </ol>
        <p>
          When choosing a provider it is important you check their services will
          meet your needs. Read about
          <a href="evaluation">how providers have been evaluated</a>.
        </p>
      </div>
    </div>

    {# {% if data['cost'] == '1' or data['cost'] == '2' or data['cost'] == '3' 
    or data['assessmentMethod'] == 'remote' or data['assessmentMethod'] == 'in person'
    %} #}
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="moj-filter">
          <div class="moj-filter__header">
            <div class="moj-filter__header-title">
              <h2 class="govuk-heading-m">Filter</h2>
            </div>

            <div class="moj-filter__header-action"></div>
          </div>

          <div class="moj-filter__content">
            
            <form action="?" method="post" novalidate>
            <div class="moj-filter__options">
              
              {# <button
                type="submit"
                class="govuk-button"
                data-module="govuk-button"
                data-test-id="submit-button"
              >
                Apply filters
              </button> #}

              {{ govukButton({
                  text: "Apply filters",
                  href: "list-filters-mvp-checked"
                }) }}
            </form>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="keywords">
                  Employee location
                </label>
                <div id="location-hint" class="govuk-hint">
                  Enter postcode
                </div>

                <input
                  class="govuk-input"
                  id="locationPostcode"
                  name="locationPostcode"
                  type="text"
                />
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend
                    class="govuk-fieldset__legend govuk-fieldset__legend--m"
                  >
                  Cost after discount
                  </legend>

                  <div
                    class="govuk-checkboxes govuk-checkboxes--small"
                    data-module="govuk-checkboxes"
                  >

                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="type-0"
                      name="type"
                      type="checkbox"
                      value="0"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="type"
                    >
                      Less than £20
                    </label>
                  </div>
                  
                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="cost"
                        name="cost"
                        type="checkbox"
                        value="1"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="cost"
                      >
                        £20 to £40
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="cost-2"
                        name="cost"
                        type="checkbox"
                        value="2"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="cost-2"
                      >
                      £40 to £60
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="cost-3"
                        name="cost"
                        type="checkbox"
                        value="3"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="cost-3"
                      >
                      £60 to £80
                      </label>
                    </div>

                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend
                    class="govuk-fieldset__legend govuk-fieldset__legend--m"
                  >
                    Assessment methods
                  </legend>

                  <div
                    class="govuk-checkboxes govuk-checkboxes--small"
                    data-module="govuk-checkboxes"
                  >
                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="assessmentPhone"
                        name="assessmentMethod"
                        type="checkbox"
                        value="complete"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="assessmentPhone"
                      >
                        Phone
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="assessmentVideo"
                        name="assessmentMethod"
                        type="checkbox"
                        value="incomplete"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="assessmentVideo"
                      >
                        Video call
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="assessmentHome"
                        name="assessmentMethod"
                        type="checkbox"
                        value="inprogress"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="assessmentHome"
                      >
                        Home visit
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="assessmentClinic"
                        name="assessmentMethod"
                        type="checkbox"
                        value="inprogress"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="assessmentClinic"
                      >
                        At a clinic
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="assessmentWorkplace"
                        name="assessmentMethod"
                        type="checkbox"
                        value="inprogress"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="assessmentWorkplace"
                      >
                        At a workplace
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="assessmentAgreedLocation"
                        name="assessmentMethod"
                        type="checkbox"
                        value="inprogress"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="assessmentAgreedLocation"
                      >
                        At an agreed location
                      </label>
                    </div>

                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="govuk-grid-column-two-thirds">

        <!-- The component to be hidden -->

        {# <div class="moj-banner" id="visibleComponent" style="display: block;" role="region" aria-label="information">

        <!-- Your component content goes here -->

          <div class="moj-banner__message">
            <h2 class="govuk-heading-s">This providers list is unsorted.</h2>
          </div>
        
        </div> #}

        <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-0">
          34 results
        </p>

        <div id="unsorted" class="table-section" style="display: block;">
          <!-- Initially visible -->
          <!-- Your "Unsorted" table content goes here -->
          <table class="govuk-table govuk-table--small-text-until-tablet">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Contact details</th>
                <th scope="col" class="govuk-table__header">Assessment</th>
                <th scope="col" class="govuk-table__header">Cost</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">HEALTH FIRST ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Manchester, M1 2HS<br>0161 123 4567<br>contact@healthfirst.co.uk
                  </p>
                  <a class="govuk-body-s" href="provider-clinics">View this provider's other clinics</a>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">WELLNESS SOLUTIONS LTD</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Birmingham, B1 1AA<br>0121 654 3210<br>info@wellnesssolutions.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£40 to £60</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">VITAL HEALTH CHECK</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    London, EC1A 1BB<br>020 1234 5678<br>support@vitalhealthcheck.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>At a workplace</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£60 to £80</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">WORKSAFE HEALTH SERVICES</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Liverpool, L1 8JQ<br>0151 234 5678<br>services@worksafehealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Video call</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">ACTIVECARE ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Liverpool, L1 3TA<br>0151 987 6543<br>info@activecare.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£40 to £60</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">FIT FOR WORK LTD</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Leeds, LS1 2TE<br>0113 234 5678<br>contact@fitforwork.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit<br>At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£60 to £80</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">TOTAL HEALTH MANAGEMENT</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Liverpool, L11 1BB<br>0151 654 3210<br>enquiries@totalhealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">PREMIER HEALTH ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Bristol, BS1 5HQ<br>0117 987 6543<br>info@premierhealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Video call<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£40 to £60</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">CORPORATE HEALTH SERVICES</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Cardiff, CF10 1BH<br>029 1234 5678<br>support@corporatehealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Video call<br>Home visit<br>At a clinic<br>At a workplace</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£60 to £80</p>
                </td>
              </tr>
            </tbody>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">PROHEALTH WORKPLACE</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Newcastle, NE1 4JE<br>0191 234 5678<br>contact@prohealthworkplace.co.uk
                  </p>
                  <a class="govuk-body-s" href="provider-clinics">View this provider's other clinics</a>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">OPTIMAL HEALTH ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Sheffield, S1 2DA<br>0114 987 6543<br>info@optimalhealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit<br>At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£40 to £60</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk
            
            -!-width-one-half">
                  <a href="#" class="govuk-link">BLUESKY HEALTH CHECKS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Nottingham, NG1 2FG<br>0115 234 5678<br>support@blueskyhealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£60 to £80</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">HEALTHWISE LTD</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Leicester, LE1 1PL<br>0116 987 6543<br>info@healthwise.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">WELLCHECK SERVICES</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Liverpool, L10 5GS<br>0151 1234 5678<br>enquiries@wellcheck.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Video call<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£40 to £60</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">ASSESSME HEALTH</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Southampton, SO14 1ND<br>023 987 6543<br>info@assessme.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£60 to £80</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">SAFEWORK HEALTH</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Portsmouth, PO1 3BS<br>023 234 5678<br>support@safeworkhealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">ELITE HEALTH ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Coventry, CV1 2WT<br>024 1234 5678<br>contact@elitehealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£40 to £60</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">PRIMEHEALTH SOLUTIONS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Plymouth, PL1 1DA<br>01752 987 6543<br>info@primehealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£60 to £80</p>
                </td>
              </tr>
            </tbody>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">WORKPLACE WELLNESS LTD</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Oxford, OX1 1AA<br>01865 234 5678<br>support@workplacewellness.co.uk
                  </p>
                  <a class="govuk-body-s" href="provider-clinics">View this provider's other clinics</a>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">FIRSTCHOICE HEALTH ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Cambridge, CB1 1PS<br>01223 987 6543<br>contact@firstchoicehealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£40 to £60</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">HEALTHGUARD ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Derby, DE1 2SP<br>01332 234 5678<br>info@healthguard.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£60 to £80</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">MEDCHECK SERVICES</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Exeter, EX1 1AB<br>01392 987 6543<br>enquiries@medcheck.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">WELLNESSPRO LTD</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Norwich, NR1 3HF<br>01603 234 5678<br>info@wellnesspro.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">At a clinic<br>At a workplace<br>
            
            At an agreed location</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£40 to £60</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">SAFEGUARD HEALTH</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Reading, RG1 2LU<br>0118 987 6543<br>support@safeguardhealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£60 to £80</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">PROACTIVE HEALTH SERVICES</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Swansea, SA1 1RT<br>01792 234 5678<br>contact@proactivehealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">HEALTHLINK ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Luton, LU1 2PQ<br>01582 987 6543<br>info@healthlink.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£40 to £60</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">CLEARHEALTH SOLUTIONS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Liverpool, L19 1HT<br>0151 234 5678<br>support@clearhealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£60 to £80</p>
                </td>
              </tr>
            </tbody>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">WELLASSESS LTD</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Warrington, WA1 1XG<br>01925 987 654<br>enquiries@wellassess.co.uk
                  </p>
                  <a class="govuk-body-s" href="provider-clinics">View this provider's other clinics</a>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">HEALTHDIRECT ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Warrington, WA3 1SY<br>01925 234 567<br>info@healthdirect.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Home visit<br>At a clinic</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£40 to £60</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">PRIMECARE SERVICES</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Newport, NP20 1AE<br>01633 987 6543<br>support@primecare.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£60 to £80</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">HEALTHFOCUS ASSESSMENTS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Bath, BA1 1LT<br>01225 234 5678<br>contact@healthfocus.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">WORKWELL HEALTH SERVICES</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Worcester, WR1 2HB<br>01905 987 6543<br>info@workwellhealth.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£40 to £60</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">ASSESSRIGHT LTD</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Chester, CH1 1HS<br>01244 234 5678<br>support@assessright.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">At a clinic<br>At a workplace<br>At an agreed location</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£60 to £80</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">
                  <a href="#" class="govuk-link">HEALTHGUARDIANS</a>
                  <br>
                  <p class="govuk-body-s govuk-!-padding-top-2">
                    Lincoln, LN1 1UT<br>01522 987 6543<br>enquiries@healthguardians.co.uk
                  </p>
                </th>
                <td class="govuk-table__cell govuk-body-s">Phone<br>Video call<br>Home visit</td>
                <td class="govuk-table__cell">
                  <p class="govuk-body-s">£20 to £40</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>


  </div>
</div>

{% endblock %}
