{% extends "layout.html" %}

{% block pageTitle %}
Find out if you're eligible for this service
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      User is on allow list and has valid discount code</h1>

    <p>If you have a discount code which has not been redeemed, you will have until <strong>9th September</strong> to do so. After this date any unused codes will become invalid and can no longer be redeemed.</p>

<p>&nbsp;</p>

    <a href="list-filters-mvp" class="govuk-button">
      Find a provider
    </a>


  </div>
</div>
</main>
</div>

{% endblock %}