{% extends "layout.html" %}

{% block pageTitle %}
Find a workplace health provider
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

<div class="govuk-grid-column-full-width">


<p class="govuk-body"> <a href="/phoenix/employer/v11/start-page" class="govuk-link">Go back to the start page</a></p>


  <h1 class="govuk-heading-l">Find a workplace health provider</h1>
</div>

<h2 class="govuk-heading-m">How to book an assessment</h2>

<ol class="govuk-list govuk-list--number">
  <li>Search the list of providers.</li>
  <li>Contact a provider to book an assessment.</li>
  <li>Give the provider your discount code.</li>
  </ol>


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<p>When choosing a provider it is important you check their services will meet your needs. Read about <a href="evaluation">how providers have been evaluated</a>.</p>

<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">7 results</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://cordellhealth.co.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">Cordell Health Ltd (opens in new tab)</a></p>
<p class="govuk-body-s ">0.4 miles away</p>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>Middlesex, HA5</span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
</span>
  <span> £20 to £80 </span></li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods:  </span>
  <span>Phone, video call, at a clinic </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 117 207 6190 </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>enquires@cordellhealth.co.uk </span>
  </li>

  </ul>
</div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://healthworkltd.com" class="govuk-link" rel="noreferrer noopener" target="_blank">Healthwork (opens in new tab)</a></p>
<p class="govuk-body-s ">0.5 miles away</p>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>London, UB5</span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
</span>
  <span> £20 to £80  </span></li>

  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods: </span>
  <span>Phone, video call, home visit, at a clinic, at an agreed location</span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 161 831 9701 </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>admin@healthworkltd.com</span>
  </li>

  </ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://innovatehealthcare.co.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Innovate Healthcare Management Group (opens in new tab) </a></p>
<p class="govuk-body-s ">1.8 miles away</p>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>London, UB6</span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
  </span>
  <span> £20 to £80  </span></li>

  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods:  </span>
  <span>Video call, at a clinic, at a workplace </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 161 527 7405</span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>corpcma@innovatehmg.co.uk </span>
  </li>

  </ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://www.kaysmedical.com/" class="govuk-link" rel="noreferrer noopener" target="_blank">Kays Medical (opens in new tab)</a></p>
<p class="govuk-body-s ">3.7 miles away</p>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>London, UB3</span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
  </span>
  <span> £20 to £80  </span></li>

  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods: </span>
  <span>Phone, home visit, at a clinic, at a workplace </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 779 521 4663 </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>admin@keymedical.co.uk</span>
  </li>

  </ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://www.bespokewellbeing.co.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Bespoke Wellbeing (opens in new tab)</a></p>
<p class="govuk-body-s ">10.4 miles away</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <ul class="govuk-list">
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>London, SW16 2SW</span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
  </span>
  <span> £20 to £60  </span></li>

  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods:  </span>
  <span>Phone, video call, at a clinic, at a workplace,at an agreed location </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 330 088 1538 </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>info@bespokewellbeing.co.uk </span>
  </li>

  </ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://www.medigold-health.com" class="govuk-link" rel="noreferrer noopener" target="_blank">Medigold Health (opens in new tab)</a></p>
<p class="govuk-body-s ">24.9 miles away</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>London, EC3V</span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
</span>
  <span> £20 to £80  </span></li>

  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods:  </span>
  <span>Phone, video call, home visit, at a clinic, at a workplace </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 330 390 3370</span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>enquiries@medigold-health.com </span>
  </li>

  </ul>
</div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://www.psychologyexperts.org/our-services/occupational-psychology/" class="govuk-link" rel="noreferrer noopener" target="_blank">Psychology Experts (opens in new tab)</a></p>
<p class="govuk-body-s ">31.8 miles away</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <ul class="govuk-list">
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>Hove, BN3</span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
</span>
  <span> £40 to £80 </span></li>

  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods: </span>
  <span>Video call, home visit, at a workplace </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 127 338 1468</span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>admin@psychologyexperts.org </span>
  </li>

  </ul>
</div>
</div>

<br>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
  </td>
  <td class="govuk-table__cell">
    <strong class="govuk-tag govuk-tag--purple">
      Prototype only
    </strong>
  </td>
</tr>
<br><br>
<p class="govuk-body">
  <a href="list" class="govuk-link">Version 1</a><br>
  <a href="list-filters" class="govuk-link">Version 3</a>
</p>

  </div>


</div>

{% endblock %}
