{% extends "layout.html" %}

{% block pageTitle %}
Find a workplace health provider
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

<div class="govuk-grid-column-full-width">

<p class="govuk-body"> <a href="/phoenix/employer/v16/start-page" class="govuk-link">Go back to the start page</a></p>


  <h1 class="govuk-heading-l">Find a workplace health provider</h1>
</div>

<h2 class="govuk-heading-m">How to book an assessment</h2>

<ol class="govuk-list govuk-list--number">
  <li>Search the list of providers.</li>
  <li>Contact a provider to book an assessment.</li>
  <li>Give the provider your discount code.</li>
  </ol>


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<p>When choosing a provider it is important you check their services will meet your needs. Read about <a href="evaluation">how providers have been evaluated.</a></p>

<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">7 results</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://cordellhealth.co.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">Provider 1 (opens in new tab)</a></p>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
      <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>Dorchester, DT1 1XJ</span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
</span>
  <span> £20 to £80 </span></li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods:  </span>
  <span>Phone, video call, home visit, at a clinic, at an agreed location</span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 117 207 6190 </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>admin@provider1.co.uk</span>
  </li>

  </ul>
</div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://healthworkltd.com" class="govuk-link" rel="noreferrer noopener" target="_blank">Provider 2 (opens in new tab)</a></p>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>5 Colliton Park, Dorchester, Dorset, DT1 1XJ</span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
</span>
  <span> £20 to £80  </span></li>

  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods: </span>
  <span>Phone, video call, home visit, at a clinic, at an agreed location</span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 161 831 9701 </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>admin@provider2.co.uk</span>
  </li>

  </ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://innovatehealthcare.co.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Provider 3 (opens in new tab) </a></p>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>South Walks House, Charles Street, Dorchester, Dorset, DT1 1EE</span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
  </span>
  <span> £20 to £80  </span></li>

  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods:  </span>
  <span>Video call, at a clinic, at a workplace </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 161 527 7405</span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>admin@provider3.co.uk</span>
  </li>

  </ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://www.kaysmedical.com/" class="govuk-link" rel="noreferrer noopener" target="_blank">Provider 4 (opens in new tab)</a></p>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>Dorchester, DT1 1EE </span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
  </span>
  <span> £20 to £80  </span></li>

  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods: </span>
  <span>Phone, home visit, at a clinic, at a workplace </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 779 521 4663 </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>admin@provider4.co.uk</span>
  </li>

  </ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://www.bespokewellbeing.co.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Provider 5 (opens in new tab)</a></p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <ul class="govuk-list">
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>Bridport, DT6 3NY</span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
  </span>
  <span> £20 to £60  </span></li>

  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods:  </span>
  <span>Phone, video call, at a clinic, at a workplace,at an agreed location </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 330 088 1538 </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>admin@provider5.co.uk</span>
  </li>

  </ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://www.medigold-health.com" class="govuk-link" rel="noreferrer noopener" target="_blank">Provider 6 (opens in new tab)</a></p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>South Street, Bridport, Dorset, DT6 3NY</span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
</span>
  <span> £20 to £80  </span></li>

  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods:  </span>
  <span>Phone, video call, home visit, at a clinic, at a workplace </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 330 390 3370</span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>admin@provider6.co.uk</span>
  </li>

  </ul>
</div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body"><a href="https://www.psychologyexperts.org/our-services/occupational-psychology/" class="govuk-link" rel="noreferrer noopener" target="_blank">Provider 7 (opens in new tab)</a></p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <ul class="govuk-list">
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Location:</span>
          <span>58 Salisbury Road, Blandford Forum, Dorset, DT11 7LN</span>
          </li>

            <li>
  <span class="govuk-body govuk-!-font-weight-bold">Cost after 80% discount:
</span>
  <span> £40 to £80 </span></li>

  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Assessment methods: </span>
  <span>Video call, home visit, at a workplace </span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Phone number:  </span>
  <span>+44 127 338 1468</span>
  </li>
  <li>
  <span class="govuk-body govuk-!-font-weight-bold">Email address:  </span>
  <span>admin@provider7.co.uk</span>
  </li>

  </ul>
</div>
</div>

<br>

  <nav class="govuk-pagination" role="navigation" aria-label="results">
    <ul class="govuk-pagination__list">
      <li class="govuk-pagination__item govuk-pagination__item--current">
        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
          1
        </a>
      </li>
      <li class="govuk-pagination__item">
        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
          2
        </a>
      </li>
      <li class="govuk-pagination__item">
        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
          3
        </a>
      </li>
    </ul>
    <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg></a>
    </div>
  </nav>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
  </td>
  <td class="govuk-table__cell">
    <strong class="govuk-tag govuk-tag--purple">
      Prototype only
    </strong>
  </td>
</tr>
<br><br>
<p class="govuk-body">
  <a href="list-filters" class="govuk-link">Version 1</a><br/>
  Version 2<br/>
  <a href="list-filters-2" class="govuk-link">Version 3</a>
</p>


  </div>


</div>

{% endblock %}
