{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
Get expert health support at work <h1>

<p>Occupational health services can help you manage your health and wellbeing at work. </p>

<p>If something to do with your health is affecting you at work, you may find it useful to speak to an occupational health adviser. </p>

<p>You can ask your employer if they'll consider referring you for an assessment. Or your employer may ask if you'll agree to one. </p>



<p>
You do not have to agree, but an assessment can help you get any support you might need to:</p>

<ul class="govuk-list govuk-list--bullet">
<li>stay in work</li>
<li>get back to work if you've been off sick </li>

</ul>



<h2 class="govuk-heading-m"> What happens in an occupational health assessment</h2>

<p>Occupational health advisers provide impartial advice to help you and your employer. They could be doctors, nurses, or other health professionals.
</p>

<p>During the assessment, they'll talk to you about: </p>

<ul class="govuk-list govuk-list--bullet">
<li>your health and any treatment you're having</li>
<li>your usual work activities</li>
<li>your general lifestyle and activities outside work </li>

</ul>

<h2 class="govuk-heading-m">What happens after an assessment</h2>
<p>The conversation between you and the adviser is confidential. They will not share anything without your consent.  </p>



<p>The adviser will prepare a report. They'll check with you if they can show it to your employer. If you agree, you can also choose whether you want to see the report first, or at the same time as your employer. </p>


<p>The report will contain advice and recommendations, which could include: </p>
<ul class="govuk-list govuk-list--bullet">
<li>adjustments to your workspace, such as a bigger screen or ergonomic chair</li>
<li>a phased return to work or different working hours</li>
<li>a referral to other services, like physiotherapy or counselling</li>
</ul>



<p>You and your employer should decide together the best course of action.  </p>

<h2 class="govuk-heading-m">How to get an assessment</h2>

<p>Search the list to find an occupational health provider to do an assessment for you. You can filter by specialism, location and cost.</p>

<p>Once you have found a provider you should discuss the details with your employer. </p>

<p>Your employer will be responsible for making first contact with the provider. When they do this, the provider will ask about:</p>

<ul class="govuk-list govuk-list--bullet">
<li>the details of your situation</li>
<li>who they recommend to do your assessment - a doctor, nurse or other health professional</li>
<li>whether they need to see you in person - this could be to assess your workspace</li>
</ul>
<p>Your employer will pay for the assessment. </p>

<a href="/phoenix/employer/register/v2/list"
      <button class="govuk-button" data-module="govuk-button">
  Browse providers
  </button></a>
  </div>


<div class="govuk-grid-column-one-third">

  <div class="app-step-nav-related app-step-nav-related--singular ">
    <h2 class="app-step-nav-related__heading">
      <span class="app-step-nav-related__pretitle">Related content</span>

      <a href="https://www.gov.uk/access-to-work" class="govuk-body-s ">
              Access to Work: get support if you have a disability or health condition </a>
        <br><br>


<a href="https://www.gov.uk/reasonable-adjustments-for-disabled-workers" class="govuk-body-s">
        Reasonable adjustments for workers with disabilities or health conditions </a>
<br><br>
        <a href="https://www.gov.uk/definition-of-disability-under-equality-act-2010" class="govuk-body-s">
                Definition of disability under the Equality Act 2010 </a>
      <br><br>
  <a href="https://www.gov.uk/rights-disabled-person" class="govuk-body-s">
            Disability rights </a>


    </h2>
  </div>




        </div>


  </div>
</main>
    </div>

{% endblock %}
