$breakpoint-mobile: 640px;
​
.message-summary-list {
  list-style-type: none;
  li {
    overflow: hidden;
    border-top: 1px solid $govuk-border-colour;
    padding-top: 10px;
    a {
      font-weight: bold;
      text-decoration: none;
    }
    p {
      padding-top: 5px;
      font-weight: bold;
    }
  }
}
​
.messages-pagination {
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      margin-right: 15px;
      a {
        text-decoration: none;
      }
    }
  }
}
​
.message-summary {
  .govuk-summary-list__key {
    width: 75%;
    font-weight: normal;
  }
}
​
.filters-mobile {
  display: none;
  a {
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 400;
    color: #1d70b8;
  }
}
​
.filters-desktop.js-hidden-mobile {
  display: block;
}
@media (max-width: $breakpoint-mobile) {
  .filters-desktop {
    display: none;
  }
  .filters-mobile {
    display: block;
  }
  #toggle-filter {
    .govuk-link {
      text-decoration: none !important;
    }
  }
  #toggle-filter-icon {
    text-decoration: none;
  }
  .govuk-accordion-nav__chevron--up {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    // Set size using rems to make the icon scale with text if user resizes text in their browser
    width: govuk-px-to-rem(20px);
    height: govuk-px-to-rem(20px);
    border: govuk-px-to-rem(1px) solid;
    border-radius: 50%;
    vertical-align: middle;
    // IE8 fallback of icon
    @include govuk-if-ie8 {
      display: inline-block;
      max-height: 20px;
      line-height: 1;
    }
​
    // Create inner chevron arrow
    &:after {
      content: "";
      box-sizing: border-box;
      display: block;
      position: absolute;
      bottom: govuk-px-to-rem(5px);
      left: govuk-px-to-rem(6px);
      width: govuk-px-to-rem(6px);
      height: govuk-px-to-rem(6px);
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      border-top: govuk-px-to-rem(2px) solid;
      border-right: govuk-px-to-rem(2px) solid;
      // IE8 fallback of icon with HTML symbol
      @include govuk-if-ie8 {
        content: "\25B2"; // "▲"
        position: relative;
        border: 0;
      }
    }
    // Rotate icon to create "Down" version
    .govuk-accordion-nav__chevron--down {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      // IE8 fallback of arrow icon
      @include govuk-if-ie8 {
        &:after {
          content: "\25BC"; // "▼"
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none;
        }
      }
    }
  }
}
