{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Discount code to redeem at occupational health provider</h1>

<p>This code has been already sent to your mobile phone number.</p>


      <h2 class="govuk-heading-l"> W 7 4   H L 1   P Z 9</h2>

      <div class="govuk-inset-text">
      This code is valid until 21 August 2022.
      </div>
<h2 class="govuk-heading-m">What to do next </h2>
<ol class="govuk-list govuk-list--number">
  <li>Search for an approved occupational health provider using the "Search for an occupational health provider" service.</li>
  <li>Contact your chosen provider and share your unique voucher code.
</li>
  <li>You will be asked to pay your chosen provider 20% of the cost of services.</li>

<li>The provider will claim back the remaining 80% directly from Government.</li>
</ol>



<p><a href="">Print this page</a></p>
<p><a href="">Send code by email</a></p>



<a href=""
      <button class="govuk-button" data-module="govuk-button">
    Search for the occupation health provider
  </button></a>


    </div>
  </div>
  </main>
  </div>
{% endblock %}
