{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <form class="form" method="post">

  <span class="govuk-caption-l">Cordell Health Ltd</span>
  <h1 class="govuk-heading-l">Clinic details</h1>

<p>This information will get published on the provider register.</p>
<h2 class="govuk-heading-m govuk-!-margin-top-6">Contact details</h2>
<!--COLUMN 12-->
<div class="govuk-form-group">
  <label class="govuk-label" for="customer-surname">
      Email address
  </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text" value="cordell@example.com">

  </div>


<!--COLUMN 4-->
<div class="govuk-form-group">
<label class="govuk-label" for="customer-surname">
  Phone number
</label>
  <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text" value="07700 900457">

</div>

<!--COLUMN 4-->
<div class="govuk-form-group">
<label class="govuk-label" for="customer-surname">
  Website (optional)
</label>
  <input class="govuk-input govuk-!-width-two-thirds" id="claimid" name="claimid" type="text" value="https://www.cordell.co.uk/">

</div>


     <h2 class="govuk-heading-m govuk-!-margin-top-8" id="clinic-address">Address</h2>
  <!--COLUMN 5-->
  <div class="govuk-form-group">

    <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
      Address line 1
    </label>
    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1" value="St Andrews House, St Andrew's Rd">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-2">
      Address line 2 (optional)
    </label>
    <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-town">
      Town or city
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2" value="Bristol">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-county">
      County (optional)
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code" value="BS11 9DQ">
  </div>


    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-8" id="assessment-details">
       Assessment details</h2>

       <p>Assessment price range</p>
<div id="waste-hint" class="govuk-hint">If a provider has a fixed price for assessments, enter the value in the lowest price box and leave the highest price box blank.</div>



        <!--COLUMN 13-->

        <div class="govuk-form-group">

          <div class="govuk-form-group">
            <p>
          Lowest price
       </p>

            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false" value="200">
            </div>
</div>

<p>to</p>
                        <div class="govuk-form-group ">
                          <p>
                        Highest price (optional)
                     </p>

                          <div class="govuk-input__wrapper">
                            <div class="govuk-input__prefix" aria-hidden="true">£</div>
                            <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false" value="400">
                          </div>
                        </div>

            </div>








        <!--
        <div class="govuk-form-group">
          <label class="govuk-label" for="assessmentType" id="assessment-types">
              Assessment types
          </label>
          <div id="waste-hint" class="govuk-hint">
       Select all that apply.
     </div>
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="workplacehealth-1" name="assessmentType" type="checkbox" value="mental" checked>
          <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-1" checked="mental" aria-selected="true">
          Workplace mental health assessment
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="workplacehealth-2" name="assessmentType" type="checkbox" value="physical" checked>
          <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-2">
            Workplace physical health assessment
          </label>
        </div>
      
          </div>
          </div>COLUMN 16-->

          <div class="govuk-form-group">
            <label class="govuk-label" for="assessmentType">
                Assessment methods
            </label>
            <div id="waste-hint" class="govuk-hint">
         Select all that apply.
       </div>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
         
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="workplacehealth-3" name="assessmentType" type="checkbox" value="phone-method" checked>
            <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-3">
            Phone
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="workplacehealth-4" name="assessmentType" type="checkbox" value="video-method" checked>
            <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-4">
            Video call
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="workplacehealth-5" name="assessmentType" type="checkbox" value="homevisit">
            <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-5">
            Home visit
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="workplacehealth-6" name="assessmentType" type="checkbox" value="clinicvisit">
            <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-6">
            At a clinic
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="workplacehealth-7" name="assessmentType" type="checkbox" value="workplacevisit">
            <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-7">
            At a workplace
            </label>
          </div>
            </div>
            </div>


        


            {{ govukButton({
              text: "Save and continue",
              href: "check-answers-clinic"
            }) }}
             {# <button class="govuk-button" data-module="govuk-button">Save and continue</button> #}
            </form>

      </div>


  </div>

{% endblock %}
