{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form class="form" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Cordell Health Ltd</span>
              <h1 class="govuk-fieldset__heading">
                What are the assessment types for this clinic?
              </h1>
            </legend>


            <div class="govuk-form-group">
           
              <div id="waste-hint" class="govuk-hint">
           Select all that apply.
         </div>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="workplacehealth-1" name="assessmentType" type="checkbox" value="mental" checked>
              <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-1" >
              Workplace mental health assessment
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="workplacehealth-2" name="assessmentType" type="checkbox" value="physical" checked>
              <label class="govuk-label govuk-checkboxes__label" for="workplacehealth-2">
                Workplace physical health assessment
              </label>
            </div>
          
              </div>
              </div>
    



          </fieldset>
        </div>


<a href="change-email-confirmation"
        <button class="govuk-button" data-module="govuk-button">Continue</button>
</a>

</form>
    </div>
  </div>

{% endblock %}
