{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
<span class="govuk-caption-l">Fusion Occupational Health Ltd</span>
      <h1 class="govuk-heading-l">
        Do you want to publish this clinic on the register?  </h1>

        <div class="govuk-radios" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="publish" name="publish" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="publish">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="publish" name="publish" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="publish-2">
            No
            </label>
          </div>

        </div>

                  </fieldset>
                </div>
<a href="fusion-add-new-clinic-confirmation"
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
</a>

</form>


    </div>
  </div>

{% endblock %}
