{% extends "layout2.html" %}

{% block pageTitle %}
Are you sure you want to remove joe.bloggs@employer.com from your whitelisted emails?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="?" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you sure you want to remove joe.bloggs@employer.com from your whitelisted emails?
            </h1>
          </legend>
          {# <div id="changedName-hint" class="govuk-hint">
            This includes changing your last name or spelling your name differently.
          </div> #}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="remove-email-yes" name="removeemail" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="remove-email-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="remove-email-no" name="removeemail" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="remove-email-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>


        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
