{% extends "layout2.html" %}

{% block pageTitle %}
  Performance data – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Performance data
      </h1>

      {# <p>
        This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.
      </p>

      <p>
        Read more <a href="/path/of/page">about this topic</a>.
      </p> #}

      <br>
      
      {{ govukTable({
        caption: "Providers and clinics registered",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Providers"
            },
            {
              text: "15",
              format: "numeric"
            }
          ],
          [
            {
              text: "Clinics"
            },
            {
              text: "25",
              format: "numeric"
            }
          ]
        ]
      }) }}
      
      <br>

      {{ govukTable({
        caption: "Employers using the pilot",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        
        rows: [
          [
            {
              text: "Registered"
            },
            {
              text: "70",
              format: "numeric"
            }
          ],
          [
            {
              text: "Logged in"
            },
            {
              text: "40",
              format: "numeric"
            }
          ],
          [
            {
              text: "Failed login attempts"
            },
            {
              text: "3",
              format: "numeric"
            }
          ]
        ]
      }) }}

      <br>

      {{ govukTable({
        caption: "Vouchers sent",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,

        rows: [
          [
            {
              text: "Text messages"
            },
            {
              text: "7",
              format: "numeric"
            }
          ],
          [
            {
              text: "Email"
            },
            {
              text: "78",
              format: "numeric"
            }
          ],
          [
            {
              text: "Total vouchers"
            },
            {
              text: "85",
              format: "numeric"
            }
          ]
        ]
      }) }}

    </div>
  </div>

{% endblock %}
