{% extends "layout2.html" %}

{% block pageTitle %}
  Cordell Health Ltd Clinics
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="search-provider">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Cordell Health Ltd</span>
    <h1 class="govuk-heading-l">
    Check provider details
    </h1>

  </div>

  <div class="govuk-grid-column-one-third">




    </div>


  <div class="govuk-grid-column-two-thirds">

    

    <dl class="govuk-summary-list govuk-!-margin-top-5">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Company name
        </dt>
        <dd class="govuk-summary-list__value">
        Cordell Health Ltd
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="change-company-name">
            Change<span class="govuk-visually-hidden"> provider name</span>
          </a>
        </dd>
      </div>


     




      
</dl>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">
      Clinic details
    </h2>

   

        <dl class="govuk-summary-list govuk-!-margin-top-5">
          <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">

            
          
            </dd>
          </dd>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row ">
        <dd class="govuk-summary-list__value">
          St Andrews House<br> St Andrew's Rd<br> Bristol <br>BS11 9DQ
        </dd>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green">
      
            Published
            </strong>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="clinic-details-cordell">
            View or update<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
        </div>
      <!--  <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            72 Guild Street<br> London <br>SE23 6FH
          </dd>
        <dd class="govuk-summary-list__value">
         
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            View or update<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>-->


    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">
        16 St John Street<br> Manchester<br> M3 4EA
      </dd>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--red">
      
        Unpublished
        </strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="clinic-details-cordell-2">
        View or update<span class="govuk-visually-hidden"> address</span>
      </a>
    </dd>
  </div>

      </dl>
      <div><a href="add-new-clinic">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add a new clinic
        </button></div></a>

  


      </div>

  </div>

{% endblock %}
