{% extends "layout.html" %}

{% block pageTitle %}
Is the company based in Cumbria, Lancashire or Barrow-in-Furness?
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Is the company based in Cumbria, Lancashire or Barrow-in-Furness?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="companyLocation" name="companyLocation" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="companyLocation">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="companyLocation-2" name="companyLocation" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="companyLocation-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
    </td>
    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--purple">
        Prototype only
      </strong>
    </td>
    </tr>
    <br><br>
    <p class="govuk-body">
    <a href="not-eligible-location" class="govuk-link">Scenario: Ineligible - not in eligible area</a><br>
    </p>

    </div>
  </div>

{% endblock %}
