{% extends "layout.html" %}

{% block pageTitle %}
    Was your turnover for the 2020 to 2021 financial year less than
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<form class="form" method="post">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What is your yearly turnover?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="turnover-0" name="turnover" type="radio" value="turnover-eligible">
        <label class="govuk-label govuk-radios__label" for="turnover-0">
          The organisation is less than 1 year old
        </label>
      </div>      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="turnover-1" name="turnover" type="radio" value="turnover-eligible">
        <label class="govuk-label govuk-radios__label" for="turnover-1">
          £1 to £49,999
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="turnover-2" name="turnover" type="radio" value="turnover-eligible">
        <label class="govuk-label govuk-radios__label" for="turnover-2">
          £50,000 to £99,000
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="turnover-3" name="turnover" type="radio" value="turnover-eligible">
        <label class="govuk-label govuk-radios__label" for="turnover-3">
          £100,000 to £249,999
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="turnover-4" name="turnover" type="radio" value="turnover-eligible">
        <label class="govuk-label govuk-radios__label" for="turnover-4">
          £250,000 to £499,999
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="turnover-5" name="turnover" type="radio" value="turnover-eligible">
        <label class="govuk-label govuk-radios__label" for="turnover-5">
          £500,000 to £999,999
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="turnover-6" name="turnover" type="radio" value="turnover-eligible">
        <label class="govuk-label govuk-radios__label" for="turnover-6">
          £1 million to £5.1 million
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="turnover-7" name="turnover" type="radio" value="turnover-eligible">
        <label class="govuk-label govuk-radios__label" for="turnover-7">
          £5.1 million to £10.2 million
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="turnover-8" name="turnover" type="radio" value="turnover-ineligible">
        <label class="govuk-label govuk-radios__label" for="turnover-8">
          More than £10.2 million
        </label>
      </div>
    </div>
  </fieldset>
</div>



      <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>

  </div>
</div>


{% endblock %}
