{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div data-module="moj-add-another">

      <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Where is your business based?</h2>

      <form method="post">

        <fieldset class="govuk-fieldset moj-add-another__item">

          <legend class="govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--m">

            Address

          </legend>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="person[0][first_name]">
            Address line 1
            </label>

            <input class="govuk-input" id="person[0][first_name]" name="person[0][first_name]" type="text" data-name="person[%index%][first_name]" data-id="person[%index%][first_name]">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="person[0][last_name]">
            Address line 2 (optional)
            </label>

            <input class="govuk-input" id="person[0][last_name]" name="person[0][last_name]" type="text" data-name="person[%index%][last_name]" data-id="person[%index%][last_name]">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="person[0][last_name]">
            Town or city
            </label>

            <input class="govuk-input govuk-!-width-two-thirds" id="person[0][last_name]" name="person[0][last_name]" type="text" data-name="person[%index%][last_name]" data-id="person[%index%][last_name]">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="person[0][last_name]">
            County (optional)
            </label>

            <input class="govuk-input govuk-!-width-two-thirds" id="person[0][last_name]" name="person[0][last_name]" type="text" data-name="person[%index%][last_name]" data-id="person[%index%][last_name]">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="person[0][last_name]">
          Postcode
            </label>

            <input class="govuk-input govuk-input--width-10" id="person[0][last_name]" name="person[0][last_name]" type="text" data-name="person[%index%][last_name]" data-id="person[%index%][last_name]">
          </div>



        </fieldset>

        <div class="moj-button-action">

          <button class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
            Add another address
          </button>

        </div>



      </form>

    </div>



<a href="specialisation"
        <button class="govuk-button" data-module="govuk-button">Continue</button>
</a>

</form>
    </div>
  </div>

{% endblock %}
