{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="search-provider">Back</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Fusion Occupational Health Ltd
    </h1>
    <strong class="govuk-tag govuk-tag--green">

    Published
    </strong>
</div>

<div class="govuk-grid-column-one-third">



      <nav class="moj-side-navigation govuk-!-margin-top-5" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="fusion-details-2" aria-current="location">Provider details</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="fusion-details-1">Clinic details</a>
          </li>



          <li class="moj-side-navigation__item">
            <a href="fusion-details-6">Changes history</a>
          </li>
        </ul>
      </nav>

    </div>


<div class="govuk-grid-column-two-thirds">


  <h2 class="govuk-heading-m govuk-!-margin-top-7">
  Clinic details
  </h2>


    <dl class="govuk-summary-list govuk-!-margin-top-5">





      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Address
      </dt>
      <dd class="govuk-summary-list__value">
        Caerphilly Business Park<br> Suite 3 The Octagon<br> Caerphilly <br>CF83 3ED
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> address</span>
        </a>
      </dd>
    </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Email address
        </dt>
        <dd class="govuk-summary-list__value">
        info@fusionoh.co.uk
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> email address</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">01993824931</dd>

        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> phone number</span>
          </a>
        </dd>
      </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Website
      </dt>
      <dd class="govuk-summary-list__value">
      https://www.fusionoh.co.uk/
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> website address</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Price range
    </dt>
    <dd class="govuk-summary-list__value">
    £200 to £400
    </dd>
    <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> price range</span>
    </a>
    </dd>
    </div>

    
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Distance willing to travel
    </dt>
    <dd class="govuk-summary-list__value">
    50 miles
    </dd>
    <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> travel distance</span>
    </a>
    </dd>
    </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Assessment methods
    </dt>
    <dd class="govuk-summary-list__value">
    Workplace mental health assessment
    <br>
     Workplace physical health assessment<br>
     Video call
    </dd>
    <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> name</span>
    </a>
    </dd>
    </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Published on register
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="unpublish-provider">
          Change<span class="govuk-visually-hidden"> provider visible</span>
        </a>
      </dd>
    </div>



  </dl>

  <p class="govuk-body"> <a href="fusion-add-new-clinic" class="govuk-link">Add new clinic </a></p>



</div>
    </div>
</div>

  </div>

{% endblock %}
