{% extends "layout2.html" %}

{% block pageTitle %}
Sorry, the service is unavailable
{% endblock %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
        <p class="govuk-body">
          The address lookup service is unavailable. Try again later.
        </p>
        <p class="govuk-body">
          We have not saved your answers. When the service is available, you will have to start again.
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}
