{% extends "layout.html" %}

{% block pageTitle %}
Where is your organisation registered?
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" novalidate>

      <h1 class="govuk-heading-l">Where is your organisation registered?</h1>

      {{ govukInput({
        id: "postcode",
        name: "postcode",
        classes: "govuk-input--width-10",
        label: {
          text: "Enter your head office postcode",
          isPageHeading: true,
          classes: "govuk-body"
        },
        hint: {
          text: "For example, AA3 1AB."
        },
        value: data['postcode']
      }) }}

    {{ govukButton({
    text: "Continue"
    }) }}

    </form>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
    </td>
    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--purple">
        Prototype only
      </strong>
    </td>
    </tr>
    <br><br>
    <p class="govuk-body">
      <a href="service-unavailable-postcode-lookup" class="govuk-link">Scenario: Postcode lookup service unavailable</a><br>
      <a href="not-eligible-location-scotland" class="govuk-link">Scenario: Ineligible - Scotland</a><br>
      <a href="not-eligible-location-ni" class="govuk-link">Scenario: Ineligible - Northern Ireland</a><br>
      <a href="not-eligible-location-regions" class="govuk-link">Scenario: Ineligible - South West/East, West/East Midlands, North East</a><br>
      </p>

    </div>
  </div>

{% endblock %}
