{% extends "layout.html" %}

{% block pageTitle %}
Where is your organisation registered?
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['postcodeerror'] == 1 %}

    <!-- error summary -->
    {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
    {
    text: "Enter a valid postcode",
    href: "#postcode"
    }
    ]
    }) }}

    {% endif %}    

    <form action="" method="post" novalidate>

      <h1 class="govuk-heading-l">Where is your organisation registered?</h1>



      {% if data['postcodeerror'] == 1 %}
      <div class="govuk-form-group govuk-form-group--error">
        
        <span class="govuk-error-message" id="question">
          <span class="govuk-visually-hidden">Error:</span> Enter a valid postcode
        </span>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-body" for="postcode">
            Enter your head office postcode
          </label>
          <div id="postcode-hint" class="govuk-hint">
            For example, AA3 1AB.
          </div>
          <input class="govuk-input govuk-input--width-10 govuk-input--error" id="postcode" name="postcode" type="text"
            aria-describedby="postcode-hint">
        </div>

      </div>

      {% else %}
      <div class="govuk-form-group">
        <label class="govuk-label govuk-body" for="postcode">
          Enter your head office postcode
        </label>
        <div id="postcode-hint" class="govuk-hint">
          For example, AA3 1AB.
        </div>
        <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text"
          aria-describedby="postcode-hint">
      </div>

      {% endif %}



      {{ govukButton({
      text: "Continue"
      }) }}




    </form>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--purple">
          Prototype only
        </strong>
      </td>
    </tr>
    <br><br>
    <p class="govuk-body">
      <a href="service-unavailable-postcode-lookup" class="govuk-link">Scenario: Postcode lookup service
        unavailable</a><br>
      <a href="not-eligible-location-regions" class="govuk-link">Scenario: Ineligible</a><br>
    </p>

  </div>
</div>

{% endblock %}