{% extends "layout.html" %}

{% block pageTitle %}
You are not eligible to use this service 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">You are not eligible to use this service </h1>

<p>Only organisations that are based in the following places are eligible to get a discount code at this time:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Cumbria</li>
  <li>Lancashire</li>
  <li>Barrow</li>
</ul>

<h2 class="govuk-heading-m">Find other support</h2>

<p>If your organisation is registered elsewhere your employees could be eligible for support from <a href="https://www.gov.uk/access-to-work" class="govuk-link" rel="noreferrer noopener" target="_blank">Access to Work (opens in a new tab)</a>.</p>

  </div>
  </div>
</main>
    </div>

{% endblock %}
