{% extends "layout.html" %}

{% block pageTitle %}
  Using workplace health to help an employee 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
    Using workplace health assessments to help an employee<h1>


<p>If an employee is finding it difficult to work because of their health, they can get a workplace health assessment.</p>

<p>Workplace health assessments are sometimes called occupational health or vocational rehabilitation assessments.</p>

<p><a href="start-page">Check if you're eligible for an 80% discount on workplace health assessments for your employees</a>.</p>

<h2 class="govuk-heading-m"> When an employee needs an assessment </h2>

<p>An employer can ask an employee if they'll agree to an assessment. This might happen if:</p>

<ul class="govuk-list govuk-list--bullet">
<li>there's been a change in how they're performing at work</li>
<li>they've been absent more often than normal</li>
<li>they're off sick for more than 4 weeks</li>
</ul>

<p>If your employee does not agree to an assessment, try talking to them about the benefits. An assessment can help them:</p>
<ul class="govuk-list govuk-list--bullet">
<li>return to work</li>
<li>get any support they might need</li>
</ul>

<h2 class="govuk-heading-m"> Benefits to your business</h2>
<p>Helping your employees to stay healthy can reduce absences and prevent problems getting worse. This could increase productivity and save you money in the future. </p>


<h2 class="govuk-heading-m"> What is a workplace health assessment</h2>

<p>A workplace health assessment is different from a doctor's report.</p>
<p> It focuses on an employee’s work environment and how their job might affect their health.</p>
<div class="govuk-inset-text">
A workplace health professional will not diagnose health conditions or disabilities. They will give advice and recommend onward support for an employee's health at work.
</div>

<p>The employee may have:</p>
<ul class="govuk-list govuk-list--bullet">
<li>a mental health condition, for example anxiety or depression</li>
<li>a physical health condition like diabetes or arthritis</li>
<li>an injury, such as a broken leg</li>
<li>an impairment or physical disability</li>
<li>a learning disability or difficulty, for example Down's syndrome or dyslexia</li>
<li>a developmental condition like autism or ADHD</li>
<li>any other condition, disability or illness that might affect their ability to do their job</li>
</ul>

<h2 class="govuk-heading-m"> What happens during a workplace health assessment</h2>
<p>An assessment can be remote or in person. </p>
<p>During the assessment, a workplace health professional will ask an employee about:</p>
<ul class="govuk-list govuk-list--bullet">
<li>their health and any treatment they're having</li>
<li>their usual and expected work activities</li>
<li>their general lifestyle and activities outside work</li>
<li>who is already involved in supporting their health</li>
</ul>

<p>The conversation is impartial and confidential.</p>
<p>The employee's medical details will not be shared without their consent.</p>



<h2 class="govuk-heading-m"> What happens after a workplace health assessment</h2>

<p>The workplace health professional will write a report.</p>

<p>The report will contain advice and recommendations, which could include:</p>
<ul class="govuk-list govuk-list--bullet">
<li>adjustments to an employee's workspace, such as a bigger screen or adjustable chair</li>
<li>a phased return to work or different working hours</li>
<li>a referral to other services, like physiotherapy or mental health support</li>
<li>guidance on free and paid-for services employers could use to support an employee</li>
<li>help for employers about keeping to health and safety regulations</li>
<li>links to other organisations who may be able to help</li>
</ul>

<p>After the report has been sent, the employer and employee should decide together the best course of action to take.</p>




  </div>
  </div>
</main>
    </div>

{% endblock %}
