{% extends "layout.html" %}

{% block pageTitle %}
Get an 80% discount on expert workplace health advice and recommendations for an employee
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}




{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


  </div>

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Get a workplace health assessment to support an employee's health and disability
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <p>The pilot scheme to get a discount code to help with the cost of an occupational health assessment has now
      closed.</p>

    <p>You are no longer able to generate new discount codes using this service.</p>

    <h2 class="govuk-heading-m">Already have a discount code</h2>

    <p>If you have a discount code which you haven't used, you will have until noon on the <strong>5th September</strong> to use it. After this date any unused codes will be invalid.</p>

    <h2 class="govuk-heading-m">Find a provider</h2>

    <p>You can use this service to <a href="email-address-gate.html">find a provider</a> to carry out the OH assessment if you already have a discount code that hasn't been used.</p>



    <a href="email-address-gate" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-9 govuk-!-margin-bottom-9"  data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-step-nav-related app-step-nav-related--singular ">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Related content</span>
        <a href="https://www.support-with-employee-health-and-disability.dwp.gov.uk/support-with-employee-health-and-disability"
          class="govuk-body-s"> Support with employee health and disability</a>
        <br><br>
        <a href="https://www.gov.uk/access-to-work" class="govuk-body-s">
          Access to Work: get support if you have a disability or health condition </a>
        <br><br>
      </h2>
    </div>
  </div>
</div>



</div>
{% endblock %}