{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Cordell Health Ltd saved
      </h1>

    </div>

    <p>You have saved Cordell Health Ltd to the database. You can publish them later from the tasks menu.
</p>


  <p class="govuk-body"> <a href="provider-details-1" class="govuk-link">View and change provider details </a></p>
  <p class="govuk-body"> <a href="add-new-1" class="govuk-link">Add another provider</a></p>

    </div>
  </div>

{% endblock %}
