{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %} {% block pageTitle %} Find a workplace health
provider {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
<link rel="stylesheet" href="/public/css/accessible-autocomplete.min.css" />
{{ govukHeader() }} {% endblock %} {% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>


{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width govuk-!-padding-bottom-4">

    <h1 class="govuk-heading-l">Invoice entry</h1>





    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Provider
        </h2>
        <!-- <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="#">Delete choice<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="#">Withdraw<span class="govuk-visually-hidden"> from University of Gloucestershire (University of Gloucestershire)</span></a>
          </li>
        </ul> -->
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['input-autocomplete'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              St Andrew's House
              <br>St Andrew's Road
              <br>Bristol
              <br>BS11 9DQ
            </dd>
          </div>
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              School name<br>Road, City, SW1 1AA
            </dd>
          </div> -->
        </dl>
      </div>
    </div>



    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Discount code
        </h2>
      </div>
      <div class="govuk-summary-card__content">


        {% if data['codeFound'] === 'true' %}
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Code supplied
            </dt>
            <dd class="govuk-summary-list__value">
              ABC123
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Code issued
            </dt>
            <dd class="govuk-summary-list__value">
              20 February 2024
            </dd>
          </div>
        </dl>


        {% elseif data['codeFound'] === 'false' %}
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__key">
              Code supplied
            </dt>
            <dd class="govuk-summary-list__value">
              ABC123
            </dd>
          </div>
        </dl>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Code supplied is invalid. You can still cross reference an employer manually
          </strong>
        </div>

        {% else %}
        <a href="validate-code-for-invoice" class="govuk-body">Validate discount code</a>
        {% endif %}



      </div>
    </div>







    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Employer
        </h2>
      </div>
      <div class="govuk-summary-card__content">

        {% if data['codeFound'] === 'true' %}
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation name
            </dt>
            <dd class="govuk-summary-list__value">
              Philips Gardening
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              sarah.phillips@example.com
            </dd>
          </div>
        </dl>


        {% else %}
        <a href="#" class="govuk-body">Find employer</a>
        {% endif %}




      </div>
    </div>





    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Invoice Data
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Invoice received
            </dt>
            <dd class="govuk-summary-list__value">
              14 August 2024
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Invoice received date</span></a>
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assessment date
            </dt>
            <dd class="govuk-summary-list__value">
              11 August 2024
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Assessment date</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost of assesssment
            </dt>
            <dd class="govuk-summary-list__value">
              £333
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> cost of assessment</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Travel costs
            </dt>
            <dd class="govuk-summary-list__value">
              £100
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Travel costs</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Invoice paid
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Invoice paid</span></a>
            </dd>            
          </div>
        </dl>
      </div>
    </div>



    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Notes
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-form-group">
            <label class="govuk-visually-hidden" for="more-detail">
              Notes
            </label>
          <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      </div>
    </div>



    <form action="invoice-submitted" method="post">

    <!-- logic needed here to enable button if all details are filled in -->
    <button type="submit" aria-disabled="true" class="govuk-button" data-module="govuk-button">
      Submit
    </button>

    <!-- <button type="submit" disabled aria-disabled="true" class="govuk-button" data-module="govuk-button">
      Submit
    </button> -->

    </form>


  </div>
</div>



{% endblock %}