{% extends "layout-employer.html" %}

{% block pageTitle %}
Tell us the main contact's contact details
{% endblock %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">
        Tell us the main contact's contact details
      </h1>

      
      <div class="govuk-form-group">
        
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          {# <div id="email-hint" class="govuk-hint">
            Hint text
          </div> #}
          <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
        </div>
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="mobileNumber">
    Mobile number
  </label>
  <input class="govuk-input govuk-input--width-20" id="mobileNumber" name="mobileNumber" type="number" inputmode="numeric" autocomplete="postal-code">
</div>




<a href="employer-name"
        <button class="govuk-button" data-module="govuk-button">Continue</button>
</a>


    </div>
  </div>

{% endblock %}
