{% extends "layout.html" %}

{% block pageTitle %}
  Your email has been recognised
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-l">
                Your email has been recognised
              </h1>

              <p>This is the information you have previously told us.</p>

              <br>
              
              <dl class="govuk-summary-list">

                <h2 class="govuk-heading-m">Eligibility details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Organisation registration
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['register'] or "England and Wales" }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="location">
                      <span class="govuk-visually-hidden"> organisation registration</span>
                    </a>
                  </dd>
                </div>


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Number of employees
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">5 to 9 employees</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="business-size">
                      <span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Yearly turnover
                </dt>
                <dd class="govuk-summary-list__value">

                  <p class="govuk-body">£5.1 million to £10.2 million</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="turnover">
                    <span class="govuk-visually-hidden"> turnover for the last financial year</span>
                  </a>
                </dd>
              </div>

              {# <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Yearly balance
                </dt>
                <dd class="govuk-summary-list__value">

                  <p class="govuk-body">£500,000 to £999,999</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="balance-sheet">
                    <span class="govuk-visually-hidden"> balance sheet total for last financial year</span>
                  </a>
                </dd>
              </div> #}
            </dl>

              <h2 class="govuk-heading-m">Contact details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Organisation name
                  </dt>
                  <dd class="govuk-summary-list__value">
                   ABC Limited
                  </dd>
                
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="business-name">
                      <span class="govuk-visually-hidden"> organisation name</span>
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Organisation sector
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Education, health or government
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="sector">
                      <span class="govuk-visually-hidden"> sector of organisation</span>
                    </a>
                  </dd>
                </div>
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Email address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['emailAddress'] or "joebloggs@organistion.com" }}
                  </dd>
                
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="email-address-gate">
                      <span class="govuk-visually-hidden"> email address</span>
                    </a>
                  </dd>
                </div>
          
            </dl>

              <p class="govuk-body">
                If the information is correct then you can generate a new discount code.  If you need to update your details you can do so.
              </p>

              <form action="?" method="post" novalidate>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      Do you need to update any of your information?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="detailsFound" name="detailsFound" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="detailsFound">
                          Yes - update my details
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="detailsFound-2" name="detailsFound" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="detailsFound-2">
                          No - keep these details
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                  Continue
                </button>
              </form>
            </div>
          </div>

{% endblock %}
