{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block pageTitle %}
Check your email
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Check your email
        </h1>
        </legend>
        </div>
        
        <p class="govuk-body">We have sent an access code to: <strong>{{ data['undertaking-admin-email'] or "user@company.com" }}</strong>.</p>
        
        {# <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        If you use a browser to access your email, you may need to open a new window or tab to see the code.
        </strong>
        </div> #}
        
        <p class="govuk-body">For your security, the access code will expire after [X seconds/minutes/hours].</p>
        
        <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
        Enter access code
        </label>
        <label class="govuk-hint" for="event-name">
        For example, DNCLRK
        </label>
        <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>
        
        {{ govukButton({
        text: "Continue",
        href: "check-answers"
        }) }}
        
        <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        I have not received an email
        </span>
        </summary>
        <div class="govuk-details__text">
        The email may take a few minutes to arrive.
        <br><br>
        Check your spam or junk folder. If it still has not arrived, you can <a href="">request a new code</a>. 
        </div>
        </details>
        
        </div>
        </div>

{% endblock %}
