{% extends "layout.html" %}

{% block pageTitle %}
Do you want your discount code sent to {{ data['emailAddress'] or "joebloggs@organistion.com" }}?
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="rightEmail-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you want your discount code sent to {{ data['emailAddress'] or "joebloggs@organistion.com" }}?
            </h1>
          </legend>
          {# <div id="rightEmail-hint" class="govuk-hint">
            We may also use this email to contact you about the service.
          </div> #}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rightEmail" name="rightEmail" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="rightEmail">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rightEmail-2" name="rightEmail" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="rightEmail-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      {# {{ govukRadios({
        classes: "govuk-radios",
        name: "changedName",
        fieldset: {
          legend: {
            text: "Is " ~ emailAddress ~ " the right email address to receive the discount code?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "We may also use this email to contact you about the service."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }} #}



{# 

<a href="business-name"
        <button class="govuk-button" data-module="govuk-button">Continue</button>
</a> #}

{{ govukButton({
  text: "Continue"
}) }}

</form>


    </div>
  </div>

{% endblock %}
