{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block pageTitle %}
  What is your email address?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
      What is your email address?
    </label>
  </h1>
  {# <div id="event-name-hint" class="govuk-hint">
    Enter the same email address that you used to register for the pilot.
  </div> #}
  <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email">
</div>



<a href="email-confirm-code"
        <button class="govuk-button" data-module="govuk-button">Continue</button>
</a>

<br>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<tr class="govuk-table__row">
<td class="govuk-table__cell">
</td>
<td class="govuk-table__cell">
  <strong class="govuk-tag govuk-tag--purple">
    Prototype only
  </strong>
</td>
</tr>
<br><br>
<p class="govuk-body">
{# <a href="email-address-gate" class="govuk-link">Scenario: First time user</a><br> #}
<a href="email-not-found" class="govuk-link">Scenario: Email not found</a><br>
</p>


    </div>
  </div>

{% endblock %}
