{% extends "layout.html" %}

{% block pageTitle %}
  Tell us the email you would like your discount code to sent to
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form action="" method="post" novalidate>

        {{ govukInput({
          id: "emailAddressChanged",
          name: "emailAddressChanged",
          label: {
            text: "Tell us the email you would like your discount code to sent to",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: ""
          },
          value: data['emailAddressChanged']
        }) }}
    
    
    {{ govukButton({
      text: "Continue"
    }) }}
    
    </form>

    </div>
  </div>

{% endblock %}
