{% extends "layout-employer.html" %}

{% block pageTitle %}
You are not eligible to use this service 
{% endblock %}





{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
You are not eligible to use this service </h1>



<p>You can only use this service if your company is registered in England or Wales.
</p>

<h2 class="govuk-heading-m">
Find other support </h2>

<p>If your company is registered in Northern Ireland, your employees could be eligible for <a href="https://www.nidirect.gov.uk/articles/access-work-practical-help-work" class="govuk-link" rel="noreferrer noopener" target="_blank">support through Access to Work (NI) (opens in a new tab)</a>.</p>











  </div>
  </div>
</main>
    </div>

{% endblock %}
