{% set serviceName %}
Join the occupational health assessment provider register, so that an employer can use their discount code
{% endset%}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you carry out assessments (in-person or remotely) for employers who are based in Cumbria, Lancashire or Barrow-in-Furness?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/provider-eligibility-decision" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you carry out assessments (in-person or remotely) for employers who are based in Cumbria, Lancashire or Barrow-in-Furness?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="companyLocation" name="companyLocation" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="companyLocation">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="companyLocation-2" name="companyLocation" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="companyLocation-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
