{% set serviceName %}
Join the occupational health assessment provider register, so that an employer can use their discount code
{% endset%}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Join the occupational health assessment provider register, so that an employer can use their discount code
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="email-address-submitted" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="email-address">
              What is your email address?
            </label>
          </h1>
          <!-- <div id="account-number-hint" class="govuk-hint">
            Must be between 6 and 8 digits long
          </div> -->
          <input class="govuk-input govuk-input--width-40" id="email-address" name="ineligibleProviderEmailAddress" type="text" spellcheck="false" autocomplete="name">
        </div>


        {{ govukButton({
          text: "Submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
