{% set serviceName %}
Join the occupational health assessment provider register, so that an employer can use their discount code
{% endset%}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Join the occupational health assessment provider register, so that an employer can use their discount code
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">


      <h1 class="govuk-heading-l">Check your answers before submitting</h1>
      <!-- <h2 class="govuk-heading-m">Personal details</h2> -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['providerFullName'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="full-name">Change<span class="govuk-visually-hidden"> full name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['providerEmailAddress'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="email-address">Change<span class="govuk-visually-hidden"> email address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['providerCompanyName'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="company-name">Change<span class="govuk-visually-hidden"> organisation name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Role at organisation
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['providerCompanyRole'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="company-role">Change<span class="govuk-visually-hidden"> organisation role</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you carry out assessments for employers who are based in Cumbria, Lancashire or Barrow-in-Furness?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['companyLocation'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="company-location">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd>
        </div>
      </dl>

      <p class="govuk-body">By submitting these answers you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <form method="post" action="/provider-eligibility-decision">
        <input type="hidden" name="answers-checked" value="true">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          I understand - continue
        </button>
      </form>


    </div>
  </div>
























{% endblock %}
