{% set serviceName %}
Join the occupational health assessment provider register, so that an employer can use their discount code
{% endset%}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Join the occupational health assessment provider register, so that an employer can use their discount code
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['providerfullnameerror'] == 1 %}

      <!-- error summary -->
      {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
      {
      text: "Enter your full name",
      href: "#full-name"
      }
      ]
      }) }}
  
      {% endif %}    

      <form class="form" action="/provider-full-name" method="post">


        {% if data['providerfullnameerror'] == 1 %}
        <div class="govuk-form-group govuk-form-group--error">
          
  
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--l" for="full-name">
              What is your full name?
            </label>
            <span class="govuk-error-message" id="question">
              <span class="govuk-visually-hidden">Error:</span> Enter your full name
            </span>
            <input class="govuk-input govuk-input--width-40 govuk-input--error" id="full-name" name="providerFullName" type="text" spellcheck="false" autocomplete="name">
          </div>
  
        </div>
  
        {% else %}

        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--l" for="full-name">
              What is your full name?
            </label>
          <input class="govuk-input govuk-input--width-40" id="full-name" name="providerFullName" type="text" spellcheck="false" autocomplete="name">
        </div>

        {% endif %}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
