{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
Using occupational health to help an employee <h1>


<p>
As an employer may have concerns about an employee because:</p>

<ul class="govuk-list govuk-list--bullet">
<li>there's been a change in how they're performing at work</li>
<li>they've been absent more often than normal </li>
<li>they're long-term sick (off work sick for more than 4 weeks)</li>

</ul>

<p>


  If you have concerns, you can ask your employee if they'll agree to an occupational health assessment. </p>

<p>They do not have to agree to it, but it's a good idea as it can help them:</p>

<ul class="govuk-list govuk-list--bullet">
<li>return to work </li>
<li>get any support they might need </li>
</ul>

<h2 class="govuk-heading-m"> What happens in an occupational health assessment </h2>

<p>During the assessment, an occupational health adviser will talk to your employee. The adviser could be a doctor, nurse, or other occupational health professional.</p>

<p>They will ask your employee about:</p>

<ul class="govuk-list govuk-list--bullet">
<li>their health and any treatment they're having</li>
<li>their usual work activities</li>
<li>their general lifestyle and activities outside work </li>
</ul>

<p>The conversation is confidential. The adviser will not share anything with you without your employee's consent.  </p>

<h2 class="govuk-heading-m">What happens after the assessment</h2>

<p>The adviser will prepare a report. They'll check with your employee if they can show it to you. Your employee can also choose whether they want to see the report first, or at the same time as you. </p>


<p>The report will contain advice and recommendations, which could include:</p>
<ul class="govuk-list govuk-list--bullet">
<li>adjustments to their workspace, such as a bigger screen or ergonomic chair</li>
<li>a phased return to work or different working hours</li>
<li>a referral to other services, like physiotherapy or counselling
</li>
</ul>



<p>You should discuss the recommendations with your employee and decide the best course of action. </p>




<a href="/phoenix/employer/register/v2/location"
      <button class="govuk-button" data-module="govuk-button">
  Search for a provider
  </button></a>
  </div>
  </div>
</main>
    </div>

{% endblock %}
