{% extends "layouts/main.html" %}

{% block pageTitle %}
Give feedback – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Give feedback</h1>
      
      <form action="feedback-submitted" method="post" novalidate>
      
        {{ govukRadios({
          name: "howDoYouFeelScore",
          fieldset: {
            legend: {
              text: "Overall, how did you feel about the service you received today?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "VerySatisfied",
              text: "Very satisfied",
              id: "howDoYouFeelQuestion-VerySatisfied"
            },
            {
              value: "Satisfied",
              text: "Satisfied",
              id: "howDoYouFeelQuestion-Satisfied"
            },
            {
              value: "Moderate",
              text: "Neither satisfied or dissatisfied",
              id: "howDoYouFeelQuestion-Moderate"
            },
            {
              value: "Dissatisfied",
              text: "Dissatisfied",
              id: "howDoYouFeelQuestion-Dissatisfied"
            },
            {
              value: "VeryDissatisfied",
              text: "Very dissatisfied",
              id: "howDoYouFeelQuestion-VeryDissatisfied"
            }
          ]
        }) }}

        {{ hmrcCharacterCount({
          name: "moreDetail",
          id: "whyGiveScore",
          maxlength: 1000,
          label: {
            text: "How can we improve this service?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "Do not enter any personal information in this box. We are unable to reply to comments individually but we do use your feedback to help improve our services."
          }
        }) }}
      
        {{ govukButton({
          text: "Send feedback"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
