{% extends "layout-employer.html" %}

{% block pageTitle %}
  Get an 80% discount on expert workplace health advice and recommendations for an employee
{% endblock %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


      <section class="dwp-key-details-bar" aria-label="Key details">
      <div class="dwp-key-details-bar__key-details">
      <dl class="dwp-key-details-bar__top-block">
          <dt class="govuk-visually-hidden">Name:</dt>
          <dd class="dwp-key-details-bar__primary govuk-!-font-size-19">Guidance</dd>

      </dl>
      <dl class="dwp-key-details-bar__top-block">

          <h1 class="govuk-panel__title">How the workplace health assessment scheme works</h1>
<dt>Updated 10 January 2023</dt>
      </dl>


      </div>
      </section>

</div>



      <div class="govuk-grid-column-one-third">

        <div class="govuk-!-margin-top-6">

            <span class="govuk-body">Contents</span>
            <br><br>
            <a href="#" class="govuk-body-s govuk-link govuk-link--no-underline"">
                    How to use the discount code </a>

                  <br><br>
         <a href="#" class="govuk-body-s govuk-link govuk-link--no-underline">
            What an assessment will cost </a>

      <br><br>

      <a href="#" class="govuk-body-s govuk-link govuk-link--no-underline">
         Why the cost of assessments differ </a>


  

<br><br>

<a href="#" class="govuk-body-s govuk-link govuk-link--no-underline">
   If an employee needs to cancel an assessment </a>

<br><br>

<a href="#" class="govuk-body-s govuk-link govuk-link--no-underline">
   If an employee does not attend an assessment</a>

<br><br>
        </div>




              </div>





<div class="govuk-grid-column-two-thirds">

<br>

<h2 class="govuk-heading-m govuk-!-margin-top-2">How to use the discount code</h2>

<ol class="govuk-list govuk-list--number">
  <li><a href="apply">Check if your business is eligible</a> and get a discount code.</li>
  <li>Search the list of providers and book an assessment.</li>
  <li>Contact a provider to book an assessment.</li>
  <li>Give the provider your discount code.</li>
  <li>After the assessment, you will get advice about free or funded onward support for your employee.</li>
  <li>Pay the provider when they invoice you.</li>
  <li>DWP will pay 80% of the cost of the assessment.</li>
</ol>

<p class="govuk-body govuk-!-font-weight-bold">If you need another discount code</p>
<p>You can use this scheme for all your employees, including yourself.</p>
<p>Employees can have more assessments for ongoing or new cases. 
</p>
<p>For every assessment, you will need to get a new discount code by answering the eligibility questions again. </p>
<p>Discount codes do not expire.</p>

<br>

<h2 class="govuk-heading-m ">What an assessment will cost</h2>

<p>An assessment will cost between £20 and £80 after the 80% discount.</p>

<p>For this scheme, the occupational health assessment should cost no more than £400.</p>

<p>DWP will pay 80% of the £400 cost, which will be capped at £320.</p>

<p>You will pay 20% up to the value of £80.If the costs exceed this amount for example, because of travel costs, or the cost of the assessment, you will have to pay anything that is above the £80, in full, to the provider.</p>

<p>VAT is not usually applied to an occupational health assessment if it is carried out by a registered healthcare professional.</p>

<br>

<h2 class="govuk-heading-m ">Why the cost of assessments differ</h2>
<p>The cost can be different depending on:</p>

<ul class="govuk-list govuk-list--bullet">

<li>the complexity of the case</li>
<li>the type of health care professional that does the assessment</li>
</ul>

<div class="govuk-inset-text">
<p class="govuk-body govuk-!-font-weight-bold">  Examples</p>

<p>Sam has a video call assessment with a nurse. It costs £150, so his employer pays £30.
</p>
<p>Emma has an in-person assessmen video call with an occupational therapist It costs £250, so her employer pays £50.
</p>
</div>

<br>

<h2 class="govuk-heading-m ">If an employee needs to cancel or reschedule an assessment</h2>

<p>Cancelling or reschedulling an assessment might result in a fee.</p>

<p>You need to check with the workplace health provider what their cancellation policy is.</p>

<br>

<h2 class="govuk-heading-m ">If an employee does not attend an assessment</h2>

<p>You will have to pay for the full cost of an assessment if your employee does not attend. <a href="apply">You will have to pay any cancellation or rescheduling fees in full.</a></p>

<p>Reassuring and reminding your employee about the assessment process means they are more likely to attend.</p>





{% endblock %}
