{% extends "layout.html" %}

{% block pageTitle %}
  Cordell Health Ltd - London
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Ashlands Occupational Health Ltd   </h1>
  <p>Ashlands Occupational Health Ltd provides workplace health assessments on full range of conditions. </p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address</th>
      <td class="govuk-table__cell">
        7 Redpoll Drive<br> Portishead<br> Bristol<br> BS20 7JZ 
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Phone number</th>
      <td class="govuk-table__cell">+44 117207 6190</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Email address</th>
      <td class="govuk-table__cell">enquiries@cordellhealth.co.uk</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Cancellation policy</th>
      <td class="govuk-table__cell">Free cancellation within 48 hours</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Website</th>
    <td class="govuk-table__cell"><a href="https://www.ashlandsoh.co.uk/ " class="govuk-link" rel="noreferrer noopener" target="_blank">Ashlands Occupational Health Ltd website (opens in new tab)</a></td>
    </tr>
  </tbody>
</table>






<a href="list"
      <button class="govuk-button" data-module="govuk-button">
  Return to providers list
  </button></a>
  </div>
  </div>


{% endblock %}
