{% extends "layout-employer.html" %}

{% block pageTitle %}
  You are not eligible to use this service 
{% endblock %}





{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
You are not eligible to use this service </h1>



<p>This is a new service we are testing with a small number of small and medium-sized enterprises (SMEs).

</p>

<h2 class="govuk-heading-m">
Find other support </h2>
<p>If your employee has a physical or mental health condition or disability, they may be eligible for support through <a href="https://www.gov.uk/access-to-work" class="govuk-link" rel="noreferrer noopener" target="_blank">Access to Work (opens in a new tab).</a></p>

<p>Find out <a href="https://www.gov.uk/reasonable-adjustments-for-disabled-workers" class="govuk-link" rel="noreferrer noopener" target="_blank">what reasonable adjustments you must make for workers with disabilities or health conditions (opens in a new tab).</a></p>






  </div>
  </div>
</main>
    </div>

{% endblock %}
