{% extends "layout-employer.html" %}

{% block pageTitle %}
  You are not eligible to use this service 
{% endblock %}





{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
You are not eligible to use this service </h1>



<p>You can only use this service if your company has up to 250 employees.
</p>

<h2 class="govuk-heading-m">
Find other support </h2>
<p>If your employee has a health condition or disability, they may be eligible for support through <a href="https://www.gov.uk/access-to-work" class="govuk-link" rel="noreferrer noopener" target="_blank">Access to Work (opens in a new tab).</a></p>

<p><a href="https://www.support-with-employee-health-and-disability.dwp.gov.uk/support-with-employee-health-and-disability" class="govuk-link" rel="noreferrer noopener" target="_blank">Understand your legal requirements to support your employee's health or disability. (opens in a new tab)</a>.</p>






  </div>
  </div>
</main>
    </div>

{% endblock %}
