{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}





{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Cordell Health Ltd
    </h1>
  
</div>

<div class="govuk-grid-column-one-third">



      <nav class="moj-side-navigation govuk-!-margin-top-5" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="provider-details-1" >Details</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="provider-details-2">Address</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="provider-details-4" aria-current="location">Eligibility</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="provider-details-3">Assessment</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="provider-details-5">Branches</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="provider-details-6">Changes log</a>
          </li>
        </ul>
      </nav>

    </div>


<div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-m govuk-!-margin-top-7">
  Eligibility
  </h2>

    <dl class="govuk-summary-list govuk-!-margin-top-5">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Healthcare professional's name
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Brown
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Healthcare professional's qualification
        </dt>
        <dd class="govuk-summary-list__value">
      Doctor
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> professional qualification</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Healthcare professional's GMC, HCPC or NMC number
        </dt>
        <dd class="govuk-summary-list__value">
        HZ76384940
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> number</span>
          </a>
        </dd>
      </div>







      </div>

  </div>

{% endblock %}
