{% extends "layout.html" %}

{% block pageTitle %}
  Innovate Healthcare Management Group - London
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
S O H Vanilla Occupational Health  </h1>


<table class="govuk-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address</th>
      <td class="govuk-table__cell">
        PO Box 861<br> Taunton<br> TA1 9GL

      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Phone number</th>
      <td class="govuk-table__cell">+44 161527 7405</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Email address</th>
      <td class="govuk-table__cell">corpcma@vanilla.co.uk</td>
    </tr>
  <!--  <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Other branches</th>
      <td class="govuk-table__cell">i dont know</td>
    </tr>  -->
  <!--  <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Specialisations</th>
      <td class="govuk-table__cell">Building</td>
    </tr> -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Worked with small or medium-sized businesses</th>
      <td class="govuk-table__cell">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Type of consultation</th>
      <td class="govuk-table__cell">Remote (telephone), Remote (video), In-person (home)</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Cancellation policy</th>
      <td class="govuk-table__cell">Free cancellation within 48 hours</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Price range after 80% discount </th>


      <td class="govuk-table__cell">£20 - £80 <br>(without discount £100 - £400)</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Website</th>
      <td class="govuk-table__cell"><a href="https://sohvanilla.co.uk/  " class="govuk-link" rel="noreferrer noopener" target="_blank">S O H Vanilla Occupational Health website (opens in new tab)</a></td>
    </tr>
  </tbody>
</table>






<a href="list"
      <button class="govuk-button" data-module="govuk-button">
  Return to providers list
  </button></a>
  </div>
  </div>


{% endblock %}
