{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



<div class="govuk-form-group ">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
    Do you want to claim this discount code now?
      </h1>
    </legend>

    <p>
    You need to claim the discount code that matches the agreed health assessment you will provide. 
    You will need this later when invoicing DWP.
    </p>


    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="claimcode" name="claimcode" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="claimcode">
        Yes, claim this code
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="claimcode" name="claimcode" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="claimcode-2">
          No, leave the service

        </label>
      </div>

    </div>

  </fieldset>
</div>

<a href="their-company"
        <button class="govuk-button" data-module="govuk-button">Continue</button>
</a>



  </div>
  </div>
</main>
    </div>

{% endblock %}
