{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-l">Cordell Health Ltd</span>
    <h1 class="govuk-heading-l">Check your answers</h1>


            <h2 class="govuk-heading-m">Provider details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Company name
                </dt>
                <dd class="govuk-summary-list__value">
                  Cordell Health Ltd
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> previous application number</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contact name
                </dt>
                <dd class="govuk-summary-list__value">
                  Sarah Brown
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> licence type</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                  	cordell@example.com
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> home address</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Phone number
                </dt>
                <dd class="govuk-summary-list__value">
              	07700 900457
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> licence period</span>
                  </a>
                </dd>
              </div>
  </dl>


              <h2 class="govuk-heading-m">Healthcare professional's details</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Full name
                  </dt>
                  <dd class="govuk-summary-list__value">
                  Mohammad Hamdi Qonsowa
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                  </dd>
                </div>


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Job role
                </dt>
                <dd class="govuk-summary-list__value">
                	Doctor
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> licence period</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                GMC, HCPC or NMC number
                </dt>
                <dd class="govuk-summary-list__value">
                7662688
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> licence period</span>
                  </a>
                </dd>
              </div>


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
              Upload qualification
                </dt>
                <dd class="govuk-summary-list__value">
                Qualification.docs
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> licence period</span>
                  </a>
                </dd>
              </div>

            </dl>



      <h2 class="govuk-heading-m">You have added 3 clinics</h2>



<div class="govuk-form-group">

  <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
      72 Guild Street<br> London <br> SE23 6FH
      </dt>
      <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">View or change</span><span class="govuk-visually-hidden">Change Michael Cain</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Michael Cain from the list</span></a></li>
        </ul>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
        St Andrews House<br> St Andrew's Rd<br> Bristol <br>BS11 9DQ
      </dt>
      <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="add-check-details1"><span aria-hidden="true">View or change</span><span class="govuk-visually-hidden">Change Sydney Russell</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="add-check-remove1"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
        </ul>
      </dd>
    </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
      16 St John Street<br> Manchester<br> M3 4EA
      </dt>
      <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">View or change</span><span class="govuk-visually-hidden">Change Elizabeth Kean</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Elizabeth Kean from the list</span></a></li>
        </ul>
      </dd>
    </div>
  </dl>

</div>



<a href="sop"
        <button class="govuk-button" data-module="govuk-button">Continue</button>
</a>


    </div>
  </div>

{% endblock %}
