{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="search-provider">Back</a>
{% endblock %}




{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!--<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>

  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Email changed
    </h3>
    </div>
</div> -->

    <h1 class="govuk-heading-l">
      Cordell Health Ltd
    </h1>
  
  </div>

  <div class="govuk-grid-column-one-third">



      <nav class="moj-side-navigation govuk-!-margin-top-5" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="provider-details-2" aria-current="location">Provider details</a>
          </li>

          <li class="moj-side-navigation__item ">
            <a href="provider-details-5" >Clinic details</a>
          </li>



          <li class="moj-side-navigation__item">
            <a href="provider-details-6">Changes history</a>
          </li>
        </ul>
      </nav>

    </div>


  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-7">
    Provider details
    </h2>


      <dl class="govuk-summary-list govuk-!-margin-top-5">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Provider name
          </dt>
          <dd class="govuk-summary-list__value">
          Cordell Health Ltd
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> provider name</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name of person who sent application
          </dt>
          <dd class="govuk-summary-list__value">
            Jane Doe
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Email address
          </dt>
          <dd class="govuk-summary-list__value">
          cordell-london@example.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-email">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>




        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">07700 900457</dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> phone number</span>
            </a>
          </dd>
        </div>
</dl>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">
        Healthcare professional's details
        </h2>

          <dl class="govuk-summary-list govuk-!-margin-top-5">


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Full name
              </dt>
              <dd class="govuk-summary-list__value">
                Mohammad Hamdi Qonsowa
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Job role
              </dt>
              <dd class="govuk-summary-list__value">
            Doctor
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> professional qualification</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Number
              </dt>
              <dd class="govuk-summary-list__value">
              7662688
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> number</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Qualification
              </dt>
              <dd class="govuk-summary-list__value">
              Qualification.doc
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> number</span>
                </a>
              </dd>
            </div>

  </dl>

    </div>







  </div>

{% endblock %}
