{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="search-provider">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Cordell Health Ltd
    </h1>

  </div>

  <div class="govuk-grid-column-one-third">



      <nav class="moj-side-navigation govuk-!-margin-top-5" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
            <a href="provider-details-2">Provider details</a>
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="provider-details-5" aria-current="location">Clinic details</a>
          </li>


          <li class="moj-side-navigation__item">
            <a href="provider-details-6">Changes history</a>
          </li>
        </ul>
      </nav>

    </div>


  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-7">
      Search for a clinic
    </h2>

    <div class="moj-search">

      <form action="#" method="post">

        <div class="govuk-form-group">


          <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">

        </div>

        <button class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>

      </form>
    </div>

        <dl class="govuk-summary-list govuk-!-margin-top-5">
          <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="add-new-clinic">
              Add new clinic<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row ">
        <dd class="govuk-summary-list__value">
          St Andrews House<br> St Andrew's Rd<br> Bristol <br>BS11 9DQ
        </dd>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green">

          Published
          </strong>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="clinic-details-cordell">
            View or update<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            72 Guild Street<br> London <br>SE23 6FH
          </dd>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green">

          Published
          </strong>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            View or update<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>


    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">
        16 St John Street<br> Manchester<br> M3 4EA
      </dd>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--red">

      Unpublished
      </strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="clinic-details-cordell2">
        View or update<span class="govuk-visually-hidden"> address</span>
      </a>
    </dd>
  </div>

      </dl>


  <!--    <nav class="govuk-pagination" role="navigation" aria-label="results">
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
        1
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
        2
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
        3
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg></a>
  </div>
</nav>-->



      </div>

  </div>

{% endblock %}
