{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}





{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Cordell Health Ltd
    </h1>
  
</div>

<div class="govuk-grid-column-one-third">



      <nav class="moj-side-navigation govuk-!-margin-top-5" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="provider-details-1" >Details</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="provider-details-2">Address</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="provider-details-4">Eligibility</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="provider-details-3" aria-current="location">Assessment</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="provider-details-5">Branches</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="provider-details-6">Changes log</a>
          </li>
        </ul>
      </nav>

    </div>


<div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-m govuk-!-margin-top-7">
  Assessment
  </h2>

    <dl class="govuk-summary-list govuk-!-margin-top-5">
      <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Assessment price range
    </dt>
    <dd class="govuk-summary-list__value">
      £200 - £400
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> price range</span>
      </a>
    </dd>
  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Distance able to travel to do an in-person assessment
    </dt>
    <dd class="govuk-summary-list__value">
      50 miles
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> travel distance</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Assessment methods
    </dt>
    <dd class="govuk-summary-list__value">
      Workplace mental health assessment
      <br>
       Workplace physical health assessment<br>
       Video call
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>





  </dl>





</div>

  </div>

{% endblock %}
