{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
Based on your answers, you are eligible for this service </h1>

      <p>
We will use the information you provide to help you find and pay for discounted occupational health assessments.</p>







<a href="business-name"
      <button class="govuk-button" data-module="govuk-button">
  Continue
  </button></a>
  </div>
  </div>
</main>
    </div>

{% endblock %}
