{% extends "layout.html" %}

{% block pageTitle %}
Find a workplace health provider
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

<div class="govuk-grid-column-full-width">


<p class="govuk-body"> <a href="/phoenix/employer/v7/start-page" class="govuk-link">Go back to the start page</a></p>


  <h1 class="govuk-heading-l">Find a workplace health provider</h1>
</div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">


<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">7 results</p>
<div id="search-hint" class="govuk-hint moj-search__hint ">Distances are measured in a straight line from your location. Travel distance may vary.</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-body-s ">0.4 miles away</p>
<p class="govuk-body"><a href="provider-details1" class="govuk-link  govuk-!-font-weight-bold">Cordell Health Ltd</a></p>
<p>Cordell Health Ltd provides workplace health assessments on full range of conditions. </p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
        <span class="govuk-hint">Location:</span>
          <span> 382 Rayners Lane, Middlesex, HA5 5DY</span>
          </li>

            <li>
  <span class="govuk-hint">Price range after 80% discount:
</span>
  <span> £20 - £80 (without discount £100 - £400) </span></li>
  <li>
  <span class="govuk-hint">Worked with small or medium-sized businesses: </span>
  <span>Yes</span>
  </li>
  <li>
  <span class="govuk-hint">Type of consultation:  </span>
  <span>Remote (telephone), Remote (video), In-person (clinic), In-person (home), In-person (workplace) </span>
  </li>
  </ul>
</div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-body-s ">0.5 miles away</p>
<p class="govuk-body"><a href="#" class="govuk-link  govuk-!-font-weight-bold">Healthwork</a></p>
<p>Healthwork provides workplace health assessments on full range of conditions. </p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
        <span class="govuk-hint">Location:</span>
          <span>493 Yeading Lane, London, UB5 6LN </span>
          </li>

            <li>
  <span class="govuk-hint">Price range after 80% discount:
</span>
  <span> £20 - £80 (without discount £100 - £400) </span></li>
  <li>
  <span class="govuk-hint">Worked with small or medium-sized businesses: </span>
  <span>Yes</span>
  </li>
  <li>
  <span class="govuk-hint">Type of consultation:  </span>
  <span>Remote (telephone), Remote (video), In-person (clinic), In-person (home)</span>
  </li>
  </ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-body-s ">1.8 miles away</p>
<p class="govuk-body"><a href="provider-details2" class="govuk-link govuk-!-font-weight-bold">Innovate Healthcare Management Group</a></p>
<p>Innovate Healthcare Management Group provides workplace health assessments on full range of conditions. </p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
        <span class="govuk-hint">Location:</span>
          <span> 1000 Greenford Road, Greenford, Greater London, UB6 0UW</span>
          </li>

            <li>
  <span class="govuk-hint">Price range after 80% discount:
  </span>
  <span> £20 - £80 (without discount £100 - £400) </span></li>
  <li>
  <span class="govuk-hint">Worked with small or medium-sized businesses: </span>
  <span>Yes</span>
  </li>
  <li>
  <span class="govuk-hint">Type of consultation:  </span>
  <span>Remote (telephone), Remote (video), In-person (home)</span>
  </li>
  </ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-body-s ">3.7 miles away</p>
<p class="govuk-body"><a href="provider-details4" class="govuk-link  govuk-!-font-weight-bold">Kays Medical</a></p>
<p>Kays Medical provides workplace health assessments on full range of conditions. </p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
        <span class="govuk-hint">Location:</span>
          <span>46 Egerton Road, London, UB3 7GS</span>
          </li>

            <li>
  <span class="govuk-hint">Price range after 80% discount:
  </span>
  <span> £20 - £80 (without discount £100 - £400) </span></li>
  <li>
  <span class="govuk-hint">Worked with small or medium-sized businesses: </span>
  <span>Yes</span>
  </li>
  <li>
  <span class="govuk-hint">Type of consultation:  </span>
  <span>Remote (telephone), Remote (video), In-person (clinic), In-person (home)</span>
  </li>
  </ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-body-s ">10.4 miles away</p>
<p class="govuk-body"><a href="provider-details5" class="govuk-link  govuk-!-font-weight-bold">Bespoke Wellbeing</a></p>
<p>Bespoke Wellbeing provides workplace health assessments on full range of conditions. </p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p>Bespoke Wellbeing provides workplace physical health assessments only.</p>
    <ul class="govuk-list">
      <li>
        <span class="govuk-hint">Location:</span>
          <span>6 Pendennis Rd, London, SW16 2SW</span>
          </li>

            <li>
  <span class="govuk-hint">Price range after 80% discount:
  </span>
  <span> £20 - £60 (without discount £100 - £300) </span></li>
  <li>
  <span class="govuk-hint">Worked with small or medium-sized businesses: </span>
  <span>Yes</span>
  </li>
  <li>
  <span class="govuk-hint">Type of consultation:  </span>
  <span>Remote (telephone), Remote (video), In-person (workplace)</span>
  </li>
  </ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-body-s ">24.9 miles away</p>
<p class="govuk-body"><a href="provider-details3" class="govuk-link  govuk-!-font-weight-bold">Medigold Health</a></p>
<p>Medigold Health provides workplace health assessments on full range of conditions. </p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li>
        <span class="govuk-hint">Location:</span>
          <span> 11 Leadenhall St, London, EC3V 1LP </span>
          </li>

            <li>
  <span class="govuk-hint">Price range after 80% discount:
</span>
  <span> £20 - £80 (without discount £100 - £400) </span></li>
  <li>
  <span class="govuk-hint">Worked with small or medium-sized businesses: </span>
  <span>Yes</span>
  </li>
  <li>
  <span class="govuk-hint">Type of consultation:  </span>
  <span>Remote (telephone), Remote (video), In-person (clinic), In-person (home)</span>
  </li>
  </ul>
</div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-body-s ">31.8 miles away</p>
<p class="govuk-body"><a href="provider-details6" class="govuk-link  govuk-!-font-weight-bold">Psychology Experts</a></p>
<p>Psychology Experts provides workplace health assessments on full range of conditions. </p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p>Psychology Experts provides workplace mental health assessments only.</p>
    <ul class="govuk-list">
      <li>
        <span class="govuk-hint">Location:</span>
          <span> 5 Westbourne Grove, Hove, BN3 5PJ </span>
          </li>

            <li>
  <span class="govuk-hint">Price range after 80% discount:
</span>
  <span> £40 - £80 (without discount £200 - £400) </span></li>
  <li>
  <span class="govuk-hint">Worked with small or medium-sized businesses: </span>
  <span>Yes</span>
  </li>
  <li>
  <span class="govuk-hint">Type of consultation:  </span>
  <span>Remote (telephone), Remote (video), In-person (workplace)</span>
  </li>
  </ul>
</div>
</div>


<nav class="moj-pagination" aria-label="Pagination navigation">

  <ul class="moj-pagination__list">
    <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
    </li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1" aria-label="Page 1 of 30">1</a></li>

    <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 2 of 30" aria-current="page">2</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">3</a></li>

    <li class="moj-pagination__item moj-pagination__item--dots">…</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5" aria-label="Page 5 of 30">5</a></li>

    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>10</b> to <b>20</b> of <b>30</b> pages</p>
</nav>



  </div>


</div>

{% endblock %}
