{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block content %}

<h1 class="govuk-heading-xl">
  Prototypes
</h1>

{# <p>
  Prototypes for 'Get a workplace health assessment to support an employee's health and disability'.
  </p> #}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    
<h1 class="govuk-heading-l">
Employer UI
</h1>
{# <p>Two lines on description</p> #}

<h2 class="govuk-heading-m govuk-!-padding-top-4">
  Employer journey
  </h2>

<ul class="govuk-list">
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="index-eui-p">Private Beta (Pilot)</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="index-eui-pp">Public Beta (Post-Pilot)</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="/phoenix/employer/v19-gds-a-r/email-address-gate">GDS Alpha Re-assessment</a>
  </li>
</ul>


{# <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> #}


<h1 class="govuk-heading-m govuk-!-padding-top-4">
Provider register
</h1>
{# <p>Two lines on description</p> #}

<ul class="govuk-list">
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="index-pui-p">Private Beta (Pilot)</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="index-pui-pp">Public Beta (Post-Pilot)</a>
  </li>
</ul>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<h1 class="govuk-heading-l">
Agent UI
</h1>
{# <p>Two lines on description</p> #}

<ul class="govuk-list">
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="index-aui-p">Private Beta (Pilot)</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="index-aui-pp">Public Beta (Post-Pilot)</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="phoenix/agent/v12/menu">GDS Alpha Re-assessment</a>
  </li>
</ul>

</div>
</div>
{% endblock %}