{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Employer UI
    </h1>

    <h2 class="govuk-heading-l">
      Public Beta
    </h2>

    <p>Includes additional data requirements for the evaluation.</p>

  <h2 class="govuk-heading-m">
  Version 20 - Sprint 30-31
  </h2>
  
  <h3 class="govuk-heading-s">Changes</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Removed questions for main and applicant contact details</li>
    <li>Reordered questions for organisation name and sector</li>
    <li>Moved and iterated content around next steps from 'Your discount code' screen to homepage</li>
    <li>Iterated content on 'Email not found' page</li>
    <li>Hint text removed from returning user 'What's your email address' page</li>
    <li>Added 'Have you used this service before to get a discount code?' screen to assess first-time vs returning user and moved 'What is your email address?' to later application stage</li>
    <li>Added 'Application complete' confirmation page after CYA for first-time user</li>
    <li>Added 'Your email has been recognised' screen when returning user's email is recognised in first-time user journey</li>
    <li>User flow and content iterations to how user selects to receive their discount code</li>
    <li>Combined the CYA/Declaration page with the pre-discount CYA page on which the user confirms their contact preferences</li>
    <li>Added account homepage(s) for first-time and returning users</li>
    <li>Content updates for first-time user OTP</li>
    <li>Content updates for returning user OTP</li>
    <li>Iterated row titles on first-time user CYA and declaration page</li>
    <li>Updated CTA button on 'Check your answers' pages, from 'Continue' to 'Confirm'</li>
    <li>Content updated from ‘Contact details’ heading to ‘Organisation details’ and row titles rephrased for easier readability</li>
  </ul>

  <h3 class="govuk-heading-s">Notes</h3>
  <p>Design:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1706188250419/2493d8638aa32eb9a45c3c7e589c4d36140a8ef4?wid=0-1713349079301" class="govuk-link" rel="noreferrer noopener" target="_blank">SME Digital Journey with Returning Flow V4</a></li>
    <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1714483188847/a3d2d73f64d3e0449f27033c57104ec26e4464fe?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Design board</a></li>
  </ul>

  <p>Research:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1705411971918/63d8d7801b6ceadce3b16288670b716822dd35e7?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Planning for task-based UR</a></li>
  </ul>
  
  <br>
  
  {{ govukButton({
  text: 'View prototype',
  href: '/phoenix/employer/v20/start-page'
  }) }}

  <br><br>

  {% set v17 %}

  <h2 class="govuk-heading-m">
    Version 17
    </h2>
    
    <h3 class="govuk-heading-s">Changes</h3>
    <ul class="govuk-list govuk-list--bullet">
    <li>Anonymised location in provider results list</li>
    <li>Removed full stops in links</li>
    <li>Updated CYA screen layout</li>
    <li>Returning user/employer scenario including OTP screen</li>
    <li>Added screener/eligibility check screens (organisation's location, number of employees, yearly turnover, balance sheet) and employer voucher application screens (organisation name, main and applicant contact details and organisation sector) for evaluation granular data collection for SMEs — See <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1706797932382/68a0dbd5c532066b911fc5d06eebc156f6791476?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Mural</a></li>
    <li>'Company' term changed to 'Organisation'</li>
    </ul>

  <br>
  
  {{ govukButton({
  text: 'View prototype',
  href: '/phoenix/employer/v17/email-address-gate'
  }) }}
  
  {% endset %}

  {% set v16 %}

  <h2 class="govuk-heading-m">
    Version 16
    </h2>
  
  <h3 class="govuk-heading-s">Changes</h3>
  <ul class="govuk-list govuk-list--bullet">
  <li>Updated Apply page</li>
  <li>Updated Eligibility page</li>
  <li>Updated How the discount scheme works page</li>
  <li>Updated Using workplace health assessments to support an employee</li>
  <li>Updated What is a workplace health assessment</li>
  <li>Updated start page content</li>
  <li>Reorder main stream content navigation options</li>
  <li>Added OTP ('Check your email') screens for eligibility checks and returning users</li>
  <li>Updated employer guidance to mainstream content</li>
  </ul>

  <br>
  
  {{ govukButton({
  text: 'View prototype',
  href: '/phoenix/employer/v16/email-address-gate'
  }) }}
  
  {% endset %}

  {% set vPhoenix %}

  <h2 class="govuk-heading-m">
    Earlier versions
    </h2>
  
  <p>Access version history from Team Phoenix</p>

  <br>
  
  {{ govukButton({
  text: 'View versions',
  href: '/index-phoenix'
  }) }}
  
  {% endset %}

  
  {{ govukAccordion({
  items: [
  {
  heading: { text: 'Version 17' },
  content: { html: v17 }
  },
  {
  heading: { text: 'Version 16' },
  content: { html: v16 }
  },
  {
  heading: { text: 'Earlier versions' },
  content: { html: vPhoenix }
  }
  ]
  }) }}

  </div>
  </div>

{% endblock %}
