{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Provider register
    </h1>

    <h2 class="govuk-heading-l">
      Public Beta
    </h2>

  <h2 class="govuk-heading-m">
  Version 11
  </h2>
  
  <h3 class="govuk-heading-s">Changes</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Iteration to provider register content and design layout for public beta MVP</li>
    <li>Filter panel to filter unsorted results list by Cost, Assessment methods and Location</li>
  </ul>

  <h3 class="govuk-heading-s">Notes</h3>
  <p>Design:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1710879821478/5d07a4f19ee209cd2865d2609559c32ec7d6ca37?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Provider register wireframes</a></li>
  </ul>

  <p>Research:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1705411971918/63d8d7801b6ceadce3b16288670b716822dd35e7?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Planning for task-based UR</a></li>
  </ul>
  
  <br>
  
  {{ govukButton({
  text: 'View prototype',
  href: '/phoenix/employer/register/v11/list-filters-mvp'
  }) }}

  <br><br>

  {% set v10 %}

  <h2 class="govuk-heading-m">
    Version 10
    </h2>
    
    <h3 class="govuk-heading-s">Changes</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Anonymised location in provider results list</li>
      <li>Removed full stops in links</li>
      <li>‘Go back to the start page’ linked to correct guidance page</li>
      <li>Added anonymised provider list (filter version)</li>
      <li>Anonymised three variations (full address, town and postcode only, filters) of Provider results list for user testing</li>
      <li>Cleaned up partial addresses, made P1 and P2 the same</li>
      <li>Add random address results page, clear selected filters</li>
      <li>Add random address results page, clear selected filters</li>
      <li>Add non-filters page (v2) and generic OHP details</li>
      <li>Added Filtering on search results with partial and full addresses</li>
    </ul>

  <br>
  
  {{ govukButton({
  text: 'View prototype',
  href: '/phoenix/employer/register/v10/location'
  }) }}
  
  {% endset %}

  {% set vPhoenix %}

  <h2 class="govuk-heading-m">
    Earlier versions
    </h2>
  
  <p>Access version history from Team Phoenix</p>

  <br>
  
  {{ govukButton({
  text: 'View versions',
  href: '/index-phoenix'
  }) }}
  
  {% endset %}

  
  {{ govukAccordion({
  items: [
  {
    heading: { text: 'Version 10' },
    content: { html: v10 }
  },
  {
  heading: { text: 'Earlier versions' },
  content: { html: vPhoenix }
  }
  ]
  }) }}

  </div>
  </div>

{% endblock %}
