{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Employer UI
    </h1>

    <h2 class="govuk-heading-l">
      Public Beta
    </h2>

    <p>Includes additional data requirements for the evaluation.</p>





    <h2 class="govuk-heading-m">
      July 2024 - baselining for delivery purposes
      </h2>
      
      <h3 class="govuk-heading-s">Versions</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/phoenix/employer/v23_1/start-page">baselined to build version 1.9.0</a></li>
        <li><a href="/phoenix/employer/v23_2/start-page">baselined to build version 1.10.0</a></li>
        <li><a href="/phoenix/employer/v23_3/start-page">baselined to build version 1.11.0</a></li>

      </ul>
    
      <!-- <h3 class="govuk-heading-s">Notes</h3>
      <p>Design:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1714483188847/a3d2d73f64d3e0449f27033c57104ec26e4464fe?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Design board</a></li>
        <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1714573532842/9b35fb8f61581f1beaff6a9ba73d1f74b79096b9?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Content board</a></li>
      </ul> -->
    
      <!-- <p>Research:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1700490962555/7898de0a85b263318fd56c18b855e27cf1307ffe?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">UR on provider register and filters</a></li>
      </ul> -->
      
      <br>
      
      <!-- {{ govukButton({
      text: 'View prototype',
      href: '/phoenix/employer/v23_1/start-page'
      }) }} -->






  <br><br>

  {# {% set vX %}

  {% endset %} #}

  {% set v22 %}
  
  <h2 class="govuk-heading-m">
    Version 22 - Sprint 33-34
    </h2>
    
    <h3 class="govuk-heading-s">Changes</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Removed provider search register link from the 'Overview' guidance page</li>
      <li>Full name and contact details screen added for Evaluation Organisations to contact SMEs for survey and research (opt-in)</li>
      <li>Added screen to display user's previously inputted contact mobile number to receive discount code via the 'Text message' route in 'Get a discount code' journey</li>
      <li>Content updates to email not found screen in employer returning journey</li>
      <li>Added screens for unhappy paths/scenarios in postcode region eligibility</li>
      <li>Added screen to view existing discount codes from homepage in employer returning journey</li>
      <li>Updated link on homepage from 'View discount codes' to 'Your discount codes'</li>
      <li>Updated CYA screens with 'Contact details' section</li>
      <li>Updated 'Cost after discount' bandings to reflect £1 to £80 discount</li>
    </ul>
  
    <h3 class="govuk-heading-s">Notes</h3>
    <p>Design:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1714483188847/a3d2d73f64d3e0449f27033c57104ec26e4464fe?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Design board</a></li>
      <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1714573532842/9b35fb8f61581f1beaff6a9ba73d1f74b79096b9?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Content board</a></li>
    </ul>
  
    <p>Research:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1700490962555/7898de0a85b263318fd56c18b855e27cf1307ffe?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">UR on provider register and filters</a></li>
    </ul>
    
    <br>
    
    {{ govukButton({
    text: 'View prototype',
    href: '/phoenix/employer/v22/start-page'
    }) }}

  {% endset %}

  {% set v21 %}

  <h2 class="govuk-heading-m">
    Version 21 - Sprint 32
    </h2>
    
    <h3 class="govuk-heading-s">Changes</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Replaced word 'company' with 'organisation' across the SME journey</li>
      <li>Added screen for user to request a new passcode when user has not received a passcode or is requesting a new passcode after reaching OTP request limit (5 OTPs within 5 minutes)</li>
      <li>Added screen for when user has reached OTP request limit and cannot request another passcode until after 5 minute limit</li>
      <li>Removed provider search register link from 'Overview' guidance page</li>
      <li>Iteration to provider register content and design layout for public beta MVP</li>
      <li>Filter panel to filter unsorted results list by Cost, Assessment methods and Location</li>
      <li>Ability to view provider's other clinics</li>
      <li>Updated copy on 'Application complete' screen to inform user on what's next</li>
      <li>Postcode in organisation registration row in CYA page</li>
    </ul>
  
    <h3 class="govuk-heading-s">Notes</h3>
    <p>Design:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1710879821478/5d07a4f19ee209cd2865d2609559c32ec7d6ca37?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Provider register wireframes</a></li>
      <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1714483188847/a3d2d73f64d3e0449f27033c57104ec26e4464fe?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Design board</a></li>
      <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1714573532842/9b35fb8f61581f1beaff6a9ba73d1f74b79096b9?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Content board</a></li>
    </ul>
  
    <p>Research:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1705411971918/63d8d7801b6ceadce3b16288670b716822dd35e7?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Planning for task-based UR</a></li>
    </ul>
    
    <br>
    
    {{ govukButton({
    text: 'View prototype',
    href: '/phoenix/employer/v21/start-page'
    }) }}

  {% endset %}

  {% set v20 %}

  <h2 class="govuk-heading-m">
  Version 20 - Sprint 30-31
  </h2>
  
  <h3 class="govuk-heading-s">Changes</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Removed questions for main and applicant contact details</li>
    <li>Reordered questions for organisation name and sector</li>
    <li>Moved and iterated content around next steps from 'Your discount code' screen to homepage</li>
    <li>Iterated content on 'Email not found' page</li>
    <li>Hint text removed from returning user 'What's your email address' page</li>
    <li>Added 'Have you used this service before to get a discount code?' screen to assess first-time vs returning user and moved 'What is your email address?' to later application stage</li>
    <li>Added 'Application complete' confirmation page after CYA for first-time user</li>
    <li>Added 'Your email has been recognised' screen when returning user's email is recognised in first-time user journey</li>
    <li>User flow and content iterations to how user selects to receive their discount code</li>
    <li>Combined the CYA/Declaration page with the pre-discount CYA page on which the user confirms their contact preferences</li>
    <li>Added account homepage(s) for first-time and returning users</li>
    <li>Content updates for first-time user OTP</li>
    <li>Content updates for returning user OTP</li>
    <li>Iterated row titles on first-time user CYA and declaration page</li>
    <li>Updated CTA button on 'Check your answers' pages, from 'Continue' to 'Confirm'</li>
    <li>Content updated from ‘Contact details’ heading to ‘Organisation details’ and row titles rephrased for easier readability</li>
  </ul>

  <h3 class="govuk-heading-s">Notes</h3>
  <p>Design:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1706188250419/2493d8638aa32eb9a45c3c7e589c4d36140a8ef4?wid=0-1713349079301" class="govuk-link" rel="noreferrer noopener" target="_blank">SME Digital Journey with Returning Flow V4</a></li>
    <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1714483188847/a3d2d73f64d3e0449f27033c57104ec26e4464fe?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Design board</a></li>
    <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1714573532842/9b35fb8f61581f1beaff6a9ba73d1f74b79096b9?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Content board</a></li>
  </ul>

  <p>Research:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1705411971918/63d8d7801b6ceadce3b16288670b716822dd35e7?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Planning for task-based UR</a></li>
  </ul>
  
  <br>
  
  {{ govukButton({
  text: 'View prototype',
  href: '/phoenix/employer/v20/start-page'
  }) }}

  {% endset %}

  {% set v17 %}

  <h2 class="govuk-heading-m">
    Version 17
    </h2>
    
    <h3 class="govuk-heading-s">Changes</h3>
    <ul class="govuk-list govuk-list--bullet">
    <li>Anonymised location in provider results list</li>
    <li>Removed full stops in links</li>
    <li>Updated CYA screen layout</li>
    <li>Returning user/employer scenario including OTP screen</li>
    <li>Added screener/eligibility check screens (organisation's location, number of employees, yearly turnover, balance sheet) and employer voucher application screens (organisation name, main and applicant contact details and organisation sector) for evaluation granular data collection for SMEs — See <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1706797932382/68a0dbd5c532066b911fc5d06eebc156f6791476?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Mural</a></li>
    <li>'Company' term changed to 'Organisation'</li>
    </ul>

  <br>
  
  {{ govukButton({
  text: 'View prototype',
  href: '/phoenix/employer/v17/email-address-gate'
  }) }}
  
  {% endset %}

  {% set v16 %}

  <h2 class="govuk-heading-m">
    Version 16
    </h2>
  
  <h3 class="govuk-heading-s">Changes</h3>
  <ul class="govuk-list govuk-list--bullet">
  <li>Updated Apply page</li>
  <li>Updated Eligibility page</li>
  <li>Updated How the discount scheme works page</li>
  <li>Updated Using workplace health assessments to support an employee</li>
  <li>Updated What is a workplace health assessment</li>
  <li>Updated start page content</li>
  <li>Reorder main stream content navigation options</li>
  <li>Added OTP ('Check your email') screens for eligibility checks and returning users</li>
  <li>Updated employer guidance to mainstream content</li>
  </ul>

  <br>
  
  {{ govukButton({
  text: 'View prototype',
  href: '/phoenix/employer/v16/email-address-gate'
  }) }}
  
  {% endset %}

  {% set vPhoenix %}

  <h2 class="govuk-heading-m">
    Earlier versions
    </h2>
  
  <p>Access version history from Team Phoenix</p>

  <br>
  
  {{ govukButton({
  text: 'View versions',
  href: '/index-phoenix'
  }) }}
  
  {% endset %}

  
  {{ govukAccordion({
  items: [
  {
    heading: { text: 'Version 22' },
    content: { html: v22 }
  },
  {
    heading: { text: 'Version 21' },
    content: { html: v21 }
  },
  {
    heading: { text: 'Version 20' },
    content: { html: v20 }
  },
  {
  heading: { text: 'Version 17' },
  content: { html: v17 }
  },
  {
  heading: { text: 'Version 16' },
  content: { html: v16 }
  },
  {
  heading: { text: 'Earlier versions' },
  content: { html: vPhoenix }
  }
  ]
  }) }}

  </div>
  </div>

{% endblock %}
