{% extends "layout.html" %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Prototype</span>
        Get a workplace health assessment to support an employee’s health and disability
        {# <strong class="govuk-tag govuk-tag--pink">
          Prototype
        </strong> #}
      </h1>

<h2 class="govuk-heading-l">Pilot</h2>

<h2 class="govuk-heading-m">Version 15</h2>
<p>
  <a href="/phoenix/employer/v15/email-address-gate" >
<button class="govuk-button" data-module="govuk-button">
Start employer journey
</button></a></p>

<h2 class="govuk-heading-m">Version 8</h2>
<p>
<a href="/phoenix/employer/register/v8/location" >
  <button class="govuk-button" data-module="govuk-button">
  View provider register
  </button></a></p>

  <h2 class="govuk-heading-m">Version 12</h2>
  <p>
  <a href="/phoenix/agent/v12/menu" >
    <button class="govuk-button" data-module="govuk-button">
View agent UI 
    </button></a></p>

<hr><br>

    <h2 class="govuk-heading-l">Public Beta (Post-Pilot)</h2>
    <p>Includes additional data requirements for the evaluation.</p>

<h2 class="govuk-heading-m">Version 17</h2>
<p>
  <a href="/phoenix/employer/v17/start-page" >
<button class="govuk-button" data-module="govuk-button">
Start employer journey
</button></a></p>

<h2 class="govuk-heading-m">Version 10</h2>
<p>
<a href="/phoenix/employer/register/v10/location" >
  <button class="govuk-button" data-module="govuk-button">
  View provider register
  </button></a></p>

  <h2 class="govuk-heading-m">Version 11</h2>
  <p>
  <a href="/phoenix/agent/v11/menu" >
    <button class="govuk-button" data-module="govuk-button">
View agent UI 
    </button></a></p>

    <hr><br>

    <h2 class="govuk-heading-l">Previous versions</h2>

{{ govukDetails({
  summaryText: "Employer",
  html: '<p><a href="/phoenix/employer/v1/start-page" class="govuk-link govuk-link--no-visited-state">Version 1 </a></p>
  <p><a href="/phoenix/employer/v2/start-page" class="govuk-link govuk-link--no-visited-state">Version 2 </a></p>
  <p><a href="/phoenix/employer/v3/start-page" class="govuk-link govuk-link--no-visited-state">Version 3 </a></p><p><a href="/phoenix/employer/v4/start-page" class="govuk-link govuk-link--no-visited-state">Version 4 </a></p>
  <p><a href="/phoenix/employer/v5/start-page" class="govuk-link govuk-link--no-visited-state">Version 5 (Sprint 10) </a></p>
  <p><a href="/phoenix/employer/v6/start-page" class="govuk-link govuk-link--no-visited-state">Version 6 (Sprint 11 - full journey)</a></p>
  <p><a href="/phoenix/employer/v7/start-page" class="govuk-link govuk-link--no-visited-state">Version 7 (Sprint 12 - full journey)</a></p>
  <p><a href="/phoenix/employer/v8/start-page" class="govuk-link govuk-link--no-visited-state">Version 8 (Sprint 13 - full journey)</a></p><p><a href="/phoenix/employer/v9/start-page" class="govuk-link govuk-link--no-visited-state">Version 9 (Sprint 14 - full journey)</a></p>
  <p><a href="/phoenix/employer/v10/start-page" class="govuk-link govuk-link--no-visited-state">Version 10 (Sprint 14 - full journey/ New content)</a></p><p><a href="/phoenix/employer/v11/start-page" class="govuk-link govuk-link--no-visited-state">Version 11 </a></p>
  <p><a href="/phoenix/employer/v12/email-address-gate" class="govuk-link govuk-link--no-visited-state">Version 12 - Private Beta </a> </p>
  <p><a href="/phoenix/employer/v13/email-address-gate" class="govuk-link govuk-link--no-visited-state">Version 13 - Private Beta (current private beta, including new start page redesign)</a> </p>
  <p><a href="/phoenix/employer/v14/email-address-gate" class="govuk-link govuk-link--no-visited-state">Version 14 - Pilot</a> </p>
  <p><a href="/phoenix/employer/v13-rct/start-page" class="govuk-link govuk-link--no-visited-state">Version 13-rct - Post Pilot</a> </p>
  <p><a href="/phoenix/employer/v14/email-address-gate" class="govuk-link govuk-link--no-visited-state">Version 14 - Pilot</a> </p>
  <p><a href="/phoenix/employer/v16/start-page" class="govuk-link govuk-link--no-visited-state">Version 16 - Post Pilot</a> </p>'
}) }}
{{ govukDetails({
  summaryText: "Employer (Providers list / register)",
  html: '<p><a href="/phoenix/employer/register/v1/page-1" class="govuk-link govuk-link--no-visited-state">Version 1 </a></p>
  <p><a href="/phoenix/employer/register/v2/page-1" class="govuk-link govuk-link--no-visited-state">Version 2 </a></p>
  <p><a href="/phoenix/employer/register/v3/page-1" class="govuk-link govuk-link--no-visited-state">Version 3 (S11) </a></p>
  <p><a href="/phoenix/employer/register/v4/page-1" class="govuk-link govuk-link--no-visited-state">Version 4 (S12) </a></p>
  <p><a href="/phoenix/employer/register/v5/page-1" class="govuk-link govuk-link--no-visited-state">Version 5 (S13) </a></p>
  <p><a href="/phoenix/employer/register/v6/page-1" class="govuk-link govuk-link--no-visited-state">Version 6 (S14) </a></p>
  <p><a href="/phoenix/employer/register/v7/page-1" class="govuk-link govuk-link--no-visited-state">Version 7 (S15) </a></p>
  <p><a href="/phoenix/employer/register/v8/page-1" class="govuk-link govuk-link--no-visited-state">Version 8</a></p>
  <p><a href="/phoenix/employer/register/v9/page-1" class="govuk-link govuk-link--no-visited-state">Version 9 </a></p>'
}) }}
{{ govukDetails({
  summaryText: "Employer (Flat content / guidance screens)",
  html: '<p> <a href="/phoenix/employer/flat-content/v1/page-1-old" class="govuk-link govuk-link--no-visited-state">Version 1 (old - with travel costs)</a> </p> 
  <p><a href="/phoenix/employer/flat-content/v1/page-1" class="govuk-link govuk-link--no-visited-state">Version 1 (current)</a></p>
   <p><a href="/phoenix/employer/v12/start-page-new2">Start page redesign - separate pages</a></p> <p><a href="/phoenix/employer/v12/start-page-new">Start page redesign - Single page</a></p>'
}) }}
{{ govukDetails({
  summaryText: "Employee",
  html: '<p><a href="/phoenix/employee/v1/guide-page" class="govuk-link govuk-link--no-visited-state">Version 1 </a></p> <p><a href="/phoenix/employee/v2/guide-page" class="govuk-link govuk-link--no-visited-state">Version 2 </a></p><p><a href="/phoenix/employee/v3/guide-page" class="govuk-link govuk-link--no-visited-state">Version 3 (current) </a></p>'
}) }}
{{ govukDetails({
  summaryText: "Provider",
  html: '<p><a href="/phoenix/provider/v1/page-1" class="govuk-link govuk-link--no-visited-state">Version 1 (not in use anymore)</a></p>
        <p><a href="/phoenix/provider/register-questions/page-1" class="govuk-link govuk-link--no-visited-state">Register questions</a></p>
        <p><a href="/phoenix/provider/code-checker/v1/page-1" class="govuk-link govuk-link--no-visited-state">Code checker Version 1</a></p>
        <p><a href="/phoenix/provider/code-checker/v2/page-1" class="govuk-link govuk-link--no-visited-state">Code checker Version 2 (Sprint 11)</a></p>
        <p><a href="/phoenix/provider/code-checker/v3/page-1" class="govuk-link govuk-link--no-visited-state">Code checker Version 3 (Sprint 12) - current</a></p>
        <p><a href="/phoenix/provider/service-content/v1/1scheme-overview" class="govuk-link govuk-link--no-visited-state">Service (flat) content Version 1 (S14)</a></p>'
}) }}
{{ govukDetails({
  summaryText: "Agent (non pilot)",
  html: '<p><a href="/phoenix/agent/v1/login" class="govuk-link govuk-link--no-visited-state">Version 1 (S16)</a></p>
    <p><a href="/phoenix/agent/v2/login" class="govuk-link govuk-link--no-visited-state">Version 2 (S16)</a></p>
    <p> <a href="/phoenix/agent/v3/login" class="govuk-link govuk-link--no-visited-state">Version 3 (S17)</a></p>
    <p><a href="/phoenix/agent/v4/login" class="govuk-link govuk-link--no-visited-state">Version 4 (S17)</a></p>
    <p><a href="/phoenix/agent/v5/login" class="govuk-link govuk-link--no-visited-state">Version 5 (Only add function)</a></p>
    <p><a href="/phoenix/agent/v6/login" class="govuk-link govuk-link--no-visited-state">Version 6 </a></p>
    <p><a href="/phoenix/agent/v7/menu" class="govuk-link govuk-link--no-visited-state">Version 7 (Pilot)</a></p>'
}) }}
{{ govukDetails({
  summaryText: "Agent Pilot Prototypes",
  html: '<p><a href="/phoenix/agent/v8/menu" class="govuk-link govuk-link--no-visited-state">Version 8 </a></p>
        <p><a href="/phoenix/agent/v9/menu" class="govuk-link govuk-link--no-visited-state">Version 9 </a></p>
        <p><a href="/phoenix/agent/v10/menu" class="govuk-link govuk-link--no-visited-state">Version 10 - with changes to provider form (Current Post-Pilot design)</a></p>'
}) }}
  {% endblock %}
