{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Provider journey
    </h1>

    <h2 class="govuk-heading-l">
      Public Beta
    </h2>


  
  <br>
  
  <a class="govuk-link govuk-link--no-visited-state govuk-body-m" href="phoenix/provider/v1/terms-and-conditions.html">Terms and conditions</a>

  <br><br>

  {{ govukButton({
    text: 'View prototype',
    href: '/phoenix/provider/v1/how-it-works'
    }) }}

  <br><br>


  </div>
  </div>

{% endblock %}
