{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Provider journey
    </h1>

    <h2 class="govuk-heading-l">
      Public Beta
    </h2>




    <h2 class="govuk-heading-m">
      Version 1, June 2024
      </h2>
      
      <h3 class="govuk-heading-s">Changes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added mainstream Provider content and T&Cs (<a href="https://dwpdigital.atlassian.net/browse/PHN-1624">Jira ticket PHN-1624</a>)</li>
        <li>Provider onboarding - agree to T&Cs (<a href="https://dwpdigital.atlassian.net/browse/PHN-1829">Jira ticket PHN-1829</a>)</li>
      </ul>
    
      <!-- <h3 class="govuk-heading-s">Notes</h3>
      <p>Design:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1710879821478/5d07a4f19ee209cd2865d2609559c32ec7d6ca37?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Provider register wireframes</a></li>
      </ul> -->
    
      <!-- <p>Research:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1705411971918/63d8d7801b6ceadce3b16288670b716822dd35e7?sender=u57f46f1ebfd00e6e8d919712" class="govuk-link" rel="noreferrer noopener" target="_blank">Planning for task-based UR</a></li>
      </ul> -->
      
      <br>





  
  <br>
  
  <a class="govuk-link govuk-link--no-visited-state govuk-body-m" href="phoenix/provider/v1/mainstream/terms-and-conditions.html">Terms and conditions</a>

  <br><br>

  {{ govukButton({
    text: 'View prototype',
    href: '/phoenix/provider/v1/mainstream/how-it-works'
    }) }}

  <br><br>


  </div>
  </div>

{% endblock %}
