{% extends "layouts/main.html" %}

{% block pageTitle %}
Sorry, the service is unavailable
{% endblock %}

{% block beforeContent %}
  {# {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }} #}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Sorry, the service is unavailable
      </h1>

      <p>
        You will be able to use the service from 9am on Monday 19 November 2023.
      </p>

      <p>
        Find out more about how to <a href="https://www.support-with-employee-health-and-disability.dwp.gov.uk/support-with-employee-health-and-disability">support an employee with health and disability</a>.
      </p>

    </div>
  </div>

{% endblock %}
