{% extends "layout.html" %}

{% block pageTitle %}
  Using workplace health to help an employee 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
How the workplace health assessment discount scheme works <h1>

<p>1: <a href="are-you-eligible">Check if your business is eligible </a>and get a discount code.</p>

<p>2: Search the list of providers and book an assessment.</p>

<p>3: Give the provider your discount code.</p>

<p>4: After the assessment, receive advice about free or funded onward support for your employee.</p>

<p>5: Pay the provider. They will send you an invoice.</p>

<p>You can use this scheme for all your employees.</p>

<p>An employee can have as many assessments as they like, but you will need to get a new code each time.</p>

<p>Discount codes do not expire.</p>

<h2 class="govuk-heading-m"> What an assessment will cost </h2>

<p>An assessment will cost between £20 and £80 after the 80% discount.</p>


<h2 class="govuk-heading-m"> Why the cost of assessments differ </h2>
<p>The price can be different depending on:</p>
<ul class="govuk-list govuk-list--bullet">
<li>whether the assessment includes travel costs</li>
<li>the complexity of the case</li>
<li>the type of health care professional that does the assessment</li>
</ul>

<div class="govuk-inset-text">
<p class="govuk-body govuk-!-font-weight-bold">  Examples</p>

<p>Sam has a video call assessment with a nurse. It costs £150, so his employer pays £30.
</p>
<p>Emma has an video call with an occupational therapist. It costs £250, so her employer pays £50.
</p>
</div>

<h2 class="govuk-heading-m"> What happens if there are travel costs</h2>
<p>Most assessments will be by video call, but some may need to be in person. This can involve extra costs due to travel.</p>
<p>You can claim for travel costs related to an assessment. The 80% discount applies up to a full cost of £400. You will need to pay any remaining costs above £400.</p>

<div class="govuk-inset-text">
<p class="govuk-body govuk-!-font-weight-bold">  Examples</p>

  <p>Joe has an in-person assessment with an occupational therapist. It costs £200 and the travel costs £40, bringing the total to £240. His employer pays £48.
</p>
  <p>Kat has an in-person assessment with a doctor. The assessment costs £370 and the travel costs £50, bringing the total to £420. Her employer pays £100 in total.
</p>

</div>

<h2 class="govuk-heading-m">If an employee needs to cancel an assessment</h2>
<p>Cancellation of an assessment might result in a fee.</p>
<p>You need to check with the workplace health provider what their cancellation policy is.</p>

<h2 class="govuk-heading-m">If an employee does not attend an assessment</h2>
<p>You will have to pay for the full cost of an assessment if your employee does not attend.</p>
<p>Reassuring and reminding your employee about the assessment process means they are more likely to attend.</p>





  </div>
  </div>
</main>
    </div>

{% endblock %}
