{% extends "layout.html" %}

{% block pageTitle %}
  Get an 80% discount on expert workplace health advice and recommendations for an employee
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Get a discount on workplace health assessments for employees  </h1>
</div>

<div class="govuk-grid-column-two-thirds">



<p>Small and medium-sized enterprises can use this service to: </p>

<ul class="govuk-list govuk-list--bullet">
<li>get a code for an 80% discount on workplace health assessments for their employees</li>
<li><a href="/phoenix/employer/register/v8/location">search for a private sector workplace health provider to do the assessment</a></li>
</ul>

<p>After the discount an assessment will cost between £20 and £80. </p>
<p>It will help you understand what support your employee needs to stay in or return to work.</p>
<p>Supporting an employee’s health and wellbeing may reduce the amount of time they need to take off work. </p>

<p>Find out more about <a href="/phoenix/employer/flat-content/v1/page-1"> how the discount scheme works</a>.</p>



  <h2 class="govuk-heading-m">Before you start </h2>
<p>You will need to tell us:</p>

          <ul class="govuk-list govuk-list--bullet">
  <li>where your company is registered</li>
<li>how many employees work for you </li>
<li>what your yearly turnover is </li>
<li>your contact details</li>
<li>your balance sheet total for your latest financial year</li>
      </ul>


      <p>You do not need to provide any personal information about your employee at this stage.</p>

      <a href="are-you-eligible" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>


     



    </div>

    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular ">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Related content</span>
          
             
       <a href="https://www.support-with-employee-health-and-disability.dwp.gov.uk/support-with-employee-health-and-disability" class="govuk-body-s">  Supporting and managing disabled employees and employees with health conditions </a>

<br><br>

   <a href="https://www.gov.uk/access-to-work" class="govuk-body-s">
            Advice for employees if their health is affecting them at work </a>
        </h2>
      </div>




            </div>


      </div>




  </div>
{% endblock %}
