{% extends "layout.html" %}

{% block pageTitle %}
  Get an 80% discount on expert workplace health advice and recommendations for an employee
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

     
</div>

<div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">
    Get a discount on workplace health assessments for employees  </h1>
</div>

<div class="govuk-grid-column-two-thirds">


<p>Contents</p>
<ul class="govuk-list ">
<li><a href="start-page-new">Overview</a> </li>
<li><a href="eligibility">Eligibility</a> </a></li>
<li><a href="what-is-ha">What is a workplace health assessment</a></li>
<li><a href="support-an-employee">Using workplace health assessment to support an employee</a>  </li>
<li><a href="how-scheme-works">How the discount scheme works</a> </li>
<li>Apply</li>
</ul>

<h2 class="govuk-heading-m"><a id="apply"></a> Apply</h2>

<h3 class="govuk-heading-s">Before you start </h3>
<p>You will need to tell us:</p>

          <ul class="govuk-list govuk-list--bullet">
  <li>where your company is registered</li>
<li>how many employees work for you </li>
<li>your yearly turnover</li>
<li>your balance sheet total for your latest financial year</li>
<li>your contact details</li>
      </ul>

      <p>You will not need to send us any financial documents or give exact figures.  </p>
      <p>You do not need to provide any personal information about your employee at this stage.</p>


      <a href="are-you-eligible" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular ">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Related content</span>
         
  
<a href="https://www.support-with-employee-health-and-disability.dwp.gov.uk/support-with-employee-health-and-disability" class="govuk-body-s"> Support with employee health and disability</a>

<br><br>

<a href="https://www.gov.uk/access-to-work" class="govuk-body-s">
     Advice for employees if their health is affecting them at work </a>
<br><br>

   
        </h2>
      </div>




            </div>


      </div>

      <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="how-scheme-works" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">How the discount scheme works</span></a>
        </div>
        
      </nav>


  </div>
{% endblock %}
